/* 
You can generate this color from your brand color 
by Go to Demo Page of this template then change color in sidebar setting
..............................................*/
/*..............................................
Main Color
..............................................*/
.bg--color1,
.btn-color1,
.consultant-select.bootstrap-select > .dropdown-toggle.btn-light:hover,
.consultant-select.bootstrap-select > .dropdown-toggle.btn-light:focus,
.square.in-dark:hover,
.ts-language .bootstrap-select.language-select .dropdown-menu,
.ts-main-menu.in-light > ul > li > ul li a:hover,
.ts-main-menu.in-dark > ul > li > ul,
.ts-main-menu.in-dark > ul > li > ul ul,
.ts-accordion--ghost .card-header .ts-btn[aria-expanded='true'],
.owl-carousel.arrows-themes .owl-nav [class*='owl-'],
.widget-services .widget-title,
.ts-nav-tabs .nav-link.active,
.ts-nav-tabs .nav-link.active:hover,
.widget-tags ul li a:hover,
.ts-pagination-01 .pagination .page-item:hover .page-link,
.product-item .product-detail .right:hover a,
.select-orderby.show .btn-light,
.search-popup__close-btn,
.ts-input--ghost:focus,
.consultant-select.show.bootstrap-select > .dropdown-toggle,
.ts-input--ghost.active,
.flatpickr-time input:focus,
.flatpickr-time input:hover,
.ts-input--ghost[readonly]:focus,
.flatpickr-day.selected,
.flatpickr-day:hover,
.ts-main-menu.in-transparent > ul > li ul li a:hover,
.ts-accrodion--ghost .card-header .ts-btn[aria-expanded="true"],
.btn-outline-color1:hover {
  background-color: #00accb;
}

#a-o-1,
#cog5,
#invest-svg * circle,
#s-o-5 {
  fill: #00accb;
}

.owl-carousel.arrows-themes .owl-nav [class*='owl-'],
.widget-services ul li.active a,
.ts-nav-tabs .nav-link.active,
.ts-nav-tabs .nav-link.active:hover,
.widget-tags ul li a:hover,
.ts-pagination-01 .pagination .page-item:hover .page-link,
.ts-input:focus,
.product-item .product-detail .right:hover a,
.page-coming-soon .countdown .item,
.btn-outline-color1,
.section-title-wrap a:hover,
.flatpickr-day.selected,
.flatpickr-day:hover {
  border-color: #00accb;
}

.color--color1,
a,
.social-list-01.in-light a:hover,
.list-style-01.color li:before,
.ts-main-menu.in-light > ul > li:hover > a,
.search-popup-btn.in-light:hover,
.btn-cart.in-light:hover .dropdown-toggle,
.ts-testimonial-01 .testimonial-content .desc:before,
.ts-testimonial-01 .testimonial-content .desc:after,
.portfolio-filter-01 a.active,
.portfolio-filter-01 a:hover,
.ts-blog-card-04 .card-body .title a:hover,
.ts-blog-card-03 .card-body .title a:hover,
.ts-blog-card-04 .card-body .title a:hover,
.ts-portfolio-02 .card-body a:hover,
.ts-blog-card-05 .title a:hover,
.ts-blog-card-05 .card-footer .catalog a,
.widget-catalog ul li a:hover,
.widget-archive ul li a:hover,
.widget-meta ul li a:hover,
.ts-portfolio-03 .card-body .title a:hover,
.ts-blog-card-06 .card-body .title a:hover,
.ts-blog-card-06 .read-more,
.comment-content cite a,
.product-item .product-detail h3 a:hover,
.ts-product-card-widget .product-title a:hover,
.table-cart td.product-name a,
.page-coming-soon h1,
.page-coming-soon .countdown .item span,
.page-404 h1,
.btn-outline-color1 {
  color: #00accb;
}

/*..............................................
Main Color Hover
..............................................*/
.btn-color1:hover,
#to-the-top:hover {
  background-color: #0097b1;
}

.ts-blog-card-04 .card-body .card-footer a:hover,
.section-title-wrap a:hover,
.ts-team-card-05 .team-card-phone a:hover {
  color: #0097b1;
}

/*..............................................
Main Color RGB
..............................................*/
.ts-portfolio-01 .card-img-overlay {
  background-color: rgba(0, 172, 203, 0.9);
}

/*..............................................
Sub Color
..............................................*/
.bg--color3,
.ts-main-menu.in-transparent > ul > li ul,
.ts-language.in-dark .bootstrap-select .dropdown-item.active {
  background-color: #005974;
}

/*..............................................
Dynamic Color
..............................................*/
.btn-color1,
.icon-box-02-icon,
.ts-portfolio-01 .card-img-overlay .title,
.ts-portfolio-01 .card-img-overlay .category,
.consultant-select.bootstrap-select > .dropdown-toggle.btn-light:hover,
.consultant-select.bootstrap-select > .dropdown-toggle.btn-light:focus,
#to-the-top:hover,
.ts-accordion--ghost .card-header .ts-btn[aria-expanded='true'],
.ts-main-menu.in-light > ul > li > ul li a:hover,
.search-popup__close-btn,
.consultant-select.show.bootstrap-select > .dropdown-toggle,
.ts-language.in-dark .bootstrap-select .dropdown-item.active,
.ts-main-menu.in-transparent > ul > li ul li a:hover,
.ts-accrodion--ghost .card-header .ts-btn[aria-expanded="true"] {
  color: #ffffff;
}

.ts-portfolio-01 .card-img-overlay .card-divider {
  background-color: #ffffff;
}

/*# sourceMappingURL=colors.css.map */
