mixin lib()
  script(src='js/extention/jquery-3.3.1.min.js')
  script(src='js/detech-mobile.min.js')
  script(src='js/extention/animsition.min.js')
  script(src='js/extention/popper.min.js')
  script(src='js/extention/bootstrap.min.js')
  script(src='js/extention/bootstrap-select.min.js')
  script(src='js/extention/jquery.mmenu.light.min.js')
  script(src='js/extention/owl.carousel.min.js')
  script(src="js/mobilemenu.min.js")
  //- script(src="js/sticky.min.js")
  script(src='js/back-to-top.min.js')
  script(src='js/animsition-page-load.min.js')
