//
// Layout :: Call To Action
// --------------------------------------------------
.ts-box-cta-01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-radius: 2px;
  overflow: hidden;

  .box-cta {
    &-title {
      margin-bottom: 15px;
    }

    &-desc {
      margin-bottom: 0;
    }
  }

  .ts-btn {
    white-space: nowrap;
  }

  &.in-dark {
    .box-cta {
      &-title {
        color: $white;
      }

      &-desc {
        color: $gray60;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    display: block;

    .left {
      margin-bottom: 30px;
    }
  }
}