//
// Layout :: Control
// --------------------------------------------------
.control {
  width: 320px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  transform: translateX(-100%);
  z-index: 9999;
  color: $gray20;
  background-color: $white;
  border-right: 1px solid $whitesmoke;

  &-inner {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 60px 0;
  }

  .result-color {
    color: $gray20;
  }

  h3 {
    color: $gray20;
  }

  .list-color-pattern {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    li {
      display: inline-block;
      flex: 0 0 50px;
      height: 50px;
      margin-bottom: 5px;
    }
  }

  .btn-open {
    position: absolute;
    left: 100%;
    top: 200px;
    color: $white;
  }

  .button-toggle-wrap {
  }

  .button-toggle {
    display: inline-block;
    background: lighten(#555, 40%);
    border-radius: 3px;
    height: 48px;
    padding: 4px;
    width: 101px;
    position: relative;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.22);

    .handle {
      position: absolute;
      left: 4px;
      right: auto;
      width: 40px;
      height: 40px;
      background: #fff;
      border-radius: 3px;
      transition: all 0.4s cubic-bezier(0.33, 1.6, 0.66, 1);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
    }
  }

  .toggler {
    display: none;

    &:checked {
      & + .button-toggle {
        background: lighten(#a21, 30%);

        .handle {
          left: 57px;
        }
      }
    }
  }

  &.open {
    transform: none;
  }
}

.sp-container {
  width: 100%;
  border: 0;
  border-radius: 2px;
  background-color: $whitesmoke;

  .sp-picker-container {
    min-width: 100%;
    box-sizing: border-box;
  }
}
