//
// Layout :: Desktop Navigation
// --------------------------------------------------
.ts-main-menu {
  font-family: $oswald;
  font-weight: 300;

  // all ul
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  // all li
  li {
  }

  // all a
  a {
    color: $color5;
    text-decoration: none;
  }

  // ul level 1
  & > ul {
    // li level 1
    & > li {
      display: inline-flex;
      position: relative;

      // a level 1
      & > a {
        line-height: 1;
        padding: 18px 20px;
        font-size: 14px;
        display: inline-flex;
        align-items: center;
        transition: $transition-base;

        .ts-icon {
          padding-left: 3px;
          font-size: 12px;
          vertical-align: top;
        }
      }

      // hover li level 1
      &:hover {
        // active a level 1
        & > a {
          color: color(color1, 1);
        }

        // active ul level 2 only
        & > ul {
          opacity: 1;
          transform: scale(1);
          top: 100%;
        }
      }

      &:last-child > ul,
      &:nth-last-child(2) > ul {
        right: 0;
        left: auto;

        ul {
          right: 100%;
          left: auto;
          transition-property: opacity, right;
          transition-duration: 0.3s;
        }

        li:hover > ul {
          right: 100%;
          left: auto;
        }
      }

      // ul level 2
      & > ul {
        top: 100%;
        left: 0;
        transition-property: opacity, top;
        transition-duration: 0.3s;

        // ul level 3,4...
        ul {
          top: 0;
          left: 100%;
          transition-property: opacity, left;
          transition-duration: 0.3s;
        }
      }
    }

    // ul level 2,3...
    ul {
      opacity: 0;
      transform: scale(0);
      height: auto;
      min-width: 200px;
      position: absolute;
      z-index: 1021;
      background: $white;
      // box-shadow light
      // box-shadow: 0px 3px 5px 0px rgba($black, 0.1);
      box-shadow: 0 5px 11px 0 rgba($black, 0.27);

      // li level 2,3...
      li {
        position: relative;

        &.has-sub {
          & > a:after {
            content: "\f105";
            font-weight: 900;
            font-family: $lineAwesome;
            font-size: 10px;
            padding-left: 5px;
            color: inherit;
          }
        }

        // a level 2,3...
        a {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          padding: 8px 15px;
          width: 100%;
        }

        // li level 2,3... hover
        &:hover {
          background-color: color(color1, 1);
          color: $white;

          // active next a only
          & > a {
            color: $white;
          }

          // active next ul only
          & > ul {
            opacity: 1;
            transform: scale(1);
            left: 100%;
          }
        }

        &:not(:last-of-type) {
          border-bottom: 1px solid rgba($black, 0.03);
        }
      }
    }
  }

  &.in-dark {
    & > ul {
      & > li {
        & > a {
          color: $white;
        }

        &:hover,
        &.active {
          & > a {
            color: $white;
          }
        }
      }
    }
  }

  &.color-theme {
    & > ul {
      & > li {
        & > a {
          color: $white;
        }

        &:hover {
          & > a {
            color: $white;
          }
        }
      }
    }

    &.active-background-skewX,
    &.active-background {
      & > ul {
        & > li {
          & > a {
            &:before {
              background-color: $white;
            }
          }

          &:hover,
          &.active {
            & > a {
              color: color(color1, 1);
            }
          }
        }
      }
    }

    &.active-line-bottom,
    &.active-line-top,
    &.active-line-through {
      & > ul {
        & > li {
          & > a {
            &:before {
              background-color: $white;
            }
          }
        }
      }
    }

    &.active-line-bottom-top {
      & > ul {
        & > li {
          & > a {
            &:before {
              border-color: $white;
            }
          }
        }
      }
    }

    &.active-dot {
      & > ul {
        & > li {
          & > a {
            &:before {
              color: $white;
            }
          }
        }
      }
    }

    &.active-link {
      & > ul {
        & > li {
          &:hover,
          &.active {
            & > a {
              color: $white;
            }
          }
        }
      }
    }

    &.divider {
      & > ul > li:not(:last-of-type):after {
        color: $white;
      }
    }
  }

  &.sub-dark {
    & > ul {
      & > li {
        ul {
          background-color: $black;

          li {
            a {
              color: $white;
            }

            &:hover {
              background-color: color(color1, 1);

              & > a {
                color: $white;
              }
            }
          }
        }
      }
    }
  }

  &.sub-color-theme {
    & > ul {
      & > li {
        ul {
          background-color: color(color1, 1);

          li {
            & > a {
              color: $white;
            }

            &:hover {
              background-color: rgba($black, 0.3);
            }
          }
        }
      }
    }
  }

  // trim
  &.trim {
    & > ul {
      & > li {
        &:first-child {
          & > a {
            padding-left: 0;
          }
        }

        &:last-child {
          & > a {
            padding-right: 0;
          }
        }
      }
    }
  }

  // active
  &.active-link {
    & > ul {
      & > li {
        &:hover,
        &.active {
          & > a {
            color: color(color1, 1);
          }
        }
      }
    }
  }

  &.active-line-bottom {
    & > ul {
      & > li {
        & > a {
          display: block;
          position: relative;

          &:before {
            content: "";
            height: 3px;
            width: 100%;
            background-color: color(color1, 1);
            background-clip: content-box;
            padding-left: inherit;
            padding-right: inherit;
            left: 0;
            bottom: 0;
            position: absolute;
            opacity: 0;
            transition: $transition-base;
          }
        }

        &:hover,
        &.active {
          & > a {
            &:before {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &.active-line-top {
    & > ul {
      & > li {
        & > a {
          display: block;
          position: relative;

          &:before {
            content: "";
            height: 3px;
            width: 100%;
            background-color: color(color1, 1);
            background-clip: content-box;
            padding-left: inherit;
            padding-right: inherit;
            left: 0;
            top: 0;
            position: absolute;
            opacity: 0;
            transition: $transition-base;
          }
        }

        &:hover,
        &.active {
          & > a {
            &:before {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &.active-line-bottom-top {
    & > ul {
      & > li {
        & > a {
          display: block;
          position: relative;

          &:before {
            content: "";
            height: 100%;
            width: 100%;
            border-top: 3px solid color(color1, 1);
            border-bottom: 3px solid color(color1, 1);
            padding-left: inherit;
            padding-right: inherit;
            left: 0;
            top: 0;
            position: absolute;
            opacity: 0;
            transition: $transition-base;
          }
        }

        &:hover,
        &.active {
          & > a {
            &:before {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &.active-dot {
    & > ul {
      & > li {
        & > a {
          display: block;
          position: relative;

          &:before {
            content: "●";
            color: color(color1, 1);
            padding-right: 2px;
            opacity: 0;
            transition: $transition-base;
          }
        }

        &:hover,
        &.active {
          & > a {
            &:before {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &.active-background {
    & > ul {
      & > li {
        & > a {
          display: block;
          position: relative;
        }

        &:hover,
        &.active {
          & > a {
            color: $white;
            background-color: color(color1, 1);
          }
        }
      }
    }
  }

  &.active-background-skewX {
    & > ul {
      & > li {
        & > a {
          display: block;
          position: relative;
          z-index: 2;
          transition: none;

          &:before {
            content: "";
            height: 100%;
            width: 106%;
            background-color: color(color1, 1);
            padding-left: inherit;
            padding-right: inherit;
            left: -2px;
            top: 0;
            position: absolute;
            opacity: 0;
            z-index: -1;
            transform: skewX(-17deg);
          }
        }

        &:hover,
        &.active {
          & > a {
            color: $white;

            &:before {
              opacity: 1;
            }
          }
        }

        & > ul {
          left: -14px;
        }

        &:last-child > ul,
        &:nth-last-child(2) > ul {
          right: 9px;
          left: auto;
        }
      }
    }
  }

  &.active-line-through {
    & > ul {
      & > li {
        & > a {
          display: block;
          position: relative;
          z-index: 2;

          &:before {
            content: "";
            height: 3px;
            width: 100%;
            background-color: color(color1, 0.5);
            background-clip: content-box;
            left: 0;
            top: 50%;
            padding-left: inherit;
            padding-right: inherit;
            margin-top: -1px;
            position: absolute;
            opacity: 0;
            transition: $transition-base;
            z-index: -1;
          }
        }

        &:hover,
        &.active {
          & > a {
            &:before {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  // sub icon
  &.sub-icon {
    & > ul {
      // li level 1
      & > li.has-sub {
        // a level 1
        & > a {
          &:after {
            content: "\f107";
            font-family: $lineAwesome;
            font-weight: 900;
            font-size: 10px;
            padding-left: 5px;
            color: inherit;
          }
        }
      }

      ul {
        li.has-sub {
          & > a {
            &:after {
              content: "\f105";
              font-family: $lineAwesome;
              font-size: 10px;
              color: inherit;
            }
          }

          // li level 2,3... hover
          &:hover {
            // active next a only
            & > a:after {
              color: inherit;
            }
          }
        }
      }
    }

    &.caret {
      & > ul {
        & > li.has-sub {
          & > a {
            &:after {
              content: "\f0d7";
            }
          }
        }

        ul {
          li.has-sub {
            & > a {
              &:after {
                content: "\f0da";
              }
            }
          }
        }
      }
    }

    &.plus {
      & > ul {
        & > li.has-sub {
          & > a {
            &:after {
              content: "\f067";
            }
          }
        }

        ul {
          li.has-sub {
            & > a {
              &:after {
                content: "\f067";
              }
            }
          }
        }
      }
    }
  }

  // style color & background color
  &.style-01 {
    & > ul {
      & > li {
        transition: background-color 0.1s;

        & > a {
          color: $white;
          transition: color 0.35s;
          // font-weight: 300;
        }

        &.has-sub > a {
          &:after {
            display: none;
          }
        }

        &:hover,
        &.active {
          background-color: color(color3, 1);
        }

        & > ul {
          & > li {
            &:hover {
              background-color: color(color1, 1);

              & > a {
                color: $white;
              }
            }
          }

          ul {
            background-color: color(color3, 1);

            li {
              a {
                color: $white;
              }

              &:hover {
                background-color: color(color1, 1);

                & > a {
                  color: $white;
                }
              }
            }
          }
        }
      }
    }

    & > ul {
      ul {
        li.has-sub:hover {
          & > a {
            color: $white;
          }
        }
      }
    }
  }

  &.style-02 {
    & > ul {
      & > li {
        & > a {
          font-size: 1rem;
          padding: 20px;
          color: $gray20;
          padding: 32px 25px;
          // text-transform: lowercase;
        }

        &:hover,
        &.active {
          & > a {
            color: $white;
          }
        }
      }
    }

    & > ul {
      // li level 1
      & > li.has-sub {
        // a level 1
        & > a {
          &:after {
            display: none;
          }
        }
      }
    }
  }

  &.style-03 {
    & > ul {
      & > li {
        position: relative;

        & > a {
          font-size: 1rem;
          color: $white;
          padding: 42px 25px;
          opacity: 0.9;
        }

        &:hover,
        &.active {
          // &:after {
          //   content: "";
          //   width: 0;
          //   height: 0;
          //   border-top: 8px solid rgba($white, .7);
          //   border-left: 8px solid transparent;
          //   border-right: 8px solid transparent;
          //   position: absolute;
          //   top: 0;
          //   left: 50%;
          //   transform: translateX(-50%);
          // }

          & > a {
            color: $white;
            opacity: 1;
          }
        }
      }

      // ul level 2,3...
      ul {
        background-color: rgba($black, 0.9);
        backdrop-filter: blur(5px);
        box-shadow: none;
        // padding: 10px 0;

        li {
          a {
            color: $white;
            text-transform: uppercase;
          }

          &:not(:last-of-type) {
            border-bottom-color: rgba($white, 0.05);
          }

          &:hover {
            background-color: $white;

            & > a {
              color: $gray20;
            }
          }
        }
      }
    }
  }

  // divider
  &.divider {
    & > ul > li:not(:last-of-type) {
      &:after {
        content: "/";
        position: absolute;
        right: -5px;
        top: 50%;
        line-height: 1;
        margin-top: -7px;
        color: rgba($black, 0.35);
        // color: color(color1, 1);
      }
    }

    &.line {
      & > ul > li:not(:last-of-type):after {
        content: "|";
      }
    }

    &.dot {
      & > ul > li:not(:last-of-type):after {
        content: "○";
      }
    }

    &.dot-black {
      & > ul > li:not(:last-of-type):after {
        content: "●";
      }
    }

    &.square {
      & > ul > li:not(:last-of-type):after {
        content: "□";
      }
    }

    &.square-black {
      & > ul > li:not(:last-of-type):after {
        content: "■";
      }
    }

    &.diamond {
      & > ul > li:not(:last-of-type):after {
        content: "◇";
      }
    }

    &.diamond-black {
      & > ul > li:not(:last-of-type):after {
        content: "◆";
      }
    }

    &.in-dark,
    &.color-theme {
      & > ul > li:after {
        color: rgba($white, 0.35);
      }
    }

    &.divider-color {
      & > ul > li:after {
        color: color(color1, 1);
      }
    }
  }

  @include media-breakpoint-down(lg) {
    & > ul {
      & > li {
        & > a {
          font-size: 13px;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
}
