//
// Components :: Grid
// --------------------------------------------------
.grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  .item {
    .card-img {
      @include fitImage();
    }

    figcaption {
      display: none;
    }

    &:nth-child(1) {
      grid-area: col1;
    }

    &:nth-child(2) {
      grid-area: col2;
    }

    &:nth-child(3) {
      grid-area: col3;
    }

    &:nth-child(4) {
      grid-area: col4;
    }
  }
}

.grid-01 {
  grid-template-areas:
    'col1 col1 col2 col2'
    'col1 col1 col2 col2'
    'col1 col1 col3 col3'
    'col1 col1 col3 col3';
}

.grid-02 {
  grid-template-areas:
    'col1 col1 col1 col1'
    'col1 col1 col1 col1'
    'col2 col2 col3 col3'
    'col2 col2 col3 col3';
}

.grid-03 {
  grid-template-areas:
    'col1 col1 col3 col3'
    'col1 col1 col3 col3'
    'col2 col2 col3 col3'
    'col2 col2 col3 col3';
}

.grid-04 {
  grid-template-areas:
    'col1 col1 col2 col3'
    'col1 col1 col2 col3'
    'col1 col1 col2 col3'
    'col1 col1 col2 col3';
}
