//
// Layout :: Woocommerce
// --------------------------------------------------
.ts-notify {
  position: absolute;
  width: 16px;
  height: 15px;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  top: 0;
  right: -6px;
  border-radius: 50%;
  padding: 0;
}

.has-notify {
  position: relative;

  .ts-notify {
    background-color: $black1;
    color: $white;
  }

  &.in-dark {
    .ts-notify {
      background-color: $white;
      color: $black1;
    }
  }
}

.widget-product-list {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0 0 20px;
      border-bottom: 1px solid rgba($black, 0.1);
      margin: 0 0 20px;
      @extend .clearfix;
    }
  }
}

// shop cart
.table-cart {
  width: 100%;
  color: $gray40;

  th {
    border: 0px solid rgba($black, 0.1);
    border-width: 0 0px 3px 0;
    font-weight: normal;
    padding: 9px 12px;
  }

  td {
    padding: 20px 12px;
    vertical-align: middle;
    border: 0px solid rgba($black, 0.1);
    border-width: 0 0px 1px 0;

    &.product-thumbnail {
      width: 90px;
    }

    a.remove {
      border-radius: 100%;
      color: $white;
      display: block;
      font-size: 12px;
      font-weight: 700;
      height: 13px;
      line-height: 13px;
      text-align: center;
      text-decoration: none;
      width: 13px;
      background-color: $gray80;
      line-height: 1;
      transition: $transition-base;

      &:hover {
        background-color: $red;
      }
    }

    &.product-name {
      a {
        color: color(color1, 1);

        &:hover {
          color: color(color3, 1);
          text-decoration: none;
        }
      }
    }

    &.product-quantity input {
      background-color: rgba($black, 0.1);
      color: $gray40;
      border: none;
      padding: 10px 10px;
      width: 80px;
      font-weight: normal;
    }

    &.actions {
      .coupon {
        float: left;
        display: flex;

        .ts-input {
          margin-right: 30px;
        }
      }

      & > .ts-btn {
        float: right;
      }
    }
  }
}

.cart-collaterals {
  border: 1px solid rgba($black, 0.1);
  border-radius: 2px;
  padding: 40px;

  .table-cart-collaterals {
    margin-bottom: 24px;
    text-align: left;
    width: 100%;
    color: $gray40;

    th,
    td {
      padding: 20px 12px;
      border-width: 0 0px 1px 0;
      border-style: dashed;
      border-color: rgba($black, 0.1);
    }

    th {
      padding-left: 0;
    }

    .order-total {
      font-size: 24px;
      font-weight: bold;
    }
  }
}

// shop checkout
.checkout-collaterals {
  border: 1px solid rgba($black, 0.1);
  border-radius: 2px;
  padding: 40px;
}

.table-checkout-collaterals {
  margin-bottom: 25px;
  text-align: left;
  width: 100%;
  color: $gray20;

  th,
  td {
    padding: 20px 12px 20px 0;
    border-width: 0 0px 1px 0;
    border-style: dashed;
    border-color: rgba($black, 0.1);
  }

  .order-total {
    font-size: 24px;
    font-weight: bold;
  }
}

.table-cart {
  @include media-breakpoint-down(md) {
    border-top: 1px solid rgba($black, 0.1);

    thead {
      display: none;
    }

    tr {
      display: block;
    }

    td {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      border: 1px solid rgba($black, 0.1);
      border-top: 0;
      padding: 8px 12px;
      min-height: 38px;

      &.product-thumbnail {
        display: none;
      }

      &.actions {
        display: inline-block;
        width: 100%;

        .coupon {
          margin-bottom: 10px;
          display: inline-flex;
          width: 100%;

          .ts-input {
            width: 50%;
          }

          .btn-apply-coupon {
            width: 50%;
            margin-right: 0;
          }
        }

        .btn-update-cart {
          width: 100%;
        }

        &:before {
          display: none;
        }
      }

      &.product-quantity {
        input {
          width: 60px;
          padding: 4px;
        }
      }

      &:before {
        content: attr(data-title) ': ';
        font-weight: 700;
      }

      &.product-remove {
        background-color: rgba($black, 0.05);

        &:before {
          display: none;
        }
      }
    }
  }
}

// shop detail
.product-detail-quantity input {
  background-color: rgba($black, 0.1);
  color: $gray40;
  border: none;
  padding: 10px 10px 0;
  width: 80px;
  font-weight: normal;
}

.commentlist {
  margin: 0;
  padding: 15px 0;

  .comment:not(:last-of-type) {
    margin-bottom: 30px;
  }
}

.comment_container {
  display: flex;
  font-size: 13px;
  color: $gray40;

  .avatar {
    background: $gray90;
    border: 1px solid rgba($black, 0.1);
    border-radius: 2px;
    overflow: hidden;
    flex: 0 0 60px;
  }

  .comment-text {
    flex-grow: 1;
    margin-left: 30px;
    border: 1px solid rgba($black, 0.1);
    border-radius: 2px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .description {
      width: 100%;
    }
  }

  @include media-breakpoint-down(sm) {
    .meta {
      margin-bottom: 5px;
      display: block;
      width: 100%;
    }

    .rating-list-01 {
      margin-bottom: 15px;
    }
  }
}
