@font-face {
  font-family: "bifirm";
  src: url("../../fonts/bifirm//bifirm.ttf?6hqo02") format("truetype"),
    url("../../fonts/bifirm//bifirm.woff?6hqo02") format("woff"),
    url("../../fonts/bifirm//bifirm.svg?6hqo02#bifirm") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="bifirm-icon-"],
[class*=" bifirm-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "bifirm" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bifirm-icon-settings:before {
  content: "\e900";
}
.bifirm-icon-speech-bubble:before {
  content: "\e901";
}
.bifirm-icon-setting:before {
  content: "\e902";
}
.bifirm-icon-diamond:before {
  content: "\e903";
}
.bifirm-icon-coin:before {
  content: "\e904";
}
.bifirm-icon-home:before {
  content: "\e905";
}
.bifirm-icon-technical-support:before {
  content: "\e906";
}
.bifirm-icon-presentation:before {
  content: "\e907";
}
.bifirm-icon-target:before {
  content: "\e908";
}
.bifirm-icon-sprout:before {
  content: "\e909";
}
.bifirm-icon-bar-chart:before {
  content: "\e90a";
}
.bifirm-icon-care:before {
  content: "\e90b";
}
.bifirm-icon-team:before {
  content: "\e90c";
}
.bifirm-icon-user:before {
  content: "\e90d";
}
.bifirm-icon-hand-shake:before {
  content: "\e90e";
}
.bifirm-icon-coffee-cup:before {
  content: "\e90f";
}
.bifirm-icon-care-customers:before {
  content: "\e910";
}
.bifirm-icon-employees:before {
  content: "\e911";
}
.bifirm-icon-idea:before {
  content: "\e912";
}
.bifirm-icon-medal:before {
  content: "\e913";
}
.bifirm-icon-piggy-bank:before {
  content: "\e914";
}
.bifirm-icon-puzzle:before {
  content: "\e915";
}
.bifirm-icon-idea-1:before {
  content: "\e916";
}
.bifirm-icon-star-full:before {
  content: "\e917";
}
.bifirm-icon-star-half:before {
  content: "\e918";
}
