mixin colors
  .container-fluid
    h2.py-3#color Colors
    .card
      .card-body
        p All color have class of color text and background color, following:
          ul
            li text color: .color-{variable color name without '$' sign}
              br
              | Example: .color-gray1 will generate color: $gray1 -> color: #030303
            li background-color .bg-{variable color name without '$' sign}
              br
              | Example: .bg-gray1 will generate background-color: $gray1 -> background-color: #030303
    h4.py-3Gray Colors
    .row
      .col-lg-4
        .p-4.bg--black.color--white.mb-1
          span $black     
          span : #000000; 
      .col-lg-4
        .p-4.bg--gray1.color--white.mb-1
          span $gray1     
          span : #030303; 
      .col-lg-4
        .p-4.bg--gray2.color--white.mb-1
          span $gray2     
          span : #050505; 
      .col-lg-4
        .p-4.bg--gray3.color--white.mb-1
          span $gray3     
          span : #080808; 
      .col-lg-4
        .p-4.bg--gray4.color--white.mb-1
          span $gray4     
          span : #0a0a0a; 
      .col-lg-4
        .p-4.bg--gray5.color--white.mb-1
          span $gray5     
          span : #0d0d0d; 
      .col-lg-4
        .p-4.bg--gray6.color--white.mb-1
          span $gray6     
          span : #0f0f0f; 
      .col-lg-4
        .p-4.bg--gray7.color--white.mb-1
          span $gray7     
          span : #121212; 
      .col-lg-4
        .p-4.bg--gray8.color--white.mb-1
          span $gray8     
          span : #141414; 
      .col-lg-4
        .p-4.bg--gray9.color--white.mb-1
          span $gray9     
          span : #171717; 
      .col-lg-4
        .p-4.bg--gray10.color--white.mb-1
          span $gray10    
          span : #1a1a1a; 
      .col-lg-4
        .p-4.bg--gray11.color--white.mb-1
          span $gray11    
          span : #1c1c1c; 
      .col-lg-4
        .p-4.bg--gray12.color--white.mb-1
          span $gray12    
          span : #1f1f1f; 
      .col-lg-4
        .p-4.bg--gray13.color--white.mb-1
          span $gray13    
          span : #212121; 
      .col-lg-4
        .p-4.bg--gray14.color--white.mb-1
          span $gray14    
          span : #242424; 
      .col-lg-4
        .p-4.bg--gray15.color--white.mb-1
          span $gray15    
          span : #262626; 
      .col-lg-4
        .p-4.bg--gray16.color--white.mb-1
          span $gray16    
          span : #292929; 
      .col-lg-4
        .p-4.bg--gray17.color--white.mb-1
          span $gray17    
          span : #2b2b2b; 
      .col-lg-4
        .p-4.bg--gray18.color--white.mb-1
          span $gray18    
          span : #2e2e2e; 
      .col-lg-4
        .p-4.bg--gray19.color--white.mb-1
          span $gray19    
          span : #303030; 
      .col-lg-4
        .p-4.bg--gray20.color--white.mb-1
          span $gray20    
          span : #333333; 
      .col-lg-4
        .p-4.bg--gray21.color--white.mb-1 
          span $gray21    
          span : #363636;
      .col-lg-4
        .p-4.bg--gray22.color--white.mb-1 
          span $gray22    
          span : #383838;
      .col-lg-4
        .p-4.bg--gray23.color--white.mb-1 
          span $gray23    
          span : #3b3b3b;  
      .col-lg-4
        .p-4.bg--gray24.color--white.mb-1 
          span $gray24    
          span : #3d3d3d;
      .col-lg-4
        .p-4.bg--gray25.color--white.mb-1 
          span $gray25    
          span : #404040;
      .col-lg-4
        .p-4.bg--gray26.color--white.mb-1 
          span $gray26    
          span : #424242;
      .col-lg-4
        .p-4.bg--gray27.color--white.mb-1 
          span $gray27    
          span : #454545;
      .col-lg-4
        .p-4.bg--gray28.color--white.mb-1 
          span $gray28    
          span : #474747;
      .col-lg-4
        .p-4.bg--gray29.color--white.mb-1 
          span $gray29    
          span : #4a4a4a;
      .col-lg-4
        .p-4.bg--gray30.color--white.mb-1 
          span $gray30    
          span : #4d4d4d;
      .col-lg-4
        .p-4.bg--gray31.color--white.mb-1 
          span $gray31    
          span : #4f4f4f;
      .col-lg-4
        .p-4.bg--gray32.color--white.mb-1 
          span $gray32    
          span : #525252;
      .col-lg-4
        .p-4.bg--gray33.color--white.mb-1 
          span $gray33    
          span : #555555;
      .col-lg-4
        .p-4.bg--gray34.color--white.mb-1 
          span $gray34    
          span : #575757;
      .col-lg-4
        .p-4.bg--gray35.color--white.mb-1 
          span $gray35    
          span : #595959;
      .col-lg-4
        .p-4.bg--gray36.color--white.mb-1 
          span $gray36    
          span : #5c5c5c;
      .col-lg-4
        .p-4.bg--gray37.color--white.mb-1 
          span $gray37    
          span : #5e5e5e;
      .col-lg-4
        .p-4.bg--gray38.color--white.mb-1 
          span $gray38    
          span : #616161;
      .col-lg-4
        .p-4.bg--gray39.color--white.mb-1 
          span $gray39    
          span : #636363;
      .col-lg-4
        .p-4.bg--gray40.color--white.mb-1 
          span $gray40    
          span : #666666;
      .col-lg-4
        .p-4.bg--dimgray.color--white.mb-1 
          span $dimgray   
          span : #696969;
      .col-lg-4
        .p-4.bg--gray42.color--white.mb-1 
          span $gray42    
          span : #6b6b6b;
      .col-lg-4
        .p-4.bg--gray43.color--white.mb-1 
          span $gray43    
          span : #6e6e6e;
      .col-lg-4
        .p-4.bg--gray44.color--white.mb-1 
          span $gray44    
          span : #707070;
      .col-lg-4
        .p-4.bg--gray45.color--white.mb-1 
          span $gray45    
          span : #737373;
      .col-lg-4
        .p-4.bg--gray46.color--white.mb-1 
          span $gray46    
          span : #757575;
      .col-lg-4
        .p-4.bg--gray47.color--white.mb-1 
          span $gray47    
          span : #787878;
      .col-lg-4
        .p-4.bg--gray48.color--white.mb-1 
          span $gray48    
          span : #7a7a7a;
      .col-lg-4
        .p-4.bg--gray49.color--white.mb-1 
          span $gray49    
          span : #7d7d7d;
      .col-lg-4
        .p-4.bg--gray50.color--white.mb-1 
          span $gray50    
          span : #7f7f7f;
      .col-lg-4
        .p-4.bg--gray.color--white.mb-1 
          span $gray      
          span : #808080;
      .col-lg-4
        .p-4.bg--gray51.color--white.mb-1
          span $gray51    
          span : #828282;
      .col-lg-4
        .p-4.bg--gray52.color--white.mb-1
          span $gray52    
          span : #858585;
      .col-lg-4
        .p-4.bg--gray53.color--white.mb-1
          span $gray53    
          span : #878787;
      .col-lg-4
        .p-4.bg--gray54.color--white.mb-1
          span $gray54    
          span : #8a8a8a;
      .col-lg-4
        .p-4.bg--gray55.color--white.mb-1
          span $gray55    
          span : #8c8c8c;
      .col-lg-4
        .p-4.bg--gray56.color--white.mb-1
          span $gray56    
          span : #8f8f8f;
      .col-lg-4
        .p-4.bg--gray57.color--white.mb-1
          span $gray57    
          span : #919191;
      .col-lg-4
        .p-4.bg--gray58.color--white.mb-1
          span $gray58    
          span : #949494;
      .col-lg-4
        .p-4.bg--gray59.color--white.mb-1
          span $gray59    
          span : #969696;
      .col-lg-4
        .p-4.bg--gray60.color--gray40.mb-1
          span $gray60    
          span : #999999;
      .col-lg-4
        .p-4.bg--gray61.color--gray40.mb-1
          span $gray61    
          span : #9c9c9c;
      .col-lg-4
        .p-4.bg--gray62.color--gray40.mb-1
          span $gray62    
          span : #9e9e9e;
      .col-lg-4
        .p-4.bg--gray63.color--gray40.mb-1
          span $gray63    
          span : #a1a1a1;
      .col-lg-4
        .p-4.bg--gray64.color--gray40.mb-1
          span $gray64    
          span : #a3a3a3;
      .col-lg-4
        .p-4.bg--gray65.color--gray40.mb-1
          span $gray65    
          span : #a6a6a6;
      .col-lg-4
        .p-4.bg--gray66.color--gray40.mb-1
          span $gray66    
          span : #a8a8a8;
      .col-lg-4
        .p-4.bg--darkgray.color--gray40.mb-1
          span $darkgray  
          span : #a9a9a9;
      .col-lg-4
        .p-4.bg--gray67.color--gray40.mb-1
          span $gray67    
          span : #ababab;
      .col-lg-4
        .p-4.bg--sgilight.color--gray40.mb-1
          span $sgilight  
          span : #aaaaaa;
      .col-lg-4
        .p-4.bg--gray68.color--gray40.mb-1
          span $gray68    
          span : #adadad;           
      .col-lg-4
        .p-4.bg--gray69.color--gray40.mb-1
          span $gray69    
          span : #b0b0b0;
      .col-lg-4
        .p-4.bg--gray70.color--gray40.mb-1
          span $gray70    
          span : #b3b3b3;
      .col-lg-4
        .p-4.bg--gray71.color--gray40.mb-1
          span $gray71    
          span : #b5b5b5;
      .col-lg-4
        .p-4.bg--gray72.color--gray40.mb-1
          span $gray72    
          span : #b8b8b8;
      .col-lg-4
        .p-4.bg--gray73.color--gray40.mb-1
          span $gray73    
          span : #bababa;
      .col-lg-4
        .p-4.bg--gray74.color--gray40.mb-1
          span $gray74    
          span : #bdbdbd;
      .col-lg-4
        .p-4.bg--silver.color--gray40.mb-1
          span $silver    
          span : #c0c0c0;
      .col-lg-4
        .p-4.bg--graylight.color--gray40.mb-1
          span $graylight 
          span : #bebebe;
      .col-lg-4
        .p-4.bg--gray75.color--gray40.mb-1
          span $gray75    
          span : #bfbfbf;
      .col-lg-4
        .p-4.bg--gray76.color--gray40.mb-1
          span $gray76    
          span : #c2c2c2;
      .col-lg-4
        .p-4.bg--gray77.color--gray40.mb-1
          span $gray77    
          span : #c4c4c4;
      .col-lg-4
        .p-4.bg--gray78.color--gray40.mb-1
          span $gray78    
          span : #c7c7c7;
      .col-lg-4
        .p-4.bg--gray79.color--gray40.mb-1
          span $gray79    
          span : #c9c9c9;
      .col-lg-4
        .p-4.bg--verylight.color--gray40.mb-1
          span $verylight 
          span : #cdcdcd;
      .col-lg-4
        .p-4.bg--gray80.color--gray40.mb-1
          span $gray80    
          span : #cccccc;
      .col-lg-4
        .p-4.bg--gray81.color--gray40.mb-1
          span $gray81    
          span : #cfcfcf;
      .col-lg-4
        .p-4.bg--gray82.color--gray40.mb-1
          span $gray82    
          span : #d1d1d1;
      .col-lg-4
        .p-4.bg--gray83.color--gray40.mb-1
          span $gray83    
          span : #d4d4d4;
      .col-lg-4
        .p-4.bg--lightgray.color--gray40.mb-1
          span $lightgray 
          span : #d3d3d3;
      .col-lg-4
        .p-4.bg--gray84.color--gray40.mb-1
          span $gray84    
          span : #d6d6d6;   
      .col-lg-4
        .p-4.bg--gray85.color--gray40.mb-1
          span $gray85    
          span : #d9d9d9;
      .col-lg-4
        .p-4.bg--gainsboro.color--gray40.mb-1
          span $gainsboro 
          span : #dcdcdc;
      .col-lg-4
        .p-4.bg--gray86.color--gray40.mb-1
          span $gray86    
          span : #dbdbdb;
      .col-lg-4
        .p-4.bg--gray87.color--gray40.mb-1
          span $gray87    
          span : #dedede;
      .col-lg-4
        .p-4.bg--gray88.color--gray40.mb-1
          span $gray88    
          span : #e0e0e0;
      .col-lg-4
        .p-4.bg--gray89.color--gray40.mb-1
          span $gray89    
          span : #e3e3e3;
      .col-lg-4
        .p-4.bg--gray90.color--gray40.mb-1
          span $gray90    
          span : #e5e5e5;
      .col-lg-4
        .p-4.bg--gray91.color--gray40.mb-1
          span $gray91    
          span : #e8e8e8;
      .col-lg-4
        .p-4.bg--gray92.color--gray40.mb-1
          span $gray92    
          span : #ebebeb;   
      .col-lg-4
        .p-4.bg--gray93.color--gray40.mb-1
          span $gray93    
          span : #ededed;
      .col-lg-4
        .p-4.bg--gray94.color--gray40.mb-1
          span $gray94    
          span : #f0f0f0;
      .col-lg-4
        .p-4.bg--gray95.color--gray40.mb-1
          span $gray95    
          span : #f2f2f2;
      .col-lg-4
        .p-4.bg--whitesmoke.color--gray40.mb-1
          span $whitesmoke
          span : #f5f5f5;
      .col-lg-4
        .p-4.bg--gray97.color--gray40.mb-1
          span $gray97    
          span : #f7f7f7;
      .col-lg-4
        .p-4.bg--gray98.color--gray40.mb-1
          span $gray98    
          span : #fafafa;
      .col-lg-4
        .p-4.bg--gray99.color--gray40.mb-1
          span $gray99    
          span : #fcfcfc;
      .col-lg-4
        .p-4.bg--white.color--gray40.mb-1
          span $white     
          span : #ffffff;
    .card
      .card-body
        p Each color theme have component style like buttons, toast...
    h4.py-3 Base Themes Colors
    .row
      .col-lg-4
        .p-4.bg--red.color--white.mb-1
          span $red       
          span : #f44336;
      .col-lg-4
        .p-4.bg--pink.color--white.mb-1
          span $pink      
          span : #e91e63;
      .col-lg-4
        .p-4.bg--purple.color--white.mb-1
          span $purple    
          span : #9c27b0;
      .col-lg-4
        .p-4.bg--deepPurple.color--white.mb-1
          span $deepPurple
          span : #673ab7;
      .col-lg-4
        .p-4.bg--indigo.color--white.mb-1
          span $indigo    
          span : #3f51b5;
      .col-lg-4
        .p-4.bg--blue.color--white.mb-1
          span $blue      
          span : #2196f3;
      .col-lg-4
        .p-4.bg--cyan.color--white.mb-1
          span $cyan      
          span : #00bcd4;
      .col-lg-4
        .p-4.bg--teal.color--white.mb-1
          span $teal      
          span : #009688;
      .col-lg-4
        .p-4.bg--green.color--white.mb-1
          span $green     
          span : #4caf50;
      .col-lg-4
        .p-4.bg--lightGreen.color--white.mb-1
          span $lightGreen
          span : #8bc34a;
      .col-lg-4
        .p-4.bg--lime.color--white.mb-1
          span $lime      
          span : #cddc39;
      .col-lg-4
        .p-4.bg--yellow.color--white.mb-1
          span $yellow    
          span : #ffeb3b;
      .col-lg-4
        .p-4.bg--amber.color--white.mb-1
          span $amber     
          span : #ffc107;
      .col-lg-4
        .p-4.bg--orange.color--white.mb-1
          span $orange    
          span : #ff9800;
      .col-lg-4
        .p-4.bg--deepOrange.color--white.mb-1
          span $deepOrange
          span : #ff5722;
      .col-lg-4
        .p-4.bg--brown.color--white.mb-1
          span $brown     
          span : #795548;
      .col-lg-4
        .p-4.bg--grey.color--white.mb-1
          span $grey      
          span : #9e9e9e;
    h4.py-3 Social Colors
    .row
      .col-lg-4
        .p-4.bg--facebook.color--white.mb-1
          span $facebook        
          span : #1877f2;
      .col-lg-4
        .p-4.bg--facebookold.color--white.mb-1
          span $facebookold     
          span : #3b5998;
      .col-lg-4
        .p-4.bg--twitter.color--white.mb-1
          span $twitter         
          span : #1da1f2;
      .col-lg-4
        .p-4.bg--youtube.color--white.mb-1
          span $youtube         
          span : #ff0000;
      .col-lg-4
        .p-4.bg--instagrammagenta.color--white.mb-1
          span $instagrammagenta
          span : #c32aa3;
      .col-lg-4
        .p-4.bg--instagramblue.color--white.mb-1
          span $instagramblue   
          span : #4c5fd7;
      .col-lg-4
        .p-4.bg--instagrampurple.color--white.mb-1
          span $instagrampurple 
          span : #7232bd;
      .col-lg-4
        .p-4.bg--instagramorange.color--white.mb-1
          span $instagramorange 
          span : #f46f30;
      .col-lg-4
        .p-4.bg--instagramyellow.color--white.mb-1
          span $instagramyellow 
          span : #ffdc7d;
      .col-lg-4
        .p-4.bg--googleblue.color--white.mb-1
          span $googleblue      
          span : #4285f4;
      .col-lg-4
        .p-4.bg--googlered.color--white.mb-1
          span $googlered       
          span : #ea4335;
      .col-lg-4
        .p-4.bg--googleyellow.color--white.mb-1
          span $googleyellow    
          span : #fbbc05;
      .col-lg-4
        .p-4.bg--googlegreen.color--white.mb-1
          span $googlegreen     
          span : #34a853;
      .col-lg-4
        .p-4.bg--pinterest.color--white.mb-1
          span $pinterest       
          span : #bd081c;
      .col-lg-4
        .p-4.bg--googleplus.color--white.mb-1
          span $googleplus      
          span : #db4437;
      .col-lg-4
        .p-4.bg--linkedin.color--white.mb-1
          span $linkedin        
          span : #007bb5;
      .col-lg-4
        .p-4.bg--vimeoblue.color--white.mb-1
          span $vimeoblue       
          span : #1ab7ea;
      .col-lg-4
        .p-4.bg--tumblr.color--white.mb-1
          span $tumblr          
          span : #2c4762;
      .col-lg-4
        .p-4.bg--snapchat.color--white.mb-1
          span $snapchat        
          span : #fffc00;
      .col-lg-4
        .p-4.bg--whatsappgreen.color--white.mb-1
          span $whatsappgreen   
          span : #25d366;
      .col-lg-4
        .p-4.bg--whatsappteal1.color--white.mb-1
          span $whatsappteal1   
          span : #075e54;
      .col-lg-4
        .p-4.bg--whatsappteal2.color--white.mb-1
          span $whatsappteal2   
          span : #128c7e;
      .col-lg-4
        .p-4.bg--mastodon.color--white.mb-1
          span $mastodon        
          span : #2b90d9;
      .col-lg-4
        .p-4.bg--apple.color--white.mb-1
          span $apple           
          span : #a6b1b7;
      .col-lg-4
        .p-4.bg--amazon.color--white.mb-1
          span $amazon          
          span : #ff9900;
      .col-lg-4
        .p-4.bg--microsoftred.color--white.mb-1
          span $microsoftred    
          span : #f35022;
      .col-lg-4
        .p-4.bg--microsoftgreen.color--white.mb-1
          span $microsoftgreen  
          span : #80bb03;
      .col-lg-4
        .p-4.bg--microsoftblue.color--white.mb-1
          span $microsoftblue   
          span : #03a5f0;
      .col-lg-4
        .p-4.bg--microsoftyellow.color--white.mb-1
          span $microsoftyellow 
          span : #ffb903;
      .col-lg-4
        .p-4.bg--periscope.color--white.mb-1
          span $periscope       
          span : #40a4c4;
      .col-lg-4
        .p-4.bg--foursquarepink.color--white.mb-1
          span $foursquarepink  
          span : #f94877;
      .col-lg-4
        .p-4.bg--foursquarenavy.color--white.mb-1
          span $foursquarenavy  
          span : #073282;
      .col-lg-4
        .p-4.bg--foursquareblue.color--white.mb-1
          span $foursquareblue  
          span : #2d5be3;
      .col-lg-4
        .p-4.bg--swarm.color--white.mb-1
          span $swarm           
          span : #ffa633;
      .col-lg-4
        .p-4.bg--medium.color--white.mb-1
          span $medium          
          span : #02b875;
      .col-lg-4
        .p-4.bg--skypeblue.color--white.mb-1
          span $skypeblue       
          span : #00aff0;
      .col-lg-4
        .p-4.bg--skypedkblue.color--white.mb-1
          span $skypedkblue     
          span : #0078d7;
      .col-lg-4
        .p-4.bg--android.color--white.mb-1
          span $android         
          span : #a4c639;
      .col-lg-4
        .p-4.bg--stumbleupon.color--white.mb-1
          span $stumbleupon     
          span : #e94826;
      .col-lg-4
        .p-4.bg--flickrpink.color--white.mb-1
          span $flickrpink      
          span : #f40083;
      .col-lg-4
        .p-4.bg--flickrblue.color--white.mb-1
          span $flickrblue      
          span : #006add;
      .col-lg-4
        .p-4.bg--yahoo.color--white.mb-1
          span $yahoo           
          span : #430297;
      .col-lg-4
        .p-4.bg--twitch.color--white.mb-1
          span $twitch          
          span : #6441a4;
      .col-lg-4
        .p-4.bg--soundcloud.color--white.mb-1
          span $soundcloud      
          span : #ff5500;
      .col-lg-4
        .p-4.bg--spotifygreen.color--white.mb-1
          span $spotifygreen    
          span : #1ed760;
      .col-lg-4
        .p-4.bg--spotifydarkgreen.color--white.mb-1
          span $spotifydarkgreen
          span : #1db954;
      .col-lg-4
        .p-4.bg--dribbble.color--white.mb-1
          span $dribbble        
          span : #ea4c89;
      .col-lg-4
        .p-4.bg--slackpurple.color--white.mb-1
          span $slackpurple     
          span : #4a154b;
      .col-lg-4
        .p-4.bg--slackblue.color--white.mb-1
          span $slackblue       
          span : #36c5f0;
      .col-lg-4
        .p-4.bg--slackgreen.color--white.mb-1
          span $slackgreen      
          span : #2eb67d;
      .col-lg-4
        .p-4.bg--slackred.color--white.mb-1
          span $slackred        
          span : #e01e5a;
      .col-lg-4
        .p-4.bg--slackyellow.color--white.mb-1
          span $slackyellow     
          span : #ecb22e;
      .col-lg-4
        .p-4.bg--reddit.color--white.mb-1
          span $reddit          
          span : #ff5700;
      .col-lg-4
        .p-4.bg--deviantart.color--white.mb-1
          span $deviantart      
          span : #05cc47;
      .col-lg-4
        .p-4.bg--pocket.color--white.mb-1
          span $pocket          
          span : #ee4056;
      .col-lg-4
        .p-4.bg--quora.color--white.mb-1
          span $quora           
          span : #aa2200;
      .col-lg-4
        .p-4.bg--quorablue.color--white.mb-1
          span $quorablue       
          span : #2b6dad;
      .col-lg-4
        .p-4.bg--slideshareorange.color--white.mb-1
          span $slideshareorange
          span : #e68523;
      .col-lg-4
        .p-4.bg--slideshareblue.color--white.mb-1
          span $slideshareblue  
          span : #00a0dc;
      .col-lg-4
        .p-4.bg--fivehundredpx.color--white.mb-1
          span $fivehundredpx   
          span : #0099e5;
      .col-lg-4
        .p-4.bg--vk.color--white.mb-1
          span $vk              
          span : #4a76a8;
      .col-lg-4
        .p-4.bg--listlyorange.color--white.mb-1
          span $listlyorange    
          span : #df6d46;
      .col-lg-4
        .p-4.bg--listlyblue.color--white.mb-1
          span $listlyblue      
          span : #52b1b3;
      .col-lg-4
        .p-4.bg--vine.color--white.mb-1
          span $vine            
          span : #00b489;
      .col-lg-4
        .p-4.bg--steam.color--white.mb-1
          span $steam           
          span : #171a21;
      .col-lg-4
        .p-4.bg--discord.color--white.mb-1
          span $discord         
          span : #7289da;
      .col-lg-4
        .p-4.bg--telegram.color--white.mb-1
          span $telegram        
          span : #0088cc;
      .col-lg-4
        .p-4.bg--clarity.color--white.mb-1
          span $clarity         
          span : #61bed9;
