mixin icons
  .container-fluid
    h2.py-3#icons Icons
    h4.py-3#line-awesome Line Awesome
    .row
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-mars 
          span mars
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-adjust
          span adjust
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-anchor
          span anchor
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-archive
          span archive
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-area-chart
          span area-chart
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-arrows
          span arrows
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-arrows-h
          span arrows-h
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-arrows-v
          span arrows-v
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-asterisk
          span asterisk
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-at
          span at
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-automobile
          span automobile
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-balance-scale
          span balance-scale
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-ban
          span ban
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-bank
          span bank
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-bar-chart
          span bar-chart
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-bar-chart-o
          span bar-chart-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-barcode
          span barcode
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-bars
          span bars
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-battery-0
          span battery-0
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-battery-1
          span battery-1
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-battery-2
          span battery-2
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-battery-3
          span battery-3
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-battery-4
          span battery-4
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-battery-empty
          span battery-empty
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-battery-full
          span battery-full
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-battery-half
          span battery-half
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-battery-quarter
          span battery-quarter
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-battery-three-quarters
          span battery-three-quarters
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-bed
          span bed
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-beer
          span beer
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-bell
          span bell
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-bell-o
          span bell-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-bell-slash
          span bell-slash
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-bell-slash-o
          span bell-slash-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-bicycle
          span bicycle
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-binoculars
          span binoculars
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-birthday-cake
          span birthday-cake
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-bolt
          span bolt
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-bomb
          span bomb
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-book
          span book
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-bookmark
          span bookmark
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-bookmark-o
          span bookmark-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-briefcase
          span briefcase
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-bug
          span bug
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-building
          span building
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-building-o
          span building-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-bullhorn
          span bullhorn
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-bullseye
          span bullseye
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-bus
          span bus
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-cab
          span cab
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-calculator
          span calculator
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-calendar
          span calendar
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-calendar-check-o
          span calendar-check-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-calendar-minus-o
          span calendar-minus-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-calendar-o
          span calendar-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-calendar-plus-o
          span calendar-plus-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-calendar-times-o
          span calendar-times-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-camera
          span camera
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-camera-retro
          span camera-retro
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-car
          span car
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-caret-square-o-down
          span caret-square-o-down
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-caret-square-o-left
          span caret-square-o-left
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-caret-square-o-right
          span caret-square-o-right
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-caret-square-o-up
          span caret-square-o-up
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-cart-arrow-down
          span cart-arrow-down
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-cart-plus
          span cart-plus
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-cc
          span cc
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-certificate
          span certificate
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-check
          span check
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-check-circle
          span check-circle
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-check-circle-o
          span check-circle-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-check-square
          span check-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-check-square-o
          span check-square-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-child
          span child
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-circle
          span circle
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-circle-o
          span circle-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-circle-o-notch
          span circle-o-notch
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-circle-thin
          span circle-thin
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-clock-o
          span clock-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-clone
          span clone
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-close
          span close
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-cloud
          span cloud
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-cloud-download
          span cloud-download
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-cloud-upload
          span cloud-upload
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-code
          span code
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-code-fork
          span code-fork
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-coffee
          span coffee
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-cog
          span cog
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-cogs
          span cogs
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-comment
          span comment
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-comment-o
          span comment-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-commenting
          span commenting
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-commenting-o
          span commenting-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-comments
          span comments
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-comments-o
          span comments-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-compass
          span compass
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-copyright
          span copyright
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-creative-commons
          span creative-commons
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-credit-card
          span credit-card
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-crop
          span crop
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-crosshairs
          span crosshairs
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-cube
          span cube
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-cubes
          span cubes
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-cutlery
          span cutlery
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-dashboard
          span dashboard
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-database
          span database
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-desktop
          span desktop
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-diamond
          span diamond
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-dot-circle-o
          span dot-circle-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-download
          span download
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-edit
          span edit
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-ellipsis-h
          span ellipsis-h
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-ellipsis-v
          span ellipsis-v
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-envelope
          span envelope
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-envelope-o
          span envelope-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-envelope-square
          span envelope-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-eraser
          span eraser
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-exchange
          span exchange
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-exclamation
          span exclamation
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-exclamation-circle
          span exclamation-circle
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-exclamation-triangle
          span exclamation-triangle
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-external-link
          span external-link
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-external-link-square
          span external-link-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-eye
          span eye
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-eye-slash
          span eye-slash
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-eyedropper
          span eyedropper
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-fax
          span fax
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-female
          span female
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-fighter-jet
          span fighter-jet
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-file-archive-o
          span file-archive-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-file-audio-o
          span file-audio-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-file-code-o
          span file-code-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-file-excel-o
          span file-excel-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-file-image-o
          span file-image-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-file-movie-o
          span file-movie-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-file-pdf-o
          span file-pdf-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-file-photo-o
          span file-photo-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-file-picture-o
          span file-picture-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-file-powerpoint-o
          span file-powerpoint-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-file-sound-o
          span file-sound-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-file-video-o
          span file-video-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-file-word-o
          span file-word-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-file-zip-o
          span file-zip-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-film
          span film
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-filter
          span filter
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-fire
          span fire
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-fire-extinguisher
          span fire-extinguisher
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-flag
          span flag
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-flag-checkered
          span flag-checkered
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-flag-o
          span flag-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-flash
          span flash
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-flask
          span flask
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-folder
          span folder
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-folder-o
          span folder-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-folder-open
          span folder-open
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-folder-open-o
          span folder-open-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-frown-o
          span frown-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-futbol-o
          span futbol-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-gamepad
          span gamepad
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-gavel
          span gavel
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-gear
          span gear
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-gears
          span gears
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-gift
          span gift
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-glass
          span glass
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-globe
          span globe
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-graduation-cap
          span graduation-cap
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-group
          span group
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-hand-grab-o
          span hand-grab-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-hand-lizard-o
          span hand-lizard-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-hand-paper-o
          span hand-paper-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-hand-peace-o
          span hand-peace-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-hand-pointer-o
          span hand-pointer-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-hand-rock-o
          span hand-rock-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-hand-scissors-o
          span hand-scissors-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-hand-spock-o
          span hand-spock-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-hand-stop-o
          span hand-stop-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-hdd-o
          span hdd-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-headphones
          span headphones
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-heart
          span heart
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-heart-o
          span heart-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-heartbeat
          span heartbeat
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-history
          span history
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-home
          span home
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-hotel
          span hotel
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-hourglass
          span hourglass
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-hourglass-1
          span hourglass-1
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-hourglass-2
          span hourglass-2
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-hourglass-3
          span hourglass-3
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-hourglass-end
          span hourglass-end
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-hourglass-half
          span hourglass-half
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-hourglass-o
          span hourglass-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-hourglass-start
          span hourglass-start
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-i-cursor
          span i-cursor
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-image
          span image
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-inbox
          span inbox
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-industry
          span industry
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-info
          span info
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-info-circle
          span info-circle
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-institution
          span institution
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-key
          span key
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-keyboard-o
          span keyboard-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-language
          span language
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-laptop
          span laptop
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-leaf
          span leaf
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-legal
          span legal
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-lemon-o
          span lemon-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-level-down
          span level-down
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-level-up
          span level-up
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-life-bouy
          span life-bouy
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-life-buoy
          span life-buoy
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-life-ring
          span life-ring
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-life-saver
          span life-saver
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-lightbulb-o
          span lightbulb-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-line-chart
          span line-chart
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-location-arrow
          span location-arrow
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-lock
          span lock
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-magic
          span magic
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-magnet
          span magnet
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-mail-forward
          span mail-forward
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-mail-reply
          span mail-reply
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-mail-reply-all
          span mail-reply-all
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-male
          span male
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-map
          span map
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-map-marker
          span map-marker
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-map-o
          span map-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-map-pin
          span map-pin
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-map-signs
          span map-signs
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-meh-o
          span meh-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-microphone
          span microphone
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-microphone-slash
          span microphone-slash
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-minus
          span minus
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-minus-circle
          span minus-circle
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-minus-square
          span minus-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-minus-square-o
          span minus-square-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-mobile
          span mobile
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-mobile-phone
          span mobile-phone
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-money
          span money
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-moon-o
          span moon-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-mortar-board
          span mortar-board
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-motorcycle
          span motorcycle
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-mouse-pointer
          span mouse-pointer
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-music
          span music
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-navicon
          span navicon
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-newspaper-o
          span newspaper-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-object-group
          span object-group
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-object-ungroup
          span object-ungroup
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-paint-brush
          span paint-brush
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-paper-plane
          span paper-plane
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-paper-plane-o
          span paper-plane-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-paw
          span paw
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-pencil
          span pencil
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-pencil-square
          span pencil-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-pencil-square-o
          span pencil-square-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-phone
          span phone
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-phone-square
          span phone-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-photo
          span photo
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-picture-o
          span picture-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-pie-chart
          span pie-chart
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-plane
          span plane
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-plug
          span plug
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-plus
          span plus
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-plus-circle
          span plus-circle
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-plus-square
          span plus-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-plus-square-o
          span plus-square-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-power-off
          span power-off
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-print
          span print
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-puzzle-piece
          span puzzle-piece
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-qrcode
          span qrcode
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-question
          span question
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-question-circle
          span question-circle
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-quote-left
          span quote-left
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-quote-right
          span quote-right
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-random
          span random
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-recycle
          span recycle
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-refresh
          span refresh
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-registered
          span registered
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-reorder
          span reorder
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-reply
          span reply
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-reply-all
          span reply-all
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-retweet
          span retweet
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-road
          span road
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-rocket
          span rocket
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-rss
          span rss
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-rss-square
          span rss-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-search
          span search
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-search-minus
          span search-minus
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-search-plus
          span search-plus
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-server
          span server
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-share
          span share
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-share-alt
          span share-alt
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-share-alt-square
          span share-alt-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-share-square
          span share-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-share-square-o
          span share-square-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-shield
          span shield
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-ship
          span ship
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-shopping-cart
          span shopping-cart
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-sign-in
          span sign-in
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-sign-out
          span sign-out
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-signal
          span signal
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-sitemap
          span sitemap
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-sliders
          span sliders
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-smile-o
          span smile-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-sort
          span sort
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-sort-alpha-asc
          span sort-alpha-asc
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-sort-alpha-desc
          span sort-alpha-desc
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-sort-amount-asc
          span sort-amount-asc
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-sort-amount-desc
          span sort-amount-desc
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-sort-asc
          span sort-asc
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-sort-desc
          span sort-desc
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-sort-numeric-asc
          span sort-numeric-asc
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-sort-numeric-desc
          span sort-numeric-desc
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-space-shuttle
          span space-shuttle
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-spinner
          span spinner
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-spoon
          span spoon
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-square
          span square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-square-o
          span square-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-star
          span star
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-star-half
          span star-half
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-star-half-o
          span star-half-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-star-o
          span star-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-sticky-note
          span sticky-note
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-sticky-note-o
          span sticky-note-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-street-view
          span street-view
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-suitcase
          span suitcase
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-sun-o
          span sun-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-tablet
          span tablet
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-tachometer
          span tachometer
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-tag
          span tag
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-tags
          span tags
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-tasks
          span tasks
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-taxi
          span taxi
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-television
          span television
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-terminal
          span terminal
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-thumb-tack
          span thumb-tack
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-thumbs-down
          span thumbs-down
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-thumbs-o-down
          span thumbs-o-down
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-thumbs-o-up
          span thumbs-o-up
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-thumbs-up
          span thumbs-up
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-ticket
          span ticket
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-times
          span times
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-times-circle
          span times-circle
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-times-circle-o
          span times-circle-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-tint
          span tint
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-toggle-off
          span toggle-off
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-toggle-on
          span toggle-on
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-trademark
          span trademark
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-trash
          span trash
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-trash-o
          span trash-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-tree
          span tree
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-trophy
          span trophy
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-truck
          span truck
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-tty
          span tty
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-umbrella
          span umbrella
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-university
          span university
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-unlock
          span unlock
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-unlock-alt
          span unlock-alt
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-upload
          span upload
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-user
          span user
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-user-plus
          span user-plus
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-user-secret
          span user-secret
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-user-times
          span user-times
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-users
          span users
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-video-camera
          span video-camera
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-volume-down
          span volume-down
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-volume-off
          span volume-off
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-volume-up
          span volume-up
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-warning
          span warning
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-wheelchair
          span wheelchair
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-wifi
          span wifi
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-wrench
          span wrench
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-hand-o-down
          span hand-o-down
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-hand-o-left
          span hand-o-left
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-hand-o-right
          span hand-o-right
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-hand-o-up
          span hand-o-up
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-ambulance
          span ambulance
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-subway
          span subway
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-train
          span train
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-genderless
          span genderless
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-mars
          span mars
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-mars-double
          span mars-double
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-mars-stroke
          span mars-stroke
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-mars-stroke-h
          span mars-stroke-h
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-mars-stroke-v
          span mars-stroke-v
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-mercury
          span mercury
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-neuter
          span neuter
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-transgender
          span transgender
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-transgender-alt
          span transgender-alt
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-venus
          span venus
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-venus-double
          span venus-double
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-venus-mars
          span venus-mars
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-file
          span file
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-file-o
          span file-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-file-text
          span file-text
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-file-text-o
          span file-text-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-cc-amex
          span cc-amex
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-cc-diners-club
          span cc-diners-club
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-cc-discover
          span cc-discover
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-cc-jcb
          span cc-jcb
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-cc-mastercard
          span cc-mastercard
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-cc-paypal
          span cc-paypal
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-cc-stripe
          span cc-stripe
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-cc-visa
          span cc-visa
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-google-wallet
          span google-wallet
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-paypal
          span paypal
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-bitcoin
          span bitcoin
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-btc
          span btc
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-cny
          span cny
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-dollar
          span dollar
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-eur
          span eur
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-euro
          span euro
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-gbp
          span gbp
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-gg
          span gg
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-gg-circle
          span gg-circle
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-ils
          span ils
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-inr
          span inr
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-jpy
          span jpy
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-krw
          span krw
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-rmb
          span rmb
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-rouble
          span rouble
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-rub
          span rub
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-ruble
          span ruble
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-rupee
          span rupee
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-shekel
          span shekel
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-sheqel
          span sheqel
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-try
          span try
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-turkish-lira
          span turkish-lira
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-usd
          span usd
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-won
          span won
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-yen
          span yen
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-align-center
          span align-center
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-align-justify
          span align-justify
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-align-left
          span align-left
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-align-right
          span align-right
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-bold
          span bold
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-chain
          span chain
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-chain-broken
          span chain-broken
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-clipboard
          span clipboard
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-columns
          span columns
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-copy
          span copy
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-cut
          span cut
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-dedent
          span dedent
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-files-o
          span files-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-floppy-o
          span floppy-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-font
          span font
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-header
          span header
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-indent
          span indent
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-italic
          span italic
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-link
          span link
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-list
          span list
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-list-alt
          span list-alt
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-list-ol
          span list-ol
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-list-ul
          span list-ul
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-outdent
          span outdent
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-paperclip
          span paperclip
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-paragraph
          span paragraph
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-paste
          span paste
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-repeat
          span repeat
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-rotate-left
          span rotate-left
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-rotate-right
          span rotate-right
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-save
          span save
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-scissors
          span scissors
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-strikethrough
          span strikethrough
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-subscript
          span subscript
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-superscript
          span superscript
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-table
          span table
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-text-height
          span text-height
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-text-width
          span text-width
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-th
          span th
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-th-large
          span th-large
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-th-list
          span th-list
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-underline
          span underline
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-undo
          span undo
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-unlink
          span unlink
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-angle-double-down
          span angle-double-down
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-angle-double-left
          span angle-double-left
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-angle-double-right
          span angle-double-right
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-angle-double-up
          span angle-double-up
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-angle-down
          span angle-down
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-angle-left
          span angle-left
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-angle-right
          span angle-right
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-angle-up
          span angle-up
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-arrow-circle-down
          span arrow-circle-down
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-arrow-circle-left
          span arrow-circle-left
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-arrow-circle-o-down
          span arrow-circle-o-down
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-arrow-circle-o-left
          span arrow-circle-o-left
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-arrow-circle-o-right
          span arrow-circle-o-right
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-arrow-circle-o-up
          span arrow-circle-o-up
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-arrow-circle-right
          span arrow-circle-right
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-arrow-circle-up
          span arrow-circle-up
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-arrow-down
          span arrow-down
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-arrow-left
          span arrow-left
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-arrow-right
          span arrow-right
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-arrow-up
          span arrow-up
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-arrows-alt
          span arrows-alt
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-caret-down
          span caret-down
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-caret-left
          span caret-left
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-caret-right
          span caret-right
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-caret-up
          span caret-up
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-chevron-circle-down
          span chevron-circle-down
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-chevron-circle-left
          span chevron-circle-left
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-chevron-circle-right
          span chevron-circle-right
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-chevron-circle-up
          span chevron-circle-up
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-chevron-down
          span chevron-down
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-chevron-left
          span chevron-left
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-chevron-right
          span chevron-right
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-chevron-up
          span chevron-up
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-long-arrow-down
          span long-arrow-down
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-long-arrow-left
          span long-arrow-left
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-long-arrow-right
          span long-arrow-right
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-long-arrow-up
          span long-arrow-up
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-backward
          span backward
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-compress
          span compress
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-eject
          span eject
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-expand
          span expand
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-fast-backward
          span fast-backward
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-fast-forward
          span fast-forward
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-forward
          span forward
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-pause
          span pause
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-play
          span play
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-play-circle
          span play-circle
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-play-circle-o
          span play-circle-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-step-backward
          span step-backward
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-step-forward
          span step-forward
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-stop
          span stop
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-youtube-play
          span youtube-play
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-500px
          span 500px
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-adn
          span adn
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-amazon
          span amazon
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-android
          span android
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-angellist
          span angellist
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-apple
          span apple
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-behance
          span behance
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-behance-square
          span behance-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-bitbucket
          span bitbucket
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-bitbucket-square
          span bitbucket-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-black-tie
          span black-tie
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-buysellads
          span buysellads
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-chrome
          span chrome
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-codepen
          span codepen
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-connectdevelop
          span connectdevelop
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-contao
          span contao
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-css3
          span css3
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-dashcube
          span dashcube
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-delicious
          span delicious
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-deviantart
          span deviantart
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-digg
          span digg
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-dribbble
          span dribbble
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-dropbox
          span dropbox
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-drupal
          span drupal
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-empire
          span empire
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-expeditedssl
          span expeditedssl
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-facebook
          span facebook
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-facebook-official
          span facebook-official
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-facebook-square
          span facebook-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-firefox
          span firefox
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-flickr
          span flickr
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-fonticons
          span fonticons
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-forumbee
          span forumbee
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-foursquare
          span foursquare
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-get-pocket
          span get-pocket
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-git
          span git
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-git-square
          span git-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-github
          span github
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-github-alt
          span github-alt
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-github-square
          span github-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-google
          span google
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-google-plus
          span google-plus
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-google-plus-square
          span google-plus-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-gratipay
          span gratipay
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-hacker-news
          span hacker-news
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-houzz
          span houzz
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-html5
          span html5
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-instagram
          span instagram
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-internet-explorer
          span internet-explorer
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-ioxhost
          span ioxhost
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-joomla
          span joomla
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-jsfiddle
          span jsfiddle
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-lastfm
          span lastfm
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-lastfm-square
          span lastfm-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-leanpub
          span leanpub
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-linkedin
          span linkedin
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-linkedin-square
          span linkedin-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-linux
          span linux
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-maxcdn
          span maxcdn
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-meanpath
          span meanpath
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-medium
          span medium
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-odnoklassniki
          span odnoklassniki
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-odnoklassniki-square
          span odnoklassniki-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-opencart
          span opencart
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-openid
          span openid
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-opera
          span opera
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-optin-monster
          span optin-monster
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-pagelines
          span pagelines
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-pied-piper
          span pied-piper
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-pied-piper-alt
          span pied-piper-alt
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-pinterest
          span pinterest
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-pinterest-p
          span pinterest-p
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-pinterest-square
          span pinterest-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-qq
          span qq
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-ra
          span ra
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-rebel
          span rebel
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-reddit
          span reddit
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-reddit-square
          span reddit-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-renren
          span renren
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-safari
          span safari
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-sellsy
          span sellsy
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-shirtsinbulk
          span shirtsinbulk
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-simplybuilt
          span simplybuilt
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-skyatlas
          span skyatlas
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-skype
          span skype
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-slack
          span slack
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-slideshare
          span slideshare
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-soundcloud
          span soundcloud
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-spotify
          span spotify
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-stack-exchange
          span stack-exchange
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-stack-overflow
          span stack-overflow
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-steam
          span steam
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-steam-square
          span steam-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-stumbleupon
          span stumbleupon
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-stumbleupon-circle
          span stumbleupon-circle
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-tencent-weibo
          span tencent-weibo
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-trello
          span trello
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-tripadvisor
          span tripadvisor
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-tumblr
          span tumblr
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-tumblr-square
          span tumblr-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-twitch
          span twitch
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-twitter
          span twitter
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-twitter-square
          span twitter-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-viacoin
          span viacoin
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-vimeo
          span vimeo
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-vimeo-square
          span vimeo-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-vine
          span vine
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-vk
          span vk
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-wechat
          span wechat
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-weibo
          span weibo
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-weixin
          span weixin
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-whatsapp
          span whatsapp
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-wikipedia-w
          span wikipedia-w
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-windows
          span windows
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-wordpress
          span wordpress
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-xing
          span xing
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-xing-square
          span xing-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-y-combinator
          span y-combinator
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-y-combinator-square
          span y-combinator-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-yahoo
          span yahoo
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-yc
          span yc
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-yc-square
          span yc-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-yelp
          span yelp
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-youtube
          span youtube
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-youtube-square
          span youtube-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-h-square
          span h-square
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-hospital-o
          span hospital-o
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-medkit
          span medkit
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-stethoscope
          span stethoscope
      .col-lg-2.mb-1
        .py-2.bg--gray81.color--gray20.text-center
          h2.mb-0
            i.la.la-user-md
          span user-md
