//
// Page :: Elements
// --------------------------------------------------
// For demo only
.sidebar-elements {
  .nav-link {
    padding-left: 0;
    padding-right: 0;
    color: $gray40;
  }
}

.elements-wrapper {
  @include media-breakpoint-down(md) {
    .container-fluid {
      padding: 0;
    }
  }
}
