.home-04 {
  &-about-us {
    .thumb {
      width: 100%;
    }

    [class^="list-style-"] {
      display: flex;
      flex-wrap: wrap;

      li {
        width: calc(50% - 15px);
        padding-bottom: 10px;
      }
    }
  }

  &-testimonial {
    padding-top: 80px;
    padding-bottom: 25px;
    position: relative;
    // background: url(https://images.unsplash.com/photo-1470219556762-1771e7f9427d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);
    // background-size: cover;
    // background-position: center;

    .ts-overlay {
      opacity: 1;
      background-color: rgba(26, 26, 26, 0.9);
      // backdrop-filter: blur(2px);
    }

    [class^="ts-section-heading"] {
      margin-bottom: 0;
    }

    .owl-item {
      padding: 40px 0 56px 0;
    }

    .carousel {
      z-index: 1;
      position: relative;
    }

    @keyframes move_wave {
      0% {
        transform: translateX(0) translateZ(0) scaleY(1);
      }
      50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55);
      }
      100% {
        transform: translateX(-50%) translateZ(0) scaleY(1);
      }
    }
    .waveWrapper {
      overflow: hidden;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      z-index: 0;
    }
    .waveWrapperInner {
      position: absolute;
      width: 100%;
      overflow: hidden;
      height: 100%;
      bottom: -1px;
      background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
      // background-color: $color7;
    }
    .bgTop {
      z-index: 15;
      opacity: 0.5;
    }
    .bgMiddle {
      z-index: 10;
      opacity: 0.75;
    }
    .bgBottom {
      z-index: 5;
    }
    .wave {
      position: absolute;
      left: 0;
      width: 200%;
      height: 100%;
      background-repeat: repeat no-repeat;
      background-position: 0 bottom;
      transform-origin: center bottom;
    }
    .waveTop {
      background-size: 50% 100px;
    }
    .waveAnimation .waveTop {
      animation: move-wave 3s;
      -webkit-animation: move-wave 3s;
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
    }
    .waveMiddle {
      background-size: 50% 120px;
    }
    .waveAnimation .waveMiddle {
      animation: move_wave 10s linear infinite;
    }
    .waveBottom {
      background-size: 50% 100px;
    }
    .waveAnimation .waveBottom {
      animation: move_wave 15s linear infinite;
    }
  }

  &-teams {
    padding-top: 80px;
    padding-bottom: 25px;
    position: relative;

    .ts-overlay {
      background: $whitesmoke url('http://pluspng.com/img-png/wave-background-png--1920.png');
      background-size: 100% 100%;
      background-position: center;
      opacity: .15;
    }

    [class^="ts-section-heading"] {
      margin-bottom: 0;
    }

    .owl-item {
      padding: 40px 0 56px 0;
    }

    .owl-carousel.carousel-focus .owl-item .item {
      opacity: .7;
    }
  }

  &-footer {
    position: relative;

    .ts-overlay {
      opacity: 1;
      background-color: rgba($color8, 0.9);
    }

    .copyright-02 {
      position: relative;
    }
  }
}
