//
// Layout :: Home 01
// --------------------------------------------------
.home-01 {
  &-slider {
    height: 590px;

    img {
      @include fitImage();
    }
  }

  &-why-us {
    .thumb {
      min-width: 180px;
    }

    [class^="list-style-"] {
      display: flex;
      flex-wrap: wrap;

      li {
        width: 50%;
        padding-right: 8px;
        padding-bottom: 15px;
      }
    }
  }

  &-testimonial {
    background-image: url("http://templates.thememodern.com/dotted/images/Testimonials/bg1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    perspective: 3px;

    .ts-overlay {
      opacity: .7;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($black, .5);
      // background: linear-gradient(-45deg, #1e2f23, #34623f, #3fa037, #3f3e42);
      // background-size: 400% 400%;
      // animation: gradientBG 15s ease infinite;
    }

    // @keyframes gradientBG {
    //   0% {
    //     background-position: 0% 50%;
    //   }
    //   50% {
    //     background-position: 100% 50%;
    //   }
    //   100% {
    //     background-position: 0% 50%;
    //   }
    // }
  }

  &-partner {
    .item {
      opacity: .7;
      transition: $transition-base;

      img {
        height: 100px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}
