//
// Layout :: Home 02
// --------------------------------------------------
.home-02 {
  &-slider {
  }

  &-callback {
    .consultant-select {
      // &.bootstrap-select {
      //   & > .dropdown-toggle {
      //     background-color: color(color6, 1);

      //     .option-select-team {
      //       color: $white;

      //       .name {
      //         color: $white;
      //       }
      //     }
      //   }
      // }
    }
  }

  &-testimonial {
  }

  &-subcrible {
    position: relative;

    .ts-overlay {
      opacity: 1;
    }
  }

  &-footer {
    background: url("https://images.unsplash.com/photo-1510130146128-7a7b6afb6f9d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-size: cover;
    background-position: center;
    position: relative;

    .ts-overlay {
      opacity: 1;
      background-color: rgba($color8, 0.9);
    }

    [class^="ts-footer"] {
      background-color: transparent;
    }

    [class^="ts-copyright"] {
      background-color: transparent;
      position: relative;
      z-index: 1;
    }
  }
}
