.home-05 {
  &-slider {
    height: calc(100vh - 121px);

    img {
      @include fitImage();
    }
  }

  &-why-us {
    .thumb {
      min-width: 180px;
    }

    [class^="list-style-"] {
      display: flex;
      flex-wrap: wrap;

      li {
        width: 50%;
        padding-right: 8px;
        padding-bottom: 15px;
      }
    }

    .call-back-form-05 {
      
    }
  }

  &-testimonial {
    padding-top: 80px;
    padding-bottom: 25px;
    position: relative;

    [class^="ts-section-heading"] {
      margin-bottom: 0;
    }

    .owl-item {
      padding: 40px 0 56px 0;
    }

    .carousel {
      z-index: 1;
      position: relative;
    }
  }

  &-footer {
    position: relative;

    .ts-overlay {
      opacity: 1;
      background-color: rgba($color8, 0.9);
    }

    .copyright-02 {
      position: relative;
    }
  }
}
