//
// Layout :: Home 03
// -----------------------------------------------
.home-03 {
  &-slider {
  }

  &-counter-up {
    background-image: url("http://templates.thememodern.com/dotted/images/Testimonials/bg1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    perspective: 3px;

    .ts-overlay {
      opacity: 0.7;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($black, 0.5);
    }
  }

  &-commitment {
    .cover {
      width: 100%;
      max-width: 300px;
    }
  }

  &-footer {
    .footer-01 {
      position: relative;

      .ts-overlay {
        opacity: .05;
        background: url('../images/bg-footer-03.png') no-repeat;
        background-size: auto 80%;
        background-position: bottom center;
      }
    }

    .copyright-02 {
      padding: 10px 0;
    }
  }
}
