//
// Layout :: Home 01
// --------------------------------------------------
.home-01 {
  &-header {
    &.header-fixed {
      &.headroom--not-top {
        .header {
          &-info {
            display: none;
          }
        }

        &.full-width {
          background-color: color(color1, 0.9);
          backdrop-filter: blur(5px);

          .header-menu-inner {
            backdrop-filter: none;
            background-color: transparent;
          }
        }
      }
    }

    &.header-sticky {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      .fixed-top.full-width {
        background-color: color(color1, 0.9);
        backdrop-filter: blur(5px);

        .header-menu-inner {
          background-color: transparent;
          backdrop-filter: none;
        }
      }
    }

    &.position-static {
      .header-info-right .item  {
        color: $gray60;

        strong {
          color: $gray20;
        }
      }
    }
  }

  &-slider {
  }

  &-about-us {
    .thumb {
      width: 100%;
    }

    [class^="list-style-"] {
      display: flex;
      flex-wrap: wrap;

      li {
        width: calc(50% - 15px);
        padding-bottom: 10px;
      }
    }
  }

  &-testimonial {
    padding-top: 80px;
    padding-bottom: 25px;
    position: relative;

    [class^="ts-section-heading"] {
      margin-bottom: 0;
    }

    .owl-item {
      padding: 40px 0 56px 0;
    }

    .carousel {
      z-index: 1;
      position: relative;
    }
  }

  &-services {
    [class^='ts-icon-box-'] {
      height: 100%;
    }
  }

  &-blogs {
    padding-top: 80px;
    padding-bottom: 25px;
    position: relative;

    [class^="ts-section-heading"] {
      margin-bottom: 0;
    }

    .owl-item {
      padding: 40px 0 56px 0;
    }

    .carousel {
      z-index: 1;
      position: relative;
    }
  }

  &-partner {
    .item {
      opacity: 0.7;
      transition: $transition-base;

      img {
        height: 100px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  &-footer {
    position: relative;
    background: url("https://images.unsplash.com/photo-1510130146128-7a7b6afb6f9d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-size: cover;
    background-position: center;

    .ts-overlay {
      opacity: 1;
      background-color: rgba($black, 0.85);
    }

    .ts-copyright-04 {
      position: relative;
    }
  }
}

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 0;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(
    to top,
    color(color1, 1) 10%,
    color(color7, 1) 80%
  );
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
  background-image: url(../images/wave-top.png);
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
  animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
  background-image: url(../images/wave-mid.png);
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
  background-image: url(../images/wave-bot.png);
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}
