.home-05 {
  &-slider {
    height: calc(100vh - 121px);

    img {
      @include fitImage();
    }
  }

  &-header {

    &.fixed-top {
      box-shadow: 0 1px 3px rgba($black, 0.15);

      &.headroom--not-top {
        .ts-header-04-top {
          display: none;
        }

        .ts-main-menu > ul > li > a {
          padding-bottom: 28px;
        }

        .ts-header-logo-wrap {
          .header-logo {
            height: 30px;
          }
        }
      }
    }

    &.header-sticky {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      &.fixed-top {
        .ts-header {
          background-color: rgba($color8, 0.9);
          backdrop-filter: blur(5px);
        }

        .ts-header-04-top {
          padding: 0;
          height: 0;
          overflow: hidden;
          opacity: 0;
        }

        .ts-main-menu > ul > li > a {
          padding-bottom: 28px;
        }

        .ts-header-logo-wrap {
          .header-logo {
            height: 30px;
          }
        }
      }
    }
  }

  &-why-us {
    .thumb {
      min-width: 180px;
    }

    [class^="list-style-"] {
      display: flex;
      flex-wrap: wrap;

      li {
        width: 50%;
        padding-right: 8px;
        padding-bottom: 15px;
      }
    }
  }

  &-testimonial {
    padding-top: 80px;
    padding-bottom: 25px;
    position: relative;

    [class^="ts-section-heading"] {
      margin-bottom: 0;
    }

    .owl-item {
      padding: 40px 0 56px 0;
    }

    .carousel {
      z-index: 1;
      position: relative;
    }
  }

  &-footer {
    position: relative;
    background: url("https://images.unsplash.com/photo-1510130146128-7a7b6afb6f9d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-size: cover;
    background-position: center;

    .ts-overlay {
      opacity: 1;
      background-color: rgba($black, 0.85);
    }

    .ts-copyright-04 {
      position: relative;
    }
  }
}
