//
// Layout :: Home 03
// -----------------------------------------------
.home-03 {
  &-header {
    &.headroom--not-top {
      .ts-header {
        border-bottom-color: transparent;
        box-shadow: 0 1px 3px rgba($black, 0.15);
        background-color: rgba($black, 0.85);
        backdrop-filter: blur(5px);
      }

      .ts-main-menu.style-03 > ul ul {
        background-color: rgba($black, 0.95);

        li:hover {
          background-color: rgba($white, 0.7);
        }
      }

      .ts-main-menu.style-03 > ul > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .ts-header-09 .ts-header-left .ts-header-logo-wrap .header-logo {
        height: 30px;
      }
    }

    &.sticky-header {
      transition: all 0.35s;
      box-shadow: 0 1px 3px rgba($black, 0.15);
      background-color: rgba($black, 0.9);
      backdrop-filter: blur(5px);
      border-bottom-color: transparent;

      .ts-main-menu.style-03 > ul ul {
        background-color: rgba($black, 0.95);

        li:hover {
          background-color: rgba($white, 0.7);
        }
      }

      .ts-main-menu.style-03 > ul > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .ts-header-09 .ts-header-left .ts-header-logo-wrap .header-logo {
        height: 30px;
      }
    }
  }

  &-slider {
  }

  &-counter-up {
    background-image: url("http://templates.thememodern.com/dotted/images/Testimonials/bg1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    perspective: 3px;

    .ts-overlay {
      opacity: 0.7;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($black, 0.5);
    }
  }

  &-commitment {
    .cover {
      width: 100%;
      max-width: 300px;
    }
  }

  &-footer {
    background-color: $black;

    .ts-overlay {
      opacity: 1;
      background-color: rgba($black, 0.85);
    }

    [class^="ts-footer"] {
      position: relative;
      background: url("../images/bg-footer-03.png") no-repeat;
      background-size: auto 80%;
      background-position: bottom center;
    }

    [class^="ts-copyright"] {
      background-color: transparent;
      position: relative;
      z-index: 1;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}
