.home-04 {
  &-about-us {
    .thumb {
      width: 100%;
    }

    [class^="list-style-"] {
      display: flex;
      flex-wrap: wrap;

      li {
        width: calc(50% - 15px);
        padding-bottom: 10px;
      }
    }
  }
}
