//
// Components :: Project Detail
// --------------------------------------------------
.cases-detail {
  &.has-sidebar {
    padding-right: 30px;
    border-right: 1px solid $whitesmoke;
  }

  &__cat {
    font-size: 16px;
    color: $gray40;
  }
}
