//
// Page :: Testimonials
// --------------------------------------------------
.testimonials-01 {
  [class*='ts-testimonial-'] {
    box-shadow: 0 1px 1px 0 rgba($black, .15);
    transition: $transition-base;

    &:hover {
      box-shadow: 0 5px 11px 0 rgba($black, 0.27);
    }
  }
}