mixin control(colors )
  .control.js-control
    button.ts-btn.btn-color1.btn-open
      i.la.la-cog
    .control-inner
      h3 Choose your color
      ul.list-color-pattern.mb-4
        - var listColorsDefault = ['#b13a1a', "#20639b","#339c92","#832c76","#314570","#164db0","#287e9e","#15A346","#2F9599","#854442","#177365"]
        - colors = colors || listColorsDefault
        each color in colors
          li.color-pattern.js-color-pattern(data-color=color)
        //- li.color-pattern.js-color-pattern(data-color="#b13a1a")
        //- li.color-pattern.js-color-pattern(data-color="#20639b")
        //- li.color-pattern.js-color-pattern(data-color="#339c92")
        //- li.color-pattern.js-color-pattern(data-color="#832c76")
        //- li.color-pattern.js-color-pattern(data-color="#713c46")
        //- li.color-pattern.js-color-pattern(data-color="#314570")
        //- li.color-pattern.js-color-pattern(data-color="#164db0")
        //- li.color-pattern.js-color-pattern(data-color="#287e9e")
        //- li.color-pattern.js-color-pattern(data-color="#15A346")
        //- li.color-pattern.js-color-pattern(data-color="#2F9599")
        //- li.color-pattern.js-color-pattern(data-color="#e01e26")
        //- li.color-pattern.js-color-pattern(data-color="#854442")
        //- li.color-pattern.js-color-pattern(data-color="#339171")
        //- li.color-pattern.js-color-pattern(data-color="#177365")
        //- li.color-pattern.js-color-pattern(data-color="#ac6376")
        //- li.color-pattern.js-color-pattern(data-color="#ffc31a")
        //- li.color-pattern.js-color-pattern(data-color="#13A0B2")
        //- li.color-pattern.js-color-pattern(data-color="#6a4e6c")
        //- li.color-pattern.js-color-pattern(data-color="#7b885c")

      h3 Or Pick what you need
      .mb-4
        input#js-color-picker(type="color", name='color2',  value="#00abc9")
      .mb-4.result-color
        p.result-colors-theme-text Chose color then relace colors value below one by one in file css/colors/colors.css.
        p.mb-0#js-dynamic-color Dynamic Color
        p.mb-0#js-main-color Main Color RGB
        p.mb-0#js-main-color-rgb Main Color
        p.mb-0#js-main-color-hover Main Color Hover
        p.mb-0#js-sub-color Sub Color
      h3 Dim images
      label.button-toggle-wrap
        input(type="checkbox" class="toggler" data-toggle='toggle')
        .button-toggle
          .handle
            .bars
      //- h3 Fixed Header
      //- label.button-toggle-wrap
      //-   input(type="checkbox" class="toggler" data-toggle='button-toggle')
      //-   span.button-toggle
      //-     span.handle
      //-       span.bars
      //- h3 Small fixed header
      //- label.button-toggle-wrap
      //-   input(type="checkbox" class="toggler" data-toggle='button-toggle')
      //-   span.button-toggle
      //-     span.handle
      //-       span.bars
      //- h3 Boxed
      //- label.button-toggle-wrap
      //-   input(type="checkbox" class="toggler" data-toggle='button-toggle')
      //-   span.button-toggle
      //-     span.handle
      //-       span.bars
