//
// Components :: Accordion
// --------------------------------------------------
.ts-accrodion--ghost {
  background-color: transparent;
  border: 0;

  .card-header {
    border: 0;
    border-radius: 0;
    color: $white;
    padding: 0;

    .ts-btn {
      min-height: 50px;

      &[aria-expanded="true"] {
        pointer-events: none;
        background-color: color(color1, 1);
        color: color(dynamicColor, 1);
      }
    }
  }

  .card-body {
    color: $gray98;
    border-left: 2px solid rgba($white, 0.3);
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 10px 15px 10px 30px;

    &.in-light {
      color: $gray40;
    }
  }

  &:not(:first-of-type) {
    margin-top: 15px;
  }
}

.ts-accrodion--line {
  background-color: transparent;
  border: 0;

  .card-header {
    border: 0;
    // border-bottom: 1px solid rgba($black, .5);
    border-radius: 0;
    color: $gray20;
    padding: 0;
    background-color: transparent;
    cursor: pointer;

    .ts-btn {
      padding-left: 0;
      padding-right: 30px;
      font-weight: bold;
      overflow: hidden;
      transition: padding .3s ease-in-out;

      .ts-icon {
        position: absolute;
        transform: translateX(-100%);
        transition: all .3s ease-in-out;
        opacity: 0;
        left: 0;
      }

      &[aria-expanded="true"] {
        pointer-events: none;
        padding-left: 30px;
        
        .ts-icon {
          transform: none;
          opacity: 1;
        }
      }
    }
  }

  .card-body {
    color: $gray98;
    // border-left: 2px solid rgba($white, 0.3);
    // margin-left: 30px;
    // margin-top: 10px;
    // margin-bottom: 0;
    margin: 0;
    padding: 10px 15px 10px 30px;

    &.in-light {
      color: $gray40;
    }
  }

  &:not(:first-of-type) {
    margin-top: 15px;
  }
}

.ts-accrodion-01 {
  background-color: transparent;
  border: 0;

  .card-header {
    border: 0;
    border-radius: 0;
    color: $white;
    padding: 0;

    .ts-btn {
      font-size: 15px;
      position: relative;
      padding-right: 45px;
      overflow: hidden;
      transition: $transition-base;
      text-transform: capitalize;
      padding-top: 8px;
      padding-bottom: 8px;

      &:after {
        content: "\f107";
        font-family: $lineAwesome;
        font-weight: 900;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translate3d(0, -50%, 0);
        transition: transform 0.35s, opacity 0.35s;
      }

      &:before {
        content: "\f106";
        font-family: $lineAwesome;
        font-weight: 900;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translate3d(0, 50%, 0);
        opacity: 0;
        transition: transform 0.35s, opacity 0.35s;
      }

      &[aria-expanded="true"] {
        pointer-events: none;
        background-color: color(color1, 1);
        color: color(dynamicColor, 1);

        &:before {
          color: $white;
          opacity: 1;
          transform: translate3d(0, -50%, 0);
        }

        &:after {
          opacity: 0;
          transform: translate3d(0, -100%, 0);
        }
      }

      &:hover {
        background-color: color(color1, .9);
        color: $white;
      }
    }
  }

  .card-body {
    color: $gray40;
    border-left: 1px solid rgba($black, .1);
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 5px 15px 5px 15px;
  }

  &:not(:first-of-type) {
    margin-top: 15px;
  }
}