//
// Components :: Blog
// --------------------------------------------------
.ts-blog-card-widget-01 {
  display: flex;
  width: 100%;

  .ts-blog-card {
    &-cover {
      flex: 0 0 90px;
      height: 60px;
      border-radius: 2px;
      overflow: hidden;

      img {
        @include fitImage();
      }
    }

    &-content {
      flex-grow: 1;
      padding-left: 15px;
    }

    &-title {
      font-size: 1rem;
      line-height: 20px;
      font-weight: 300;
      margin-bottom: 10px;

      a {
        transition: $transition-base;
        color: $gray20;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          color: $gray20;
        }
      }
    }

    &-meta {
      .time {
        font-size: 13px;
        line-height: 25px;
        @extend .color--fb-7;
      }
    }
  }

  &.in-dark {
    .ts-blog-card {
      &-title a {
        color: $white;

        &:hover {
          color: $white;
        }
      }

      &-meta {
        .time {
          @extend .color--fw-6;
        }
      }
    }
  }
}

.ts-blog-card-widget-02 {
  display: flex;
  width: 100%;

  .ts-blog-card {
    &-cover {
      flex: 0 0 90px;
      height: 60px;
      border-radius: 2px;
      overflow: hidden;

      img {
        @include fitImage();
        filter: brightness(90%);
        transition: filter 0.35s;
      }
    }

    &-content {
      flex-grow: 1;
      padding-left: 15px;
      overflow: hidden;
    }

    &-title {
      font-size: 1rem;
      line-height: 20px;
      font-weight: 300;
      margin-bottom: 10px;
      margin-top: -3px;
      @include truncate-oneline();

      a {
        transition: $transition-base;
        color: $gray20;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          color: color(color1, 1);
        }
      }
    }

    &-desc {
      color: $gray40;
      line-height: 1.4;
      margin-bottom: 0;
      @include truncate-multiline-new(2);
    }
  }

  &.in-dark {
    .ts-blog-card {
      &-title {
        color: $white;

        a {
          color: $white;

          &:hover {
            color: $white;
          }
        }
      }

      &-desc {
        color: rgba($white, 0.7);
      }

      &-meta {
        .time {
          @extend .color--fw-6;
        }
      }
    }
  }

  &:hover {
    .ts-blog-card {
      &-cover {
        img {
          filter: brightness(110%);
        }
      }
    }
  }
}

.blog-card-catalog {
  a {
    &:not(:last-of-type):after {
      content: ",";
      padding-right: 4px;
      color: inherit;
    }
  }
}

.ts-blog-card-01 {
  @extend .card;
}

.ts-blog-card-02 {
  @extend .card;
  border: 0;
  position: relative;
  z-index: 1;
  display: block;
  min-width: 270px;
  height: 470px;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;

  .card-body {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    background-color: $white;

    .card-category {
      position: absolute;
      top: -42px;
      left: 0;
      background: $red;
      padding: 10px 15px;
      color: $white;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }

    .card-title {
      margin: 0;
      padding: 0 0 10px;
      color: $gray20;
      font-size: 26px;
      font-weight: 700;
    }

    .card-sub-title {
      margin: 0;
      padding: 0 0 20px;
      color: $red;
      font-size: 20px;
      font-weight: 400;
    }

    .card-description {
      display: none;
      color: $gray40;
      font-size: 14px;
      line-height: 1.8em;
    }

    .card-meta {
      margin: 30px 0 0;
      color: $gray60;

      .card-timestamp {
        margin: 0 16px 0 0;
      }

      a {
        color: $gray60;
        text-decoration: none;
      }
    }
  }

  .card-cover {
    background: $black;
    height: 400px;
    overflow: hidden;

    .card-img {
      @include fitImage();
      transition: all 0.3s linear 0s;
    }

    .card-date {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 1;
      background: #e74c3c;
      width: 55px;
      height: 55px;
      padding: 12.5px 0;
      border-radius: 100%;
      color: #ffffff;
      font-weight: 700;
      text-align: center;
      box-sizing: border-box;
      line-height: 1;

      .card-day {
        font-size: 18px;
      }

      .card-month {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }

  &:hover {
    box-shadow: 0px 1px 35px 0px rgba($black, 0.3);

    .card-cover {
      .card-img {
        transform: scale(1.1);
        opacity: 0.6;
      }

      &:after {
        opacity: 1;
      }
    }
  }
}

.ts-blog-card-03 {
  @extend .card;
  background-color: transparent;
  border: 0;
  flex-direction: unset;

  .card-cover {
    margin: 0;
    flex: 0 0 200px;
    height: 100%;
    border-radius: 2px;
    overflow: hidden;
    @include aspect-ratio(4, 2.6, ".card-img");

    .card-img {
      @include fitImage();
      border-radius: 0;
    }
  }

  .card-body {
    padding: 0 0 0 20px;
    // display: flex;
    justify-content: space-between;
    flex-direction: column;

    .title {
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 1.2;

      a {
        color: $gray20;
        text-decoration: none;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: color(color1, 1);
        }
      }
    }

    .desc {
      margin-bottom: 10px;
    }
  }

  .card-footer {
    padding: 0;
    background-color: transparent;
    border: 0;
    display: flex;
    text-transform: uppercase;
    font-size: 13px;
    color: $gray60;
    flex-wrap: wrap;

    .catalog {
      margin-right: 30px;

      a {
        transition: $transition-base;

        &:hover {
          color: color(color3, 1);
        }

        &:not(:last-of-type):after {
          content: ",";
          padding-right: 4px;
          color: $gray40;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    display: block;

    .card-cover {
      margin-bottom: 15px;
    }

    .card-body {
      padding-left: 0;
    }
  }
}

.ts-blog-card-04 {
  @extend .ts-blog-card-03;
  flex-direction: column;
  background-color: transparent;
  border: 0;
  border-radius: 0;

  .card-cover {
    @include aspect-ratio(16, 9, ".card-img");
  }

  .card-body {
    padding: 30px 0 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .title {
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 1.2;

      a {
        color: $gray20;
        text-decoration: none;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: color(color1, 1);
          text-decoration: none;
        }
      }
    }

    .desc {
      margin-bottom: 30px;
    }
  }

  @include media-breakpoint-down(sm) {
    display: block;

    .card-cover {
      margin-bottom: 15px;
    }

    .card-body {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.ts-blog-card-05 {
  @extend .card;
  border: 0;
  flex-direction: unset;
  background-color: transparent;

  .card-cover {
    border-radius: 0;
    overflow: hidden;
    flex: 0 0 40%;
    border-radius: 2px;
    position: relative;
    height: 100%;
    background-color: $whitesmoke;

    @include aspect-ratio(16, 9, ".card-img");

    .card-img {
      @include fitImage();
      border-radius: 0;
      transition: filter 0.35s;
      filter: brightness(90%);
    }
  }

  .card-body {
    flex: 0 0 60%;
    width: 60%;
    max-width: 60%;
    background-color: transparent;
    padding: 0 30px;
    color: $gray40;
  }

  .title {
    font-size: 18px;
    margin-bottom: 12px;
    line-height: 1.6;
    margin-top: -8px;

    a {
      color: $gray20;
      transition: $transition-base;

      &:hover {
        color: color(color1, 1);
        text-decoration: none;
      }
    }
  }

  .card-footer {
    padding: 0;
    background-color: transparent;
    border: 0;
    display: flex;
    font-size: 13px;
    margin-bottom: 16px;

    .catalog {
      margin-right: 30px;

      a {
        color: $gray60;
        text-decoration: none;

        &:not(:last-of-type):after {
          content: ",";
          padding-right: 4px;
          color: $gray40;
        }

        &:hover {
          color: color(color1, 1);
        }
      }
    }

    .time {
      color: $gray60;
    }
  }

  &:hover {
    .card-cover {
      .card-img {
        filter: brightness(100%);
      }
    }
  }

  @include media-breakpoint-down(md) {
    display: block;

    .card-body {
      width: 100%;
      max-width: 100%;
      flex: 0 0 100%;
      padding: 30px 0 0;
    }
  }
}

.ts-blog-card-06 {
  @extend .ts-portfolio-03;
  background-color: transparent;

  .read-more {
    color: color(color1, 1);
    text-decoration: none;
    transition: $transition-base;

    &:hover {
      color: $white;
    }
  }
}

.ts-blog-card-07 {
  @extend .card;
  border: 0;
  border-radius: 2px;
  overflow: hidden;
  flex-direction: unset;
  transition: box-shadow 0.35s;

  .card-cover {
    overflow: hidden;
    flex: 0 0 40%;
    position: relative;

    @include aspect-ratio(16, 9, ".card-img");

    .card-img {
      @include fitImage();
      border-radius: 0;
    }
  }

  .card-body {
    flex: 0 0 60%;
    width: 60%;
    max-width: 60%;
    background-color: transparent;
    padding: 0;
    position: relative;
    z-index: 1;
    padding: 15px 15px 15px 10px;

    &:before {
      transform: skewX(-3deg);
      content: "";
      background: $white;
      width: 30px;
      position: absolute;
      left: -10px;
      top: 0;
      bottom: 0;
      z-index: -1;
    }

    .desc {
      @include truncate-multiline-new(4);
    }
  }

  .blog-card {
    &-title {
      font-size: 18px;
      margin-bottom: 12px;
      font-weight: 400;

      a {
        color: $gray20;
        transition: $transition-base;

        &:hover {
          color: color(color1, 1);
          text-decoration: none;
        }
      }
    }

    &-readmore {
      color: $gray20;
      padding-right: 5px;
      position: relative;
      transition: all 0.35s;
      text-decoration: none;
      font-weight: 500;

      .ts-icon {
        position: absolute;
        opacity: 0;
        transform: translate3d(-5px, 5px, 0);
        transition: all 0.35s;
        right: 0;
      }

      &:hover {
        padding-right: 16px;
        color: color(color1, 1);

        .ts-icon {
          opacity: 1;
          transform: translate3d(0, 5px, 0);
        }
      }
    }

    &-meta {
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(
        to bottom,
        color(color3, 1) 0%,
        color(color3, 0.9) 15%,
        color(color3, 0) 100%
      );
      background-size: 100% 300%;
      width: 100%;
      height: 100%;
      color: color(dynamicColor, 1);
      padding: 15px;
      opacity: 0;
      transition: opacity 0.35s;

      .ts-icon {
        padding-right: 4px;
        font-size: 16px;
      }

      [class^="blog-card-"] {
        margin-bottom: 4px;
        transition: opacity 0.35s, transform 0.35s;
        transform: translate3d(0, 30px, 0);
        opacity: 0;
      }
    }

    &-catalog {
      color: color(dynamicColor, 1);

      a {
        color: color(dynamicColor, 1);
      }
    }
  }

  .card-footer {
    padding: 0;
    background-color: transparent;
    border: 0;
    text-align: right;
  }

  &.align-right {
    flex-direction: row-reverse;

    .card-body {
      padding: 15px 10px 15px 15px;

      &:before {
        right: -10px;
        left: auto;
        transform: skewX(3deg);
      }
    }

    .blog-card {
      &-meta {
        padding-left: 30px;
      }
    }
  }

  &:hover {
    @extend .shadow;

    .blog-card {
      &-meta {
        opacity: 1;
        // background-size: 100% 300%;

        [class*="blog-card-"] {
          opacity: 1;
          transform: translate3d(0, 0, 0);

          &:first-child {
            transition-delay: 0.1s;
          }

          &:nth-child(2) {
            transition-delay: 0.15s;
          }

          &:nth-child(3) {
            transition-delay: 0.2s;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    display: block;

    .card-body {
      width: 100%;
      max-width: 100%;
      flex: 0 0 100%;
      padding: 15px 10px 15px 15px;
    }
  }
}

.ts-blog-card-08 {
  @extend .card;
  background-color: $white;
  border: 0;
  border-radius: 2px;
  overflow: hidden;

  .card-cover {
    position: relative;
    overflow: hidden;
    @include aspect-ratio(4, 2.6, ".card-img");

    .card-img {
      @include fitImage();
    }
  }

  .blog-card {
    &-meta {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 23px 15px 15px 85px;
      background-color: color(color1, 0.9);
      opacity: 0;
      z-index: 0;
      color: $white;
      transition: $transition-base;

      .ts-icon {
        padding-right: 4px;
        font-size: 16px;
      }

      [class^="blog-card-"] {
        margin-bottom: 4px;
        transition: opacity 0.35s, transform 0.35s;
        transform: translate3d(0, 30px, 0);
        opacity: 0;
      }
    }

    &-title {
      font-size: 18px;
      margin-bottom: 12px;
      font-weight: 300;

      a {
        color: $gray20;
        transition: $transition-base;

        &:hover {
          color: color(color1, 1);
          text-decoration: none;
        }
      }
    }

    &-time {
      background-color: rgba($white, 0.8);
      padding: 5px 15px;
      position: absolute;
      top: 15px;
      left: 15px;
      text-align: center;
      letter-spacing: 1px;
      z-index: 1;
      border-radius: 2px;

      &-date {
        font-family: $oswald;
        font-size: 24px;
        line-height: 1;
        color: $white;
        font-weight: 500;
        margin-bottom: 0;
        text-transform: uppercase;
        color: color(color1, 1);
        margin-bottom: 2px;
      }

      &-month {
        color: $gray40;
        text-transform: uppercase;
        margin: 0;
        font-size: 13px;
      }
    }

    &-catalog {
      color: $white;

      a {
        color: $white;
      }
    }

    &-readmore {
      color: color(color1, 1);
      padding-right: 5px;
      position: relative;
      transition: all 0.35s;
      text-decoration: none;

      .ts-icon {
        position: absolute;
        opacity: 0;
        transform: translate3d(-5px, 5px, 0);
        transition: all 0.35s;
        right: 0;
      }

      &:hover {
        padding-right: 16px;

        .ts-icon {
          opacity: 1;
          transform: translate3d(0, 5px, 0);
        }
      }
    }
  }

  .card-body {
  }

  .card-footer {
    padding: 0;
    background-color: transparent;
    border: 0;
    text-align: right;
  }

  &:hover {
    .blog-card {
      &-meta {
        opacity: 1;

        [class*="blog-card-"] {
          opacity: 1;
          transform: translate3d(0, 0, 0);

          &:first-child {
            transition-delay: 0.1s;
          }

          &:nth-child(2) {
            transition-delay: 0.15s;
          }

          &:nth-child(3) {
            transition-delay: 0.2s;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
  }
}

.ts-blog-card-09 {
  background-color: $white;
  transition: box-shadow 0.35s;

  .card-header {
    border-bottom: 0;
    position: relative;
    display: flex;
    align-items: center;
    height: 70px;

    &:before {
      content: "";
      width: 5px;
      height: 42px;
      background-color: color(color1, 1);
      position: absolute;
      top: 15px;
      left: 0;
    }

    .ts-icon {
      font-size: 24px;
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      color: $gray60;
      display: none;
    }
  }

  .blog-card {
    &-title {
      font-weight: 400;
      font-size: 16px;
      margin-bottom: 0;
      @include truncate-multiline-new(2);

      a {
        color: $gray20;
        text-decoration: none;
        transition: $transition-base;

        &:hover {
          color: color(color1, 1);
        }
      }
    }

    &-catalog {
      font-size: 13px;
      margin-bottom: 0;
      color: $gray60;
      transition: $transition-base;
      text-decoration: none;
      display: none;

      &:hover {
        color: color(color1, 1);
      }
    }

    &-desc {
      margin-bottom: 0;
      @include truncate-multiline-new(4);
    }

    &-author {
      color: $gray60;

      a {
        text-decoration: none;
        transition: $transition-base;

        &:hover {
          color: color(color1, 1);
        }
      }
    }

    &-time {
      color: $gray60;

      .month {
        padding-right: 4px;
      }

      .year {
        &:before {
          content: ",";
          padding-right: 4px;
        }
      }
    }
  }

  .card-cover {
    position: relative;

    .ts-overlay {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $white;
      font-size: 13px;
      opacity: 0;
      background: linear-gradient(
        to bottom,
        color(color3, 1) 0%,
        color(color3, 0.9) 15%,
        color(color3, 0) 100%
      );
      background-size: 100% 170%;

      .item {
        opacity: 0;
        transition: opacity 0.35s, transform 0.35s;

        [class^="item"] {
          margin: 0 10px;

          .ts-icon {
            margin-right: 5px;
            font-size: 18px;
          }
        }

        &:first-child {
          transform: translate3d(0, 20px, 0);

          a {
            color: $white;

            &:hover {
              color: $white;
            }
          }
        }

        &:nth-child(2) {
          transform: translate3d(0, 20px, 0);
          transition-delay: 0.05s;
        }
      }
    }
  }

  .card-img {
    border-radius: 0;
  }

  .card-footer {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    padding-top: 7px;
    padding-bottom: 9px;
    border-top-color: rgba($black, 0.05);

    a {
      color: $gray40;
      transition: $transition-base;
    }
  }

  &:hover {
    box-shadow: 0 4px 8px rgba($black, 0.15);

    .ts-overlay {
      opacity: 0.9;

      .item {
        opacity: 1;

        &:first-child {
          transform: translate3d(0, 0, 0);
        }

        &:nth-child(2) {
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}

.ts-blog-card-10 {
  background-color: $white;

  .card-body {
    display: flex;
    border: 1px solid $gray90;
    border-bottom: 0;
    border-top: 0;
  }

  .blog-card {
    &-title {
      font-weight: 300;
      font-size: 18px;
      line-height: 1.4;

      a {
        color: $gray20;
        text-decoration: none;
        transition: $transition-base;

        &:hover {
          color: color(color1, 1);
        }
      }
    }

    &-meta {
      width: 40px;
      flex: 0 0 40px;
      margin-right: 15px;
      height: 100%;
    }

    &-catalog {
      color: $gray60;

      a {
        text-decoration: none;
        transition: $transition-base;

        &:hover {
          color: color(color1, 1);
        }
      }

      &:before {
        content: "\f02c";
        font-family: $lineAwesome;
        font-weight: 900;
      }
    }

    &-comment {
      color: $gray40;

      span {
        color: $gray60;
      }

      &:before {
        content: "\f075";
        font-family: $lineAwesome;
        color: $gray60;
      }
    }

    &-desc {
      margin-bottom: 0;
      @include truncate-multiline-new(4);
    }

    &-author {
      color: $gray60;

      a {
        text-decoration: none;
        transition: $transition-base;

        &:hover {
          color: color(color1, 1);
        }
      }

      &:before {
        content: "\f508";
        font-family: $lineAwesome;
        font-weight: 900;
      }
    }

    &-time {
      color: $white;
      font-size: 14px;
      padding: 8px 0;
      text-transform: uppercase;
      background-color: color(color1, 1);
      text-align: center;
      width: 100%;
      font-weight: 400;
      font-family: $oswald;
      line-height: 1;
      height: 55px;

      .day {
        font-size: 18px;
        margin-bottom: 5px;
      }

      .month {
        letter-spacing: 1px;
      }

      .year {
        display: none;
      }
    }

    &-type {
      background-color: $color8;
      color: $white;
      font-size: 24px;
      line-height: 40px;
      text-align: center;
      padding: 8px 0;
      width: 100%;
      height: 55px;
    }
  }

  .card-cover {
    position: relative;

    video {
      width: 100%;

      &:focus {
        box-shadow: none;
        outline: 0;
      }
    }
  }

  .card-img {
    border-radius: 0;
    transition: filter 0.35s;
    filter: brightness(90%);
  }

  .card-footer {
    background-color: $whitesmoke;
    display: flex;
    align-items: center;
    font-size: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid $gray90;
    border-top: 2px solid color(color1, 1);
    border-radius: 0;
    flex-wrap: wrap;

    a {
      color: $gray40;
      transition: $transition-base;
      padding-left: 4px;
    }

    [class^="blog-card"]:not(:last-of-type) {
      &:after {
        content: "|";
        color: $gray80;
        margin: 0 15px;
      }
    }

    [class^="blog-card"] {
      &:before {
        margin-right: 4px;
        font-size: 16px;
        display: none;
      }
    }
  }

  &:hover {
    .card-img {
      filter: brightness(100%);
    }
  }

  @include media-breakpoint-down(xs) {
    .card-body {
      padding: 15px 8px;
    }

    .card-footer {
      padding: 8px;
      font-size: 12px;

      [class^="blog-card"]:not(:last-of-type) {
        &:after {
          content: "|";
          color: $gray80;
          margin: 0 8px;
        }
      }
    }
  }
}

.ts-blog-card-11 {
  background-color: $white;
  display: flex;

  .card-body {
    display: flex;
    border: 1px solid $gray90;
    border-left: 0;
    position: relative;
    padding-bottom: 38px;
  }

  .blog-card {
    &-title {
      font-weight: 300;
      font-size: 18px;
      line-height: 1.4;

      a {
        color: $gray20;
        text-decoration: none;
        transition: $transition-base;

        &:hover {
          color: color(color1, 1);
        }
      }
    }

    &-meta {
      width: 40px;
      flex: 0 0 40px;
      margin-right: 15px;
      height: 100%;
    }

    &-catalog {
      color: $gray60;

      a {
        text-decoration: none;
        transition: $transition-base;

        &:hover {
          color: color(color1, 1);
        }
      }

      &:before {
        content: "\f02c";
        font-family: $lineAwesome;
        font-weight: 900;
      }
    }

    &-comment {
      color: $gray40;

      label {
        color: $gray60;
      }

      &:before {
        content: "\f075";
        font-family: $lineAwesome;
        color: $gray60;
      }
    }

    &-author {
      color: $gray60;

      a {
        text-decoration: none;
        transition: $transition-base;

        &:hover {
          color: color(color1, 1);
        }
      }

      &:before {
        content: "\f508";
        font-family: $lineAwesome;
        font-weight: 900;
      }
    }

    &-time {
      color: $white;
      font-size: 14px;
      padding: 8px 0;
      text-transform: uppercase;
      background-color: color(color1, 1);
      text-align: center;
      width: 100%;
      font-weight: 400;
      font-family: $oswald;
      line-height: 1;
      height: 55px;

      .day {
        font-size: 18px;
        margin-bottom: 5px;
      }

      .month {
        letter-spacing: 1px;
      }

      .year {
        display: none;
      }
    }

    &-type {
      background-color: $color8;
      color: $white;
      font-size: 24px;
      line-height: 40px;
      text-align: center;
      padding: 8px 0;
      width: 100%;
      height: 55px;
    }

    &-desc {
      @include truncate-multiline-new(4);
    }
  }

  .card-cover {
    position: relative;
    flex: 0 0 40%;
    min-height: 190px;

    .card-img {
      @include fitImage();
    }
  }

  .card-img {
    border-radius: 0;
    transition: filter 0.35s;
    filter: brightness(90%);
  }

  .card-footer {
    background-color: $whitesmoke;
    display: flex;
    align-items: center;
    font-size: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 0;
    border-top: 2px solid color(color1, 1);
    border-radius: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    a {
      color: $gray40;
      transition: $transition-base;
    }

    label {
      margin-bottom: 0;
      margin-right: 5px;
    }

    [class^="blog-card"]:not(:last-of-type) {
      &:after {
        content: "|";
        color: $gray80;
        margin: 0 15px;
      }
    }

    [class^="blog-card"] {
      &:before {
        display: none;
      }
    }
  }

  &:hover {
    .card-img {
      filter: brightness(100%);
    }
  }

  @include media-breakpoint-down(sm) {
    display: block;

    .card-cover {
      min-height: auto;
    }

    .card-body {
      padding: 15px 8px 38px;
      border-left: 1px solid $gray90;
    }

    .card-footer {
      padding: 8px;
      font-size: 12px;

      [class^="blog-card"]:not(:last-of-type) {
        &:after {
          margin: 0 8px;
        }
      }
    }
  }
}
