//
// Components :: BlockQuote
// --------------------------------------------------
.ts-blockquote-01 {
  @extend .blockquote;

  border-left: 4px solid color(color1, 1);
  padding: 8px 30px;
}

.ts-blockquote-02 {
  @extend .blockquote;
  margin-bottom: 0;
  text-align: center;
  font-size: 24px;

  .blockquote-footer {
    color: $gray90;
  }

  &.in-dark {
    color: $white;

    .blockquote-footer {
      @extend .color--fw-7;
    }
  }

  &.in-light {
    color: $gray20;

    .blockquote-footer {
      @extend .color--fb-7;
    }
  }

  @include media-breakpoint-down(lg) {
    font-size: 1rem;
  }
}

.ts-blockquote-03 {
  @extend .blockquote;
  background-color: $whitesmoke;
  font-size: 16px;
  font-style: italic;
  border-left: 4px solid color(color1, 1);
  padding: 25px 30px;
  color: $gray20;

  p {
    margin-bottom: 8px;
    line-height: 1.2;
  }

  .blockquote-footer {
    color: $gray50;
  }
}
