//
// Components :: Buttons
// --------------------------------------------------
.ts-btn {
  @extend .btn;
  border-radius: 2px;
  font-family: $oswald;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 13px;
  padding: 10px 20px;
  line-height: 1.4;
  
  &:focus {
    box-shadow: none;
  }

  &.btn-lg {
    font-size: 1rem;
    padding: 0.7rem 1rem;
  }
}

.btn-ghost {
  background-color: rgba($white, 0.3);
  color: $white;
  border: 0;

  &:hover {
    color: $white;
    background-color: $black;
  }

  &.in-light {
    background-color: rgba($black, 0.7);
    color: $white;

    &:hover {
      background-color: $black;
    }
  }
}

// generate ts button color themes
$classTsBtn: btn-;
@each $name, $hex in $colors-theme {
  .#{$classTsBtn}#{$name} {
    background-color: color($name, 1);
    color: color(dynamicColor, 1);

    &:hover {
      background-color: darkerColor($name, 1);
      color: color(dynamicColor, 1);
      text-decoration: none;
    }
  }
}

// generate ts button outline color themes
$classTsBtnOutline: btn-outline-;
@each $name, $hex in $colors-theme {
  .#{$classTsBtnOutline}#{$name} {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: color($name, 1);
    color: color($name, 1);

    &:hover {
      background-color: color($name, 1);
      color: $white;
      text-decoration: none;
    }
  }
}

// call to action button
.btn-cta-01 {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  border-color: $white;
  color: $white;
  position: relative;
  padding: 8px 70px 8px 16px;
  font-weight: 300;

  span {
    position: relative;
    display: inline-block;
    transition: all .3s ease;
  }

  .ts-icon {
    transition: all .3s ease;
    position: relative;
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    right: 0;
    border-left: 1px solid rgba($white, 0.1);
    margin-right: 0;
  }

  &:hover {
    color: $white;

    span {
      opacity: 0;
      transform: translateX(-100%);
    }

    .ts-icon {
      right: 50%;
      transform: translateX(50%) scale(1.8);
      border-left: 0;
    }
  }
}
