//
// Components :: Buttons
// --------------------------------------------------
.ts-btn {
  @extend .btn;
  border-radius: 2px;
  font-family: $oswald;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 13px;
  padding: 10px 20px;
  line-height: 1.4;
  
  &:focus {
    box-shadow: none;
  }

  &.btn-lg {
    font-size: 1rem;
    padding: 0.7rem 1rem;
  }
}

.btn-ghost {
  background-color: rgba($white, 0.3);
  color: $white;
  border: 0;

  &:hover {
    color: $white;
    background-color: $black;
  }

  &.in-light {
    background-color: rgba($black, 0.7);
    color: $white;

    &:hover {
      background-color: $black;
    }
  }
}

.btn-ghost-02 {
  background-color: rgba($white, 0.3);
  color: $white;
  border: 0;

  &:hover {
    color: $white;
    background-color: color(color1, 1);
  }

  &.in-light {
    background-color: rgba($black, 0.7);
    color: $white;

    &:hover {
      background-color: $black;
    }
  }
}

.btn-white {
  background-color: $white;
  color: $black;

  &:hover {
    background-color: $black;
    color: $white;
    text-decoration: none;
  }
}

// generate ts button color themes
$classTsBtn: btn-;
@each $name, $hex in $colors-theme {
  .#{$classTsBtn}#{$name} {
    background-color: color($name, 1);
    color: color(dynamicColor, 1);

    &:hover {
      background-color: darkerColor($name, 1);
      color: color(dynamicColor, 1);
      text-decoration: none;
    }
  }
}

// generate ts button color themes 02
$classTsBtn: btn-;
@each $name, $hex in $colors-theme-02 {
  .#{$classTsBtn}#{$name} {
    background-color: $hex;
    color: color(dynamicColor, 1);

    &:hover {
      background-color: darken($hex, 5%);
      color: color(dynamicColor, 1);
      // text-decoration: none;
    }
  }
}

// generate ts button outline color themes
$classTsBtnOutline: btn-outline-;
@each $name, $hex in $colors-theme {
  .#{$classTsBtnOutline}#{$name} {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: color($name, 1);
    color: color($name, 1);

    &:hover {
      background-color: color($name, 1);
      color: $white;
      text-decoration: none;
    }
  }
}

.btn-outline-white {
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: $white;
  color: $white;

  &:hover {
    background-color: $white;
    color: $gray20;
    text-decoration: none;
  }
}

// call to action button
.btn-cta-01 {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  border-color: $white;
  color: $white;
  position: relative;
  padding: 8px 70px 8px 16px;
  font-weight: 300;

  span {
    position: relative;
    display: inline-block;
    transition: all .3s ease;
  }

  .ts-icon {
    transition: all .3s ease;
    position: relative;
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    right: 0;
    border-left: 1px solid rgba($white, 0.1);
    margin-right: 0;
  }

  &:hover {
    color: $white;

    span {
      opacity: 0;
      transform: translateX(-100%);
    }

    .ts-icon {
      right: 50%;
      transform: translateX(50%) scale(1.8);
      border-left: 0;
    }
  }
}

.btn-cta-02 {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  border-color: $white;
  color: $white;
  position: relative;
  padding: 8px 60px 8px 16px;
  font-weight: 300;

  span {
    position: relative;
    display: inline-block;
    transition: all .3s ease;
  }

  .ts-icon {
    transition: all .3s ease;
    position: relative;
    position: absolute;
    display: inline-block;
    width: 44px;
    height: 18px;
    text-align: center;
    line-height: 19px;
    right: 0;
    border-left: 1px solid rgba($white, 0.1);
    margin-right: 0;
  }

  &:hover {
    color: $white;

    span {
      opacity: 0;
      transform: translateX(-100%);
    }

    .ts-icon {
      right: 50%;
      transform: translateX(50%) scale(1.8);
      border-left: 0;
    }
  }
}

.ts-btn.btn-cta-03 {
  // display: inline-flex;
  // align-items: center;
  // position: relative;
  // padding-right: 60px;
  .ts-icon {
    transform: scale(-1);
  }
  // .ts-icon-wrap {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   height: 100%;
  //   width: 42px;

  //   .ts-icon-01 {
  //     font-size: 42px;
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //   }

  //   .ts-icon-02 {
  //     transform: translate(-50%, -50%) scale(-1);
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     font-size: 13px;
  //   }
  // }
}