//
// Components :: Form Elements
// --------------------------------------------------
.custom-control-label {
  cursor: pointer;
}

.ts-input--ghost {
  @extend .form-control;
  background-color: rgba($white, 0.3);
  border-radius: 2px;
  color: $white;
  border: 0;
  transition: $transition-base;
  font-weight: 300;
  font-size: 13px;
  line-height: 28px;

  @include placeholder {
    color: $white;
    font-weight: 300;
    font-size: 13px;
    line-height: 28px;
  }

  &:focus {
    background-color: color(color1, 1);
    color: $white;
    box-shadow: none;
  }

  &.in-light {
    background-color: rgba($black, 0.7);

    &:focus {
      background-color: $black;
      color: $white;
      box-shadow: none;
    }

    &[readonly] {
      background-color: rgba($black, 0.7);
      transition: $transition-base;

      &:focus {
        background-color: $black;
      }
    }
  }

  &[readonly] {
    background-color: rgba($white, 0.3);
    transition: $transition-base;

    &:focus {
      background-color: color(color1, 1);
    }
  }

  &.active {
    background-color: color(color1, 1);
  }
}

.ts-input--ghost-02 {
  @extend .form-control;
  background-color: rgba($white, 0.1);
  border-radius: 2px;
  color: $white;
  border: 0;
  transition: $transition-base;
  font-weight: 300;
  font-size: 13px;
  line-height: 32px;

  @include placeholder {
    color: rgba($white, 0.5);
    font-weight: 300;
    font-size: 13px;
    line-height: 32px;
  }

  &:hover {
    background-color: color(color1, 0.5);
    color: $white;
    box-shadow: none;
  }

  &:focus {
    background-color: color(color1, 1);
    color: $white;
    box-shadow: none;
  }

  &.in-light {
    background-color: rgba($black, 0.7);

    &:focus {
      background-color: $black;
      color: $white;
      box-shadow: none;
    }

    &[readonly] {
      background-color: rgba($black, 0.7);
      transition: $transition-base;

      &:focus {
        background-color: $black;
      }
    }
  }

  &[readonly] {
    background-color: rgba($white, 0.3);
    transition: $transition-base;

    &:focus {
      background-color: color(color1, 1);
    }
  }

  &.active {
    background-color: color(color1, 1);
  }
}

.ts-input--light {
  @extend .form-control;
  background-color: $whitesmoke;
  border-radius: 2px;
  color: $gray20;
  border: 0;
  transition: $transition-base;
  font-weight: 300;
  font-size: 1rem;
  line-height: 32px;

  @include placeholder {
    color: $gray20;
    font-weight: 300;
    font-size: 1rem;
    line-height: 32px;
  }

  &[readonly] {
    background-color: $whitesmoke;
    transition: $transition-base;

    &:focus {
      background-color: $white;
    }
  }

  &.active {
    background-color: $white;
  }

  &:focus {
    background-color: $white;
    box-shadow: none;
  }
}

.ts-input {
  @extend .form-control;
  border-radius: 2px;
  transition: $transition-base;
  font-size: 13px;
  border-color: $white;
  line-height: 22px;

  @include placeholder {
    color: $gray40;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    font-family: $lato;
    transition: $transition-base;
  }

  &:focus,
  &:hover {
    background-color: color(color1, 1);
    box-shadow: none;
    outline: 0;
    border-color: color(color1, 1);
    color: $white;

    @include placeholder {
      color: $white;
    }
  }

  &.ts-input-ghost {
    background-color: rgba($black, 0.7);
    border-color: rgba($black, 0.7);

    @include placeholder {
      color: $white;
    }

    &:hover,
    &:focus {
      background-color: rgba($black, 1);
      border-color: rgba($black, 1);
    }
  }

  &.ts-input-grey {
    background-color: $whitesmoke;
    border: 0;

    &:focus,
    &:hover {
      background-color: $gray90;
      box-shadow: none;
      outline: 0;
      color: $gray40;

      @include placeholder {
        color: $gray40;
      }
    }
  }
}

.ts-input-line {
  @extend .form-control;
  border-radius: 0;
  transition: $transition-base;
  background-color: transparent;
  font-weight: 400;
  font-size: 13px;
  border: 0;
  border-bottom: 1px solid rgba($black, 0.3);
  line-height: 32px;
  height: 40px;
  padding-left: 0;
  color: $gray20;

  @include placeholder {
    color: $gray60;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    font-family: $lato;
    transition: $transition-base;
  }

  &:focus,
  &:hover {
    background-color: transparent;
    box-shadow: none;
    outline: 0;
    border-color: color(color1, 1);
    // color: $white;

    @include placeholder {
      color: $gray60;
    }
  }
}

.ts-input--ghost-03 {
  @extend .form-control;
  background-color: $white;
  border-radius: 2px;
  color: $white;
  border: 0;
  transition: $transition-base;
  font-weight: 300;
  font-size: 13px;
  line-height: 28px;

  @include placeholder {
    color: $white;
    font-weight: 300;
    font-size: 13px;
    line-height: 28px;
    transition: $transition-base;
  }

  &:focus,
  &:hover {
    // border-color: color(color1, 1);
    
    background-color: rgba($white, 0.3);
    color: $gray40;
    box-shadow: none;

    @include placeholder {
      color: $gray40;
    }
  }
}

.call-back-form-02 {
  margin-bottom: 0;
  display: flex;
  width: 100%;

  .item {
    width: 30%;

    &.consultant-select-wrap {
      width: 40%;
      flex-shrink: 0;
    }
  }

  .ts-btn {
    min-width: 150px;
  }

  @include media-breakpoint-down(md) {
    flex-wrap: wrap;

    .item {
      &.consultant-select-wrap {
        width: 100%;
      }

      width: 100%;
    }

    .ts-btn {
      width: 100%;
    }
  }
}

.ts-input-02 {
  @extend .form-control;
  border-radius: 2px;
  transition: $transition-base;
  font-weight: 300;
  border-color: $color7;
  background-color: $color7;
  color: $white;
  font-family: $lato;
  height: 40px;

  @include placeholder() {
    color: $white;
    font-family: $lato;
    font-size: 13px;
  }

  &:hover,
  &:focus {
    outline: 0;
    box-shadow: none;
    background-color: $color6;
    border-color: $color6;
    color: $white;
  }
}

.ts-input-03 {
  @extend .form-control;
  border-radius: 2px;
  transition: $transition-base;
  font-weight: 300;
  font-family: $lato;
  background-color: $whitesmoke;
  border-color: $gray90;
  font-size: 13px;
  padding: 12px 15px;

  @include placeholder() {
    color: $gray60;
    font-family: $lato;
    font-size: 13px;
  }

  &:hover,
  &:focus {
    outline: 0;
    box-shadow: none;
    background-color: $white;
  }

  &:focus {
    border-color: color(color1, 1);
  }
}

.ts-input--light-02 {
  @extend .form-control;
  // background-color: $whitesmoke;
  background-color: rgba($white, 0.9);
  border-radius: 2px;
  color: $gray20;
  border: 0;
  transition: $transition-base;
  font-size: 13px;
  line-height: 32px;
  height: 40px;

  @include placeholder {
    color: $gray20;
    font-size: 13px;
    line-height: 32px;
  }

  &:focus {
    background-color: $white;
    box-shadow: none;
    color: $gray20;
  }
}

.call-back-form-03 {
  padding: 30px;
  background-color: color(color7, 1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.call-back-form-04 {
  // padding: 30px;
  // background-color: color(color7, 1);
  display: flex;

  .consultant-select-wrap {
    width: calc(50% - 80px);
    margin-right: 30px;
  }

  .ts-btn {
    width: 120px;
  }

  .ts-input {
    width: 25%;
    margin-right: 30px;
  }
}

.call-back-form-05 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
