//
// Components :: List Link
// --------------------------------------------------
.list-style-01 {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    position: relative;
    padding-left: 24px;

    &:before {
      content: '';
      font-family: $lineAwesome;
      position: absolute;
      top: -4px;
      left: 0;
      font-size: 18px;
      line-height: inherit;
    }
  }

  &.list-circle {
    li:before {
      content: "\f058";
      font-weight: 900;
    }
  }

  &.list-dot {
    li:before {
      content: "●";
    }
  }

  &.list-square {
    li:before {
      content: "\f14a";
      font-weight: 900;
    }
  }

  &.list-check {
    li:before {
      content: "\f00c";
      font-weight: 900;
    }
  }

  &.color {
    li:before {
      color: color(color1, 1);
    }
  }
}
