//
// Components :: Modal
// --------------------------------------------------
.ts-modal-callback-01 {
  .modal-content {
    border: 0;
    border-radius: 2px;
  }

  .modal-header {
    padding: 8px 15px;
    background-color: color(color1, 1);
    border-radius: 0;
    border-bottom-color: rgba($black, .05);

    .modal-title {
      color: $white;
    }

    .close {
      color: $white;
      padding: 11px 15px;
      margin: -8px -15px -8px auto;

      &:hover,
      &:focus {
        outline: 0;
      }
    }
  }

  .modal-body {
    padding: 30px 1rem;
  }

  .modal-footer {
    padding: 8px 15px;
    border-radius: 0;
    border-top-color: rgba($black, .05);
  }
}