//
// Base :: Option select
// --------------------------------------------------

.bootstrap-select .dropdown-toggle:focus {
  box-shadow: none;
  outline: 0;
}

.ts-language {
  min-width: 140px;
  font-size: 14px;
  min-width: 146px;

  .bootstrap-select.language-select {
    &.fit-width {
      .dropdown-toggle {
        border: 0;
        background-color: transparent;
        vertical-align: middle;
        padding-right: 0;

        .filter-option-inner-inner {
          display: flex;
          align-items: center;
          line-height: 1;
        }

        &:focus {
          outline: 0 !important;
          box-shadow: none;
        }

        &:after {
          margin-left: 18px;
          content: '\f107';
          font-weight: 900;
          border: 0;
          width: auto;
          height: auto;
          margin-top: 0;
          font-family: $lineAwesome;
          font-size: 12px;
        }
      }
    }

    .dropdown-menu {
      padding: 5px 0;
      border-radius: 0;
      background-color: $white;
      border: 0;
      box-shadow: 0 5px 11px 0 rgba($black, 0.27);
    }

    img {
      width: 25px;
      margin-right: 5px;
    }

    .dropdown-item {
      color: $black;
      padding: 5px;

      &.active {
        color: $white;
        background-color: color(color1, 1);
      }

      &:not(.active):hover {
        background-color: rgba($black, 0.1);
      }

      &:last-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      &:focus {
        outline: 0;
      }
    }
  }

  &.in-dark {
    .bootstrap-select {
      .dropdown-toggle {
        color: $white;
      }
    }
  }
}

.consultant-select {
  min-width: 100%;

  &.show {
    &.bootstrap-select {
      & > .dropdown-toggle {
        background-color: color(color1, 1);
        color: $white;

        .option-select-team {
          color: $white;

          .name {
            color: $white;
          }
        }
      }

      .dropdown-item {
        &.active {
          background-color: color(color1, 1);
        }
      }
    }
  }

  &.bootstrap-select {
    & > .dropdown-toggle {
      background-color: rgba($white, 1);
      border: 0;
      border-radius: 2px;
      padding: 10px 15px;
      font-size: 13px;
      line-height: 1.6;
      height: 40px;
      color: $gray40;
      transition: $transition-base;

      .option-select-team {
        width: 100%;
        display: flex;
        align-items: center;
        color: $gray20;
  
        .ts-icon {
          font-size: 22px;
          margin-right: 5px;
          transition: $transition-base;
        }
    
        .name {
          font-size: 13px;
          margin: 0;
          line-height: 22px;
          letter-spacing: 1px;
          text-transform: uppercase;
          transition: $transition-base;
        }
      }

      &.btn-light {
        &:hover,
        &:focus {
          box-shadow: none;
          color: $white;
          background-color: color(color1, 1);

          .option-select-team {
            color: $white;

            .name {
              color: $white;
            }
          }
        }
      }
    }

    & > select {
      left: 0;
      border-radius: 2px;
    }
  }

  .dropdown-menu {
    padding: 0;
    background-color: $black;
    border: 0;
    @extend .shadow-lg;

    .dropdown-item {
      padding: 8px 15px 9px;
      border-bottom: 1px solid rgba($white, .1);
      font-size: 13px;

      .text {
        display: flex;
      }

      .ts-icon {
        font-size: 18px;
        margin-right: 5px;
      }

      &:last-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      &:hover {
        background-color: $gray60;
      }
    }

    &.show {
      min-width: 100%;
      max-width: 100%;
    }

    .option-select-team {
      width: 100%;
      display: flex;
      align-items: center;
      color: $white;

      .filter-option-inner-inner {
        .ts-icon {
          color: $white;
          font-size: 22px;
          margin-right: 5px;
        }
      }
  
      .name {
        color: $white;
        font-size: 13px;
        margin: 0;
        line-height: 22px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }

  &.in-dark {
    &.bootstrap-select {
      & > .dropdown-toggle {
        background-color: $whitesmoke;
        color: $gray20;

        &.btn-light {
          &:hover,
          &:focus {
            box-shadow: none;
            color: $gray20;
            background-color: $white;
          }
        }
      }
    }

    .filter-option-inner-inner {
      .option-select-team {
        color: $gray20;

        .name {
          color: $gray20;
        }
      }

      .ts-icon {
        font-size: 22px;
        margin-right: 5px;
      }
    }
  }

  &.line {
    &.show {
      &.bootstrap-select {
        & > .dropdown-toggle {
          background-color: transparent;
          color: $gray40;
          border-color: color(color1, 1);
  
          .option-select-team {
            color: $gray20;
  
            .name {
              color: $gray20;
            }
          }
        }
  
        .dropdown-item {
          &.active {
            background-color: color(color1, 1);
          }
        }
      }
    }

    &.bootstrap-select {
      & > .dropdown-toggle {
        background-color: transparent;
        border-radius: 0;
        padding: 10px 15px 10px 0;
        border-bottom: 1px solid rgba($black, .3);
  
        &.btn-light {
          color: $gray60;
          
          &:hover,
          &:focus {
            color: $gray60;
            background-color: transparent;
            border-color: color(color1, 1);

            .option-select-team {
              color: $gray20;
  
              .name {
                color: $gray20;
              }
            }
          }
        }
      }
    }
  }

  &.select-grey {
    &.bootstrap-select {
      & > .dropdown-toggle {
        background-color: $whitesmoke;
      }
    }

    &.show {
      &.bootstrap-select {
        & > .dropdown-toggle {
          background-color: color(color1, 1);
  
          .option-select-team {
  
            .name {
            }
          }
        }
  
        .dropdown-item {
          &.active {
            background-color: color(color1, 1);
          }
        }
      }
    }
  }
}

.select-ghost {
  min-width: 100%;

  &.show {
    &.bootstrap-select {
      & > .dropdown-toggle {
        background-color: color(color1, 1);
        color: $white;

        .option-select-team {
          color: $white;

          .name {
            color: $white;
          }
        }
      }

      .dropdown-item {
        &.active {
          background-color: color(color1, 1);
        }
      }
    }
  }

  &.bootstrap-select {
    & > .dropdown-toggle {
      background-color: rgba($white, .3);
      border: 0;
      border-radius: 2px;
      padding: 10px 15px;
      font-size: 13px;
      line-height: 1.6;
      height: 40px;
      color: $white;
      font-weight: 300;
      padding-left: 12px;
      transition: $transition-base;

      .option-select-team {
        width: 100%;
        display: flex;
        align-items: center;
        color: $gray20;
  
        .ts-icon {
          font-size: 22px;
          margin-right: 5px;
          transition: $transition-base;
          color: $white;
        }
    
        .name {
          font-size: 13px;
          margin: 0;
          line-height: 22px;
          letter-spacing: 1px;
          text-transform: uppercase;
          transition: $transition-base;
          color: $white;
        }
      }

      &.btn-light {
        &:hover,
        &:focus {
          box-shadow: none;
          color: $white;
          background-color: color(color1, 1);

          .option-select-team {
            color: $white;

            .name {
              color: $white;
            }
          }
        }
      }
    }

    & > select {
      left: 0;
      border-radius: 2px;
    }
  }

  .dropdown-menu {
    padding: 0;
    background-color: $black;
    border: 0;
    @extend .shadow-lg;

    .dropdown-item {
      padding: 8px 15px 9px;
      border-bottom: 1px solid rgba($white, .1);
      font-size: 13px;

      .text {
        display: flex;
      }

      .ts-icon {
        font-size: 18px;
        margin-right: 5px;
      }

      &:last-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      &:hover {
        background-color: $gray60;
      }
    }

    &.show {
      min-width: 100%;
      max-width: 100%;
    }

    .option-select-team {
      width: 100%;
      display: flex;
      align-items: center;
      color: $white;

      .filter-option-inner-inner {
        .ts-icon {
          color: $white;
          font-size: 22px;
          margin-right: 5px;
        }
      }
  
      .name {
        color: $white;
        font-size: 13px;
        margin: 0;
        line-height: 22px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }

  &.in-dark {
    &.bootstrap-select {
      & > .dropdown-toggle {
        background-color: $whitesmoke;
        color: $gray20;

        &.btn-light {
          &:hover,
          &:focus {
            box-shadow: none;
            color: $gray20;
            background-color: $white;
          }
        }
      }
    }

    .filter-option-inner-inner {
      .option-select-team {
        color: $gray20;

        .name {
          color: $gray20;
        }
      }

      .ts-icon {
        font-size: 22px;
        margin-right: 5px;
      }
    }
  }
}

.border-select {
  min-width: 100%;

  &.show {
    &.bootstrap-select {
      & > .dropdown-toggle {
        border-color: color(color1, 1);
        background-color: $white;
      }
    }
  }

  &.bootstrap-select {
    & > .dropdown-toggle {
      background-color: $whitesmoke;
      border: 1px solid $gray90;
      border-radius: 2px;
      padding: 10px 15px;
      font-size: 13px;
      line-height: 1.6;
      height: 40px;
      color: $gray40;
      transition: $transition-base;

      &.btn-light {
        &:hover,
        &:focus {
          box-shadow: none;
          // color: $white;
          // background-color: color(color1, 1);
          border-color: color(color1, 1);

          .option-select-team {
            color: $white;

            .name {
              color: $white;
            }
          }
        }
      }
    }

    & > select {
      left: 0;
      border-radius: 2px;
    }
  }

  .dropdown-menu {
    padding: 0;
    background-color: $whitesmoke;
    border: 0;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.27);
    border-radius: 2px;

    .dropdown-item {
      padding: 8px 15px 9px;
      border-bottom: 1px solid rgba($white, .1);
      font-size: 13px;

      &:last-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      &:hover {
        background-color: $gray90;
      }

      &.active {
        background-color: color(color1, 1);

        &:hover {
          color: $white;
        }
      }

      &:focus {
        outline: 0;
      }
    }

    &.show {
      min-width: 100%;
      max-width: 100%;
    }
  }

  &.select-grey {
    &.bootstrap-select {
      & > .dropdown-toggle {
        background-color: $whitesmoke;
      }
    }

    &.show {
      &.bootstrap-select {
        & > .dropdown-toggle {
          background-color: color(color1, 1);
  
          .option-select-team {
  
            .name {
            }
          }
        }
  
        .dropdown-item {
          &.active {
            background-color: color(color1, 1);
          }
        }
      }
    }
  }
}