//
// Base :: Pagination
// --------------------------------------------------
.ts-pagination-01 {
  .pagination {
    margin: 0;

    .page-item {
      margin-right: 8px;

      &.active {
        .page-link {
          color: $white;
          background-color: color(color1, 1);
          border-color: color(color1, 1);
        }
      }

      &:hover {
        .page-link {
          color: $white;
          background-color: color(color1, .9);
          border-color: color(color1, .9);
        }
      }
    }

    .page-link {
      color: $gray60;
      border-color: $gray60;
      min-width: 40px;
      height: 40px;
      line-height: 24px;
      text-align: center;
      border-radius: 0;
      transition: $transition-base;
    }
  }

  @include media-breakpoint-down(md) {
    .pagination {
      .page-link {
        min-width: 32px;
        height: 30px;
        line-height: 15px;
        font-size: 13px;
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
}
