//
// Components :: Portfolio
// --------------------------------------------------
.portfolio-filter-01 {
  margin-bottom: 30px;
  width: 100%;

  a {
    display: inline-block;
    @extend .color--fb-6;
    margin-left: 25px;
    transition: $transition-base;
    font-weight: 600;

    &:hover {
      text-decoration: none;
      color: color(color1, 1);
      opacity: 1;
    }

    &.active {
      color: color(color1, 1);
    }
  }

  &:hover {
    a {
      opacity: 0.8;
    }
  }

  @include media-breakpoint-down(md) {
    a {
      margin: 0 5px;
      font-size: 13px;
    }
  }
}

.ts-portfolio-01 {
  @extend .card;
  color: $white;
  border: 0;
  overflow: hidden;
  border-radius: 0;
  position: relative;

  .card-cover {
    border-radius: 0;
    overflow: hidden;

    @include aspect-ratio(4, 3, ".card-img");

    .card-img {
      @include fitImage();
      border-radius: 0;
    }
  }

  .card-img-overlay {
    background-color: color(color1, 0.9);
    opacity: 0;
    transition: $transition-base;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      font-weight: 500;
      font-size: 18px;
      color: color(dynamicColor, 1);
      transition: all 0.4s;
      transform: translateY(-200%);
      opacity: 0;
      margin-bottom: 15px;
    }

    .category {
      font-size: 13px;
      opacity: 0.8;
      transition: all 0.4s;
      transform: translateY(200%);
      opacity: 0;
      color: color(dynamicColor, 1);
    }

    .card-divider {
      width: 0;
      height: 2px;
      border-radius: 2px;
      background-color: color(dynamicColor, 1);
      transition: all 0.4s;
      opacity: 0;
      margin-bottom: 15px;
    }
  }

  &:hover {
    text-decoration: none;
    color: color(dynamicColor, 1);

    .card-img-overlay {
      opacity: 1;

      .title {
        transform: none;
        opacity: 1;
      }

      .category {
        transform: none;
        opacity: 1;
      }

      .card-divider {
        width: 50px;
        opacity: 1;
      }
    }
  }

  &.rounded-0 {
    .card-cover {
      @extend .rounded-0;
    }
  }

  &.padding {
    margin: 0 15px;
    margin-bottom: 30px;
  }

  &.w1-h1 {
    // width: 25%;

    .card-cover {
      @include aspect-ratio(1, 1, ".card-img");
    }
  }

  &.w1-h2 {
    // width: 25%;

    .card-cover {
      @include aspect-ratio(1, 2, ".card-img");
    }
  }

  &.w2-h1 {
    // width: 50%;

    .card-cover {
      @include aspect-ratio(2, 0.94736842105, ".card-img");
    }
  }

  &.w2-h2 {
    // width: 50%;

    .card-cover {
      @include aspect-ratio(1, 1, ".card-img");
    }
  }

  @include media-breakpoint-down(sm) {
    .card-img-overlay {
      height: auto;
      bottom: 10px;
      left: 10px;
      right: 10px;
      top: auto;
      opacity: 1;
      text-align: left;
      padding: 10px 15px;
      background-color: $color4;
      display: block;

      .title {
        font-size: 1rem;
        opacity: 1;
        margin-bottom: 5px;
        transform: none;
      }

      .category {
        font-size: 13px;
        width: 100%;
        opacity: 1;
        font-size: 13px;
        transform: none;
      }

      .card-divider {
        display: none;
      }
    }

    &:hover {
      .card-img-overlay {
        .title,
        .category {
          transform: none;
        }
      }
    }
  }
}

.ts-portfolio-02 {
  @extend .card;
  border: 0;

  .card-cover {
    border-radius: 0;
    overflow: hidden;

    @include aspect-ratio(4, 3, ".card-img");

    .card-img {
      @include fitImage();
      border-radius: 0;
    }
  }

  .card-body {
    padding: 15px 0;

    .title {
      font-size: 18px;
      margin-bottom: 5px;

      a {
        color: $gray20;
      }
    }

    .category {
      font-size: 15px;
      @extend .clearfix;

      a {
        @extend .color--fb-5;
      }
    }

    a:hover {
      color: color(color1, 1);
      text-decoration: none;
    }
  }
}

.ts-portfolio-03 {
  @extend .card;
  border: 0;
  flex-direction: unset;
  background-color: transparent;

  .card-cover {
    border-radius: 0;
    overflow: hidden;
    flex: 0 0 40%;
    border-radius: 2px;
    position: relative;
    height: 100%;
    @extend .bg--whitesmoke;

    @include aspect-ratio(4, 3, ".card-img");

    .card-img {
      @include fitImage();
      border-radius: 0;
    }
  }

  .card-body {
    flex: 0 0 60%;
    width: 60%;
    max-width: 60%;
    background-color: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    color: rgba($white, 0.7);
    padding: 30px 0;

    &-inner {
      padding: 30px 30px 50px;
      background-color: $color4;
      flex: 0 0 calc(100% + 100px);
      transform: translateX(-100px);
      height: 100%;
      border-radius: 2px;
      position: relative;
      @extend .shadow02;
    }

    .title {
      font-size: pxtorem(18);
      margin-bottom: 15px;

      a {
        color: $white;
        text-decoration: none;
        transition: $transition-base;

        &:hover {
          color: color(color1, 1);
        }
      }
    }

    .meta {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 10px 30px 15px;

      span,
      a {
        @extend .color--fw-7;
        font-size: 13px;
        text-transform: uppercase;
        transition: $transition-base;
      }
    }

    .category {
      display: flex;
      align-items: center;

      a {
        &:not(:last-of-type):after {
          content: ",";
          padding-right: 4px;
          @extend .color--fw-7;
        }

        &:hover {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    display: block;

    .card-body {
      padding: 0;
      max-width: 100%;
      width: 100%;

      &-inner {
        transform: none;
        flex: 0 0 100%;
      }
    }
  }
}

.ts-portfolio-04 {
  background-color: $white;

  .card-header {
    border-bottom: 0;
    position: relative;
    padding-right: 50px;

    &:before {
      content: "";
      width: 5px;
      height: 42px;
      background-color: color(color1, 1);
      position: absolute;
      top: 12px;
      left: 0;
    }

    &:after {
      content: "\f15c";
      font-family: $lineAwesome;
      font-size: 24px;
      color: $gray40;
      position: absolute;
      top: 16px;
      right: 10px;
    }
  }

  &.ts-portfolio-type-audio {
    .card-header:after {
      content: "\f1c7";
    }
  }

  &.ts-portfolio-type-video {
    .card-header:after {
      content: "\f1c8";
    }
  }

  &.ts-portfolio-type-pdf {
    .card-header:after {
      content: "\f1c1";
    }
  }

  &.ts-portfolio-type-pp {
    .card-header:after {
      content: "\f1c4";
    }
  }

  .project-card {
    &-title {
      font-weight: 200;
      font-size: 18px;
      margin-bottom: 4px;

      a {
        color: $gray20;
        text-decoration: none;

        &:hover {
          color: color(color1, 1);
        }
      }
    }

    &-catalog {
      font-size: 13px;
      margin-bottom: 0;
      color: $gray40;
      transition: $transition-base;
      text-decoration: none;

      &:hover {
        color: color(color1, 1);
      }
    }

    &-btn-view-more {
      text-decoration: none;
      color: $gray20;
      transition: $transition-base;

      &:hover {
        color: color(color1, 1);
      }
    }
  }

  .card-cover {
    position: relative;

    .ts-overlay {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $white;
      font-size: 18px;

      .item {
        opacity: 0;
        transition: opacity 0.35s, transform 0.35s;

        [class^="item"] {
          margin: 0 10px;
          cursor: pointer;

          .ts-icon {
            margin-right: 5px;
          }
        }

        &:first-child {
          transform: translate3d(0, 20px, 0);
        }

        &:nth-child(2) {
          transform: translate3d(0, 20px, 0);
          transition-delay: 0.05s;
        }
      }
    }
  }

  .card-img {
    border-radius: 0;
  }

  .card-footer {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &:hover {
    .ts-overlay {
      opacity: 0.9;

      .item {
        opacity: 1;

        &:first-child {
          transform: translate3d(0, 0, 0);
        }

        &:nth-child(2) {
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}

.ts-portfolio-05 {
  overflow: hidden;
  position: relative;

  .card-cover {
    position: relative;
    display: block;

    .ts-overlay {
      opacity: 1;
    }

    .card-img {
      border-radius: 0;
    }

    &-inner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 30px;
      color: $white;

      &:before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 0;
        padding-top: 120%;
        background-color: $white;
        content: "";
        transition: opacity 0.45s, transform 0.45s;
        transform: rotate3d(0, 0, 1, 90deg);
        transform-origin: bottom left;
        opacity: 0;
      }
    }
  }

  .portfolio-card-meta {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px 30px;

    [class*="item-"] {
      display: inline-block;
      color: $gray20;
      opacity: 0;
      transition: opacity 0.35s, transform 0.35s;
      transform: translate3d(0, 50px, 0);

      .ts-icon {
        margin-right: 5px;
        transition: $transition-base;
      }

      &:first-child {
        margin-right: 10px;
      }
    }
  }

  .portfolio-card {
    &-overlay {
      background: linear-gradient(
        to bottom,
        color(color3, 1) 0%,
        color(color3, 0.9) 15%,
        color(color3, 0) 100%
      );
      background-size: 100% 100%;
      transition: background-size 0.35s;
    }

    &-title {
      font-size: 18px;
      margin-bottom: 15px;
      transition: transform 0.35s;
      transform: translate3d(0, 20px, 0);
      text-transform: uppercase;
      font-weight: 300;
      color: $white;
    }

    &-catalog {
      margin-bottom: auto;
      font-size: 13px;
      opacity: 0;
      transform: translate3d(0, 30px, 0);
      transition: opacity 0.35s, transform 0.35s;
    }
  }

  &:hover {
    .portfolio-card-meta {
      [class*="item-"] {
        opacity: 1;
        transform: translate3d(0, 0, 0);

        &:first-child {
          transition-delay: 0.12s;
        }

        &:nth-child(2) {
          transition-delay: 0.1s;
        }
      }
    }

    .portfolio-card {
      &-title {
        transform: translate3d(0, 0, 0);
      }

      &-catalog {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }

    .card-cover-inner:before {
      opacity: 0.7;
      transform: rotate3d(0, 0, 1, 76deg);
    }

    .portfolio-card-overlay {
      background-size: 100% 300%;
    }
  }
}

.ts-portfolio-06 {
  border-radius: 2px;
  overflow: hidden;
  display: block;

  .card-cover {
    position: relative;

    .card-img {
      border-radius: 0;
    }

    .ts-overlay {
      opacity: 1;
    }

    &-inner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 30px;
      color: $white;
      text-align: right;
    }
  }

  .portfolio-card {
    &-overlay {
      background: linear-gradient(
        to bottom,
        color(color3, 1) 0%,
        color(color3, 0.9) 15%,
        color(color3, 0) 100%
      );
      background-size: 100% 100%;
      transition: background-size 0.35s;
    }

    &-divider {
      height: 3px;
      width: 100%;
      background-color: $white;
      margin-bottom: 10px;
      opacity: 0;
      transition: opacity 0.35s, transform 0.35s;
      transform: translate3d(0, 40px, 0);
    }

    &-title {
      font-size: 18px;
      margin-bottom: 15px;
      transition: transform 0.35s;
      transform: translate3d(0, 20px, 0);
      text-transform: uppercase;
      font-weight: 300;
      color: $white;
    }

    &-catalog {
      margin-bottom: auto;
      font-size: 13px;
      opacity: 0;
      transform: translate3d(0, 40px, 0);
      transition: opacity 0.35s, transform 0.35s;
    }

    &-desc {
      font-size: 13px;
      margin-bottom: 0;
      opacity: 0;
      transform: translate3d(0, 100%, 0);
      transition: opacity 0.35s, transform 0.35s;
    }
  }

  &:hover {
    .ts-overlay {
      opacity: 1;
    }

    .portfolio-card {
      &-title {
        transform: translate3d(0, 0, 0);
      }

      &-divider {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }

      &-catalog {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }

      &-desc {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }

    .portfolio-card-overlay {
      background-size: 100% 300%;
    }
  }
}
