//
// Components :: Progress
// --------------------------------------------------
.ts-progress {
  &-wrapper {
  }

  &-title-wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &-title {
    font-size: 13px;
  }
}

.ts-progress {
  @extend .progress;
  height: 10px;
  border-radius: 0;

  .progress-bar {
    transition: width 1s;
    width: 0;
  }
}
