//
// Base :: Social List
// --------------------------------------------------
// Generate Socials hover background
.square {
  display: inline-block;
  border-radius: 2px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  font-size: pxtorem(18);

  &.in-dark {
    color: $white;

    &:hover {
      color: $white;
      text-decoration: none;
      background-color: color(color1, 1);
    }
  }
}

// TS social list
.ts-social-list-01 {
  font-size: 18px;

  a {
    transition: $transition-base;
    text-decoration: none;
    color: $gray20;

    &:hover {
      color: color(color1, 1);
    }
  }

  &.align-left {
    text-align: left;

    a:not(:last-of-type) {
      padding-right: .5rem;
    }
  }

  &.align-right {
    text-align: right;

    a:not(:first-of-type) {
      padding-left: .5rem;
    }
  }

  &.in-dark {
    a {
      color: $white;
    }
  }
}

