//
// Components :: Tab
// --------------------------------------------------
.ts-nav-tabs {
  border-bottom: 1px solid rgba($black, 0.1);
  flex-wrap: nowrap;
  overflow-x: auto;

  .nav-link {
    padding: 11px 25px;
    background-color: $whitesmoke;
    border-radius: 0;
    color: $gray20;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;

    &.active {
      background-color: color(color1, 1);
      color: $white;
      border-color: color(color1, 1);

      &:hover {
        background-color: color(color1, 1);
        color: $white;
        border-color: color(color1, 1);
      }
    }

    &:hover {
      background-color: $gray90;
      color: $gray20;
    }
  }

  &-icon {
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;

    g {
      fill: color(color1, 1);
    }
  }
}

.ts-tab-content {
  padding: 15px 30px;
  border: 1px solid rgba($black, 0.1);
  border-top: 0;

  @include media-breakpoint-down(lg) {
    padding: 15px;
  }
}

.ts-nav-tabs-01 {
  border-bottom: 5px solid $color1;

  .nav-link {
    padding: 9px 25px;
    background-color: $color7;
    border-radius: 0;
    color: $white;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    margin-bottom: 0;
    font-family: $oswald;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;

    &:not(:last-of-type) {
      margin-right: 10px;
    }

    &.active {
      background-color: color(color1, 1);
      color: $white;
      border-color: color(color1, 1);

      &:hover {
        background-color: color(color1, 1);
        color: $white;
        border-color: color(color1, 1);
      }
    }

    &:hover {
      background-color: color(color1, 1);
      border-color: color(color1, 1);
      color: $white;
    }
  }
}

.ts-tab-content-01 {
  padding: 30px;
  color: $color3;
  background-color: $color7;
}

.ts-nav-tabs-02 {
  border-bottom: 5px solid color(color1, .7);

  .nav-link {
    padding: 9px 25px;
    background-color: transparent;
    border-radius: 0;
    color: $white;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    margin-bottom: 0;
    font-family: $oswald;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    border: 0;

    &:not(:last-of-type) {
      margin-right: 10px;
    }

    &.active {
      background-color: color(color1, .7);
      color: $white;
      border-color: color(color1, .7);

      &:hover {
        background-color: color(color1, .7);
        color: $white;
        border-color: color(color1, .7);
      }
    }

    &:hover {
      background-color: color(color1, .7);
      border-color: color(color1, .7);
      color: $white;
    }
  }
}

.ts-tab-content-02 {
  padding: 30px;
  color: $color3;
  background-color: rgba($black, 0.3);
}