//
// Components :: Testimonial
// --------------------------------------------------
.ts-testimonial-01 {
  border-radius: 2px;

  .testimonial {
    &-content {
      .desc {
        position: relative;
        padding: 10px 0 10px 50px;
        font-style: italic;

        &:before {
          content: "\f10d";
          font-family: $lineAwesome;
          font-size: 30px;
          line-height: 1;
          position: absolute;
          top: 3px;
          left: 13px;
          color: color(color3, 0.5);
          font-weight: 900;
        }

        &:after {
          content: "\f10e";
          font-family: $lineAwesome;
          line-height: 0;
          font-size: 30px;
          position: relative;
          bottom: -10px;
          margin-left: 5px;
          color: color(color3, 0.5);
          font-weight: 900;
        }
      }
    }

    &-info {
      display: flex;
      align-items: center;
    }

    &-avatar {
      width: 60px;
      height: 60px;
      margin-right: 15px;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      @include aspect-ratio(1, 1, ".img-card");

      .img-card {
        @include fitImage();
      }
    }

    &-detail {
      .name {
        font-weight: bold;
        margin-bottom: 0;
        font-size: 1rem;
      }

      .title {
        @extend .color--fb-6;
        font-size: 13px;
      }
    }

    &-meta {
      display: flex;
      padding-left: 50px;
      padding-top: 10px;

      &-name {
        font-size: 18px;
        padding-right: 30px;
      }

      &-title {
        @extend .color--fb-6;
      }
    }
  }
}

.ts-testimonial-card {
  &-02 {
    border-radius: 5px;
    overflow: hidden;
    background-color: $white;
    padding: 30px;
    position: relative;

    .testimonial-card {
      &-header {
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 30px;
        position: relative;

        &:after {
          content: "\f2cd";
          font-family: $lineAwesome;
          color: #dae6f0;
          font-size: 58px;
          position: absolute;
          top: 70px;
          left: 0;
          line-height: 1;
          opacity: 0.5;
        }
      }

      &-cover-wrap {
        flex: 0 0 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        z-index: 1;
      }

      &-info {
        flex-grow: 1;
        padding-left: 18px;
      }

      &-name {
        font-size: 22px;
        line-height: 26px;
        color: $gray20;
        font-weight: 600;
        margin-bottom: 6px;
        transition: $transition-base;
      }

      &-title {
        font-size: 15px;
        line-height: 25px;
        color: $gray80;
        margin-bottom: 0;
        transition: $transition-base;
      }

      &-content {
        position: relative;
      }

      &-footer {
        position: relative;
      }

      &-desc {
        font-size: 15px;
        line-height: 25px;
        color: $gray60;
        margin-bottom: 20px;
        transition: $transition-base;
      }
    }

    &:hover {
      color: $white;

      .testimonial-card {
        &-name {
          color: $gray20;
        }

        &-title {
          color: $gray20;
        }

        &-desc {
          color: $gray20;
        }
      }

      .ts-overlay {
        opacity: 1;
      }
    }

    &.in-dark {
      background-color: $black;
      color: $white;

      .testimonial-card {
        &-name {
          color: $white;
        }

        &-title {
          color: $gray90;
        }

        &-desc {
          color: $white;
        }
      }
    }
  }

  &-03 {
    .testimonial-card {
      &-name {
        font-size: 22px;
        line-height: 26px;
        color: $gray20;
        font-weight: 600;
        margin-bottom: 0;
      }

      &-title {
        font-size: 15px;
        line-height: 25px;
        color: $gray80;
        margin-bottom: 4px;
      }

      &-rating {
        margin-bottom: 20px;
      }

      &-desc {
        font-size: 15px;
        line-height: 25px;
        color: $gray60;
        margin-bottom: 0;
      }
    }

    &.in-dark {
      color: $white;

      .testimonial-card {
        &-name {
          color: $white;
        }

        &-title {
          color: $gray90;
        }

        &-desc {
          color: $white;
        }
      }
    }
  }
}

.ts-testimonial-card-04 {
  background-color: $white;

  &-layer {
    fill: color(color1, 1);
    width: 100%;
    height: 148px;
  }

  .testimonial-card-content {
    font-style: italic;

    &:before {
      content: "\f10d";
      font-family: $lineAwesome;
      font-size: 24px;
      line-height: 1;
      position: relative;
      top: 3px;
      padding-right: 5px;
      color: color(color1, 0.5);
      font-weight: 900;
    }

    &:after {
      content: "\f10e";
      font-family: $lineAwesome;
      line-height: 0;
      font-size: 24px;
      position: relative;
      bottom: -10px;
      margin-left: 5px;
      color: color(color1, 0.5);
      font-weight: 900;
    }
  }

  .card-body {
    padding: 30px 30px 0 30px;
    position: relative;

    .ts-icon {
      position: absolute;
      top: -4px;
      left: 8px;
      opacity: 0.1;
      font-size: 56px;
      line-height: 1;
      color: color(color1, 1);
    }
  }

  .card-cover {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 160px;

    .card-img {
      border-radius: 50%;
      position: absolute;
      width: 70px;
      top: 15px;
      left: 50%;
      transform: translateX(-50%);
    }

    .testimonial-card-info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding: 10px 15px;

      .testimonial-card-name {
        color: $white;
        font-weight: 200;
        font-size: 18px;
      }

      [class^="ts-rating-list"] {
        margin-bottom: 10px;
      }
    }
  }
}

.ts-testimonial-card-05 {
  background-color: $white;

  .card-body {
    padding: 40px 30px 40px;
    position: relative;
    border-top: 3px solid color(color1, 1);

    .ts-icon {
      font-size: 72px;
      opacity: 0.1;
      color: color(color1, 1);
      position: absolute;
      top: -20px;
      right: 15px;
      line-height: 1;
    }

    .testimonial-card-content {
      font-style: italic;
      margin-bottom: 0;
      font-size: 16px;
    }
  }

  .card-cover {
    // background-color: color(color7, 1);
    background-color: $gray40;
    display: flex;
    align-items: center;
    padding: 15px 30px;

    .card-img {
      border-radius: 50%;
      width: 60px;
      margin-right: 15px;
    }

    .testimonial-card-info {
      .testimonial-card-name {
        font-size: 18px;
        font-weight: 200;
        color: color(dynamicColor, 1);
        margin-bottom: 0;
      }

      .testimonial-card-title {
        font-size: 13px;
        color: color(dynamicColor, 0.7);
        margin-bottom: 0;
      }
    }
  }
}

.ts-testimonial-card-06 {
  background-color: rgba($black, 0.7);
  color: rgba($white, 0.7);
  border-bottom: 4px solid color(color1, 1);
  padding: 40px 80px 30px;
  text-align: center;
  font-style: italic;
  font-size: 16px;
  position: relative;
  margin-bottom: 12px;
  width: 100%;

  &:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 12px solid color(color1, 1);
    border-right: 12px solid color(color1, 1);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top-width: 14px;
    border-top-style: solid;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  &:before {
    content: "\f10d";
    font-weight: 900;
    font-family: $lineAwesome;
    color: $color5;
    font-size: 64px;
    position: absolute;
    top: 12px;
    left: 5px;
    line-height: 1;
  }

  .blockquote-footer {
    // color: $color4;
  }
}

.ts-testimonial-card-07 {
  .ts-testimonial-content {
    background-color: rgba($black, 0.7);
    color: rgba($white, 0.9);
    border-bottom: 4px solid color(color1, 1);
    padding: 30px 30px 30px 70px;
    font-style: italic;
    font-size: 14px;
    // font-weight: 400;
    position: relative;
    margin-bottom: 24px;
    width: 100%;
    // font-family: $lora;

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-top: 12px solid color(color1, 1);
      border-right: 12px solid color(color1, 1);
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top-width: 14px;
      border-top-style: solid;
      position: absolute;
      top: 100%;
      left: 15px;
    }

    &:before {
      content: "\f10e";
      font-weight: 900;
      font-family: $lineAwesome;
      color: $color5;
      font-style: normal;
      font-size: 56px;
      position: absolute;
      transform: scaleX(-1);
      top: -11px;
      left: 5px;
      line-height: 1;
    }
  }

  .ts-testimonial-thumb {
    display: flex;
    align-items: center;
    
    .testimonial-avatar {
      width: 64px;
      height: 64px;
      margin-right: 15px;
      border-radius: 2px;
      overflow: hidden;

      img {
        @include fitImage();
      }
    }

    .testimonial-name {
      font-size: 16px;
    }

    .testimonial-title {

    }
  }
}
