mixin navigation
  ul
    li.has-sub
      a.animsition-link(href="home_01.html") HOME
      ul
        li
          a.animsition-link(href='home_01.html') Home Version  1
        li
          a.animsition-link(href='home_02.html') Home Version  2
        li
          a.animsition-link(href='home_03.html') Home Version  3
        li
          a.animsition-link(href='home_04.html') Home Version  4
        li
          a.animsition-link(href='home_05.html') Home Version  5
    li.has-sub
      a.animsition-link(href="about_01.html") ABOUT
      ul
        li
          a.animsition-link(href="about_01.html") About 01
        li
          a.animsition-link(href="about_02.html") About 02
        li
          a.animsition-link(href="about_03.html") About 03
    li.has-sub
      a.animsition-link(href="cases_01.html") CASES
      ul
        li
          a.animsition-link(href='cases_01.html') Cases Version 1
        li
          a.animsition-link(href='cases_02.html') Cases Version 2
        li
          a.animsition-link(href='cases_03.html') Cases Version 3
        li
          a.animsition-link(href='cases_detail_01.html') Cases Detail 01
        li
          a.animsition-link(href='cases_detail_02.html') Cases Detail 02
    li.has-sub
      a.animsition-link(href="services_01.html") SERVICES 
      ul
        li
          a.animsition-link(href='services_01.html') Services Version 1
        li
          a.animsition-link(href='services_02.html') Services Version 2
        li
          a.animsition-link(href='services_03.html') Services Version 3
        li
          a.animsition-link(href='services_04.html') Services Version 4
        li
          a.animsition-link(href='services_05.html') Services Version 5
        li
          a.animsition-link(href='services_detail.html') Services Detail                   
    li.has-sub
      a.animsition-link(href="blog_list_01.html") BLOG
      ul
        li
          a.animsition-link(href='blog_list_01.html') Blog List 01
        li
          a.animsition-link(href='blog_list_02.html') Blog List 02
        li
          a.animsition-link(href='blog_grid_01.html') Blog Grid 01
        li
          a.animsition-link(href='blog_grid_02.html') Blog Grid 02
        li
          a.animsition-link(href="blog_detail.html") Blog Detail
    li.has-sub
      a.animsition-link(href="elements.html") PAGES 
      ul
        li.has-sub
          a.animsition-link(href='team_01.html') Our Team
          ul
            li
              a.animsition-link(href='team_01.html') Team 01
            li
              a.animsition-link(href='team_02.html') Team 02
        li
          a.animsition-link(href='testimonials.html') Testimonials
        li.has-sub
          a.animsition-link(href="shop_grid.html") Shop
          ul
            li.has-sub
              a.animsition-link(href='shop_grid.html') Shop Grid
              ul
                li.has-sub
                  a.animsition-link(href='shop_grid.html') Shop Grid
                  ul
                    li
                      a.animsition-link(href='shop_grid.html') Shop Grid
                    li
                      a.animsition-link(href='shop_sidebar.html') Shop with Sidebar
                    li
                      a.animsition-link(href='shop_detail.html') Shop Detail
                    li
                      a.animsition-link(href='shop_cart.html') Shop Cart
                    li
                      a.animsition-link(href='shop_checkout.html') Shop Checkout
                li
                  a.animsition-link(href='shop_sidebar.html') Shop with Sidebar
                li
                  a.animsition-link(href='shop_detail.html') Shop Detail
                li
                  a.animsition-link(href='shop_cart.html') Shop Cart
                li
                  a.animsition-link(href='shop_checkout.html') Shop Checkout
            li
              a.animsition-link(href='shop_sidebar.html') Shop with Sidebar
            li
              a.animsition-link(href='shop_detail.html') Shop Detail
            li
              a.animsition-link(href='shop_cart.html') Shop Cart
            li
              a.animsition-link(href='shop_checkout.html') Shop Checkout
        li
          a.animsition-link(href='elements.html') Elements
        li
          a.animsition-link(href='coming_soon.html') Coming Soon
        li
          a.animsition-link(href='404.html') 404 Error
    li.has-sub
      a.animsition-link(href="contact_01.html") CONTACTS
      ul
        li
          a.animsition-link(href='contact_01.html') Contact Version 1
        li
          a.animsition-link(href='contact_02.html') Contact Version 2
    
