extends modules/layout/layout.pug
include modules/script/lib
include modules/control/control
append head
  title="404 - 404 01"
  link(href="css/main.min.css" rel="stylesheet")
  //- replace your color below
  //- link(href="css/colors/colors.min.css" rel="stylesheet")
append header
append content
  section.page-404
    .inner
      h1.mb-5 404
      h2.mb-5.font-weight-normal Oops! Nothing was found
      p.mb-6
        | The page you are looking for might have been removed had its name changed or is temporarily unavailable. 
        br
        a(href="home_01.html") Return to homepage
      .social
        a(href="#").square.bg--facebook.in-dark.hbg--facebook.mx-2
          i.ts-icon.lab.la-facebook-square
        a(href="#").square.bg--twitter.in-dark.hbg--twitter.mx-2
          i.ts-icon.lab.la-twitter
        a(href="#").square.bg--pinterest.in-dark.hbg--pinterest.mx-2
          i.ts-icon.lab.la-pinterest
        a(href="#").square.bg--instagram.in-dark.hbg--instagram.mx-2
          i.ts-icon.lab.la-instagram
  +control
append plugins  
  +lib
append script
  script(defer src="js/main.min.js")
  