extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/footer/footer
include modules/control/control
append head
  title="Blog - Blog List 02"
  link(href="css/main.min.css" rel="stylesheet")
append header
  +headerHome04

append content
  .ts-sub-header-02.border-bottom
    .container
      .row
        .col-lg-12
          .sub-header-inner
            h2 Blog List
            nav(aria-label="breadcrumb")
              ol.ts-breadcrumb-01
                li.breadcrumb-item
                  a(href="home_01.html") Home
                li.breadcrumb-item.active(aria-current="page") Blog List

  section.bg--white
    .container
      .row.py-5.py-lg-7
        .col-lg-9
          .blog-list-01
            - for(var i = 1; i < 8; i++) {
              .item
                article.mb-5
                  +blog12('la-file-image',
                    'images/blog-0' + i + '.jpg',
                    '10 skills propelling finance functions forward in 2019',
                    '15',
                    'Oct',
                    'With the political and economic climate remaining uncertain in 2019, finance professionals in a range of roles will need to be very adaptable to changes in the market. Those with specialist knowledge will be in particularly high demand, along with experts...',
                    'Adam Slander',
                    'Financial',
                    '22')
            - }
           
            nav.ts-pagination-01.pt-lg-4.mb-5.mb-lg-0(aria-label="Page navigation example")
              ul.pagination
                li.page-item
                  a.page-link(href="#")
                    i.ts-icon.la.la-angle-double-left
                li.page-item.active
                  a.page-link(href="#") 1
                li.page-item
                  a.page-link(href="#") 2
                li.page-item
                  a.page-link(href="#") 3
                li.page-item
                  a.page-link(href="#") ...
                li.page-item
                  a.page-link(href="#") 25
                li.page-item
                  a.page-link(href="#")
                    i.ts-icon.la.la-angle-double-right
            
        .col-lg-3
          .main-sidebar
            aside.widget.widget-text
              h3.widget-title
                i.ts-icon.la.la-angle-double-right.mr-1
                | About
              .textwidget
                p
                  | Nulla eleifend, sapien eget porttitor maximus, nisl ante convallis dolor, nec consequat felis ex a ex. Etiam vestibulum enim euismod dui vestibulum, vitae fringilla nibh consectetur. Integer at volutpat augue. Donec consectetur, est nec laoreet scelerisque, lacus nulla fermentum odio, ut accumsan enim ipsum a justo.
            aside.widget.widget_search
              form.form-inline(action="" method="get" role="search")
                .input-group
                  input.ts-input.border-right-0(type="search" name="s" value="" placeholder="Search …")
                  .input-group-append
                    button.ts-btn.btn-color1(type="submit")
                      i.ts-icon.la.la-search
            aside.widget.widget-catalog
              h3.widget-title
                i.ts-icon.la.la-angle-double-right.mr-1
                | Categories
              ul
                li.cat-item
                  a(href="#") Business Market
                  |  (5)
                li.cat-item
                  a(href="#") Socials Network
                  |  (12)
                li.cat-item
                  a(href="#") Team Work
                  |  (10)
                li.cat-item
                  a(href="#") Product Services
                  |  (9)
                li.cat-item
                  a(href="#") Socials Ecommerce
                  |  (6)
            aside.widget.widget-tags
              h3.widget-title
                i.ts-icon.la.la-angle-double-right.mr-1
                | Tags
              ul
                li
                  a(href="#") audio
                li
                  a(href="#") gallery
                li
                  a(href="#") image
                li
                  a(href="#") music
                li
                  a(href="#") photo
                li
                  a(href="#") quote
                li
                  a(href="#") text
                li
                  a(href="#") video
                li
                  a(href="#") vimeo
                li
                  a(href="#") youtube
            aside.widget.widget-archive
              h3.widget-title
                i.ts-icon.la.la-angle-double-right.mr-1
                | Archives
              ul
                li
                  a(href="#") September 2016
                  |  (14)
                li
                  a(href="#") September 2015
                  |  (10)
                li
                  a(href="#") January 2013
                  |  (5)
                li
                  a(href="#") March 2012
                  |  (5)
                li
                  a(href="#") January 2012
                  |  (6)
                li
                  a(href="#") March 2011
                  |  (1)
                li
                  a(href="#") October 2010
                  |  (1)
            aside.widget.widget-meta
              h3.widget-title
                i.ts-icon.la.la-angle-double-right.mr-1
                | Meta
              ul
                li
                  a(href="#") Site Admin
                li
                  a(href="#") Log out
                li
                  a(href="#")
                    | Entries 
                    abbr RSS
                li
                  a(href="#")
                    | Comments 
                    abbr RSS
                li
                  a(href="#") WordPress.org
  
  +footer04

  +popupSearch

  +control
append plugins  
  +lib
append script
  script(defer src="js/main.min.js")
  

