extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/blog/blog
include modules/control/control
append head
  title="Component - Project Card"
  link(href="css/main.min.css" rel="stylesheet")
append header
append content
  .bg--gray60.py-7
    .container
      .card.mb-3.d-block.bg-light.border-0
        .card-body
          .row
            .col-lg-7
              +blog01
      
      .card.mb-3.d-block.bg-light.border-0
        .card-body
          .row
            .col-lg-7
              +blog02

      .card.mb-3.d-block.bg-light.border-0
        .card-body
          .row
            .col-lg-7
              +blog03(
                'https://picsum.photos/400?random=1',
                'Blog Card 01', 
                'Among the more rigorous yet rewarding career options in the financial services industry is that...',
                ['OPERATION', 'ANALYST'],
                'AUG 13, 2019')
      
      .card.mb-3.d-block.bg-light.border-0
        .card-body
          .row
            .col-lg-4
              +blog04(
                'https://picsum.photos/400?random=2', 
                'Blog Card 02', 
                'With the political and economic climate remaining uncertain in 2019, finance professionals in a range of roles will need to be very adaptable to changes in the market...',
                ['SKILLS', 'FINANCIAL'],
                'OCT 15, 2019')

      .card.mb-3.d-block.bg-light.border-0
        .card-body
          .row
            .col-lg-9
              +blog05(
                'https://picsum.photos/400?random=3', 
                'Blog Card 03', 
                'With the political and economic climate remaining uncertain in 2019, finance professionals in a range of roles will need to be very adaptable to changes...',
                ['SKILLS', 'FINANCIAL'],
                'OCT 15, 2019')
      
      .card.mb-3.d-block.bg-light.border-0
        .card-body
          .row
            .col-lg-9
              +blog06(
                'https://picsum.photos/400?random=4', 
                'Blog Card 04', 
                'With the political and economic climate remaining uncertain in 2019, finance professionals in a range of roles will need to be very adaptable to changes in the market...',
                ['SKILLS', 'FINANCIAL'],
                'OCT 15, 2019')

      .card.mb-3.d-block.bg-dark.border-0
        .card-body
          .row
            .col-md-5
              +blog08('https://picsum.photos/400?random=5', 'Blog Card Widget', 'OCT 18, 2019')
      
  +control
append plugins  
  +lib
append script
  script(src="js/main.min.js")
  script.
    $(document).ready(function() {
      $('.ts-blog-card-02').hover(function() {
        $(this).find('.card-description').stop().animate({
          height: "toggle",
          opacity: "toggle"
        }, 300);
      });
    });
  
  
    

    


  
