extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/blog/blog
include modules/footer/footer
include modules/control/control
append head
  title="Blog - Blog Grid 02"
  link(href="css/main.min.css" rel="stylesheet")
  //- replace your color below
  link(href="css/colors/colors.min.css" rel="stylesheet")
append header
  +headerHome04

append content
  .ts-sub-header-02.border-bottom
    .container
      .row
        .col-lg-12
          .sub-header-inner
            h2 Blog Grid
            nav(aria-label="breadcrumb")
              ol.ts-breadcrumb-01
                li.breadcrumb-item
                  a(href="home_01.html") Home
                li.breadcrumb-item.active(aria-current="page") Blog Grid

  section.bg--white
    .container
      .row.py-5.py-lg-7
        .col-lg-12
          .blog-grid-01
            .row.js-isotope-projects.mansory-gutter-30
              .grid-sizer.col-lg-4.col-md-6
              each blog in blogs.data
                article.mb-5.item.col-lg-4.col-md-6
                  +blog10(blog.title, blog.cat, blog.cover, blog.author, blog.desc, blog.monthSort, blog.day, blog.year)

            .row.pt-3
              .col-lg-12.text-center
                a(href="#").ts-btn.btn-lg.btn-color1
                  | Load More
                  i.ts-icon.las.la-sync.pl-2.fs--18

  +footer04

  +popupSearch

  +control
append plugins
  +lib
append script
  script(src="js/header-home-04.min.js")
  script(src='js/extention/isotope.pkgd.min.js')
  script(src="js/filter-portfolio.min.js")
  script(src="js/main.min.js")


