extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/footer/footer
include modules/control/control
append head
  title="Blog - Blog List 02"
  link(href="css/extention/photoswipe.min.css" rel="stylesheet")
  link(href="css/main.min.css" rel="stylesheet")
append header
  +headerHome04

append content
  .ts-sub-header-02.border-bottom
    .container
      .row
        .col-lg-12
          .sub-header-inner
            h2 Blog List
            nav(aria-label="breadcrumb")
              ol.ts-breadcrumb-01
                li.breadcrumb-item
                  a(href="home_01.html") Home
                li.breadcrumb-item.active(aria-current="page") Blog List

  section.bg--white
    .container
      .row.vertical-divider-lg.py-7
        .col-lg-9.pr-lg-5
          .blog-list-01
            each blog in blogs.data
              article.mb-5
                +blog12(blog.title, blog.cat, blog.cover, blog.author, blog.desc, blog.monthSort, blog.day, blog.year, blog.comment, blog.type)

            +pagination

        .col-lg-3.pl-lg-5
          +sideBar

  +footer04

  +popupSearch

  +photoSwiper

  +control
append plugins
  +lib
append script
  script(src="js/extention/photoswipe.min.js")
  script(src="js/extention/photoswipe-ui-default.min.js")
  script(src="js/photoswipe-function.min.js")
  script(src="js/main.min.js")


