extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/services/services
include modules/portfolio/portfolio
include modules/footer/footer
include modules/control/control
append head
  title="Cases - Cases 02"
  link(href="css/main.min.css" rel="stylesheet")
append header
  +headerHome04

append content
  .ts-sub-header-02.border-bottom
    .container
      .row
        .col-lg-12
          .sub-header-inner
            h2 Cases
            nav(aria-label="breadcrumb")
              ol.ts-breadcrumb-01
                li.breadcrumb-item
                  a(href="home_01.html") Home
                li.breadcrumb-item.active(aria-current="page") Our Cases

  section.bg--white.pt-7.pb-5
    .container
      .row
        .col-lg-12.text-center.text-md-right.portfolio-filter-01.mb-5.filterProject
          a.active(href="#", data-filter="*") All
          a(href="#", data-filter=".Theory") Revision Theory
          a(href="#", data-filter=".Strategy") Business Strategy
          a(href="#", data-filter=".Accounting") Accounting
          a(href="#", data-filter=".Risk") Financial Risk
          a(href="#", data-filter=".Insurance") Financial Insurance
      .row.js-isotope-projects.mb-5.mansory-gutter-30
        .col-lg-3.col-md-6.grid-sizer
        .item.col-lg-6.col-md-6.Theory.Strategy
          +portfolio04('images/cases-01.jpg', 'Better Business Program', 'Accounting', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hic nihil fuit, quod quaereremus. Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant. Duo Reges: constructio interrete.', 'w2-h2')
        .item.col-lg-6.col-md-6.Insurance.Accounting.Risk
          +portfolio04('images/cases-02.jpg', 'Income Protection Insurance', 'Planning & Investments', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hic nihil fuit, quod quaereremus. Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant. Duo Reges: constructio interrete.', 'w2-h1')
        .item.col-lg-3.col-md-6.Theory.Strategy.Insurance
          +portfolio04('images/cases-03.jpg', 'Risk Insurance', 'Risk Insurance', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hic nihil fuit, quod quaereremus. Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant. Duo Reges: constructio interrete.', 'w1-h1')
        .item.col-lg-3.col-md-6.Strategy.Accounting
          +portfolio04('images/cases-04.jpg', 'Foundations for Business Success', 'Consulting', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hic nihil fuit, quod quaereremus. Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant. Duo Reges: constructio interrete.', 'w1-h1')
        .item.col-lg-3.col-md-6.Accounting.Strategy
          +portfolio04('images/cases-05.jpg', 'Mastering Leadership and Influence', 'Performance Coaching', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hic nihil fuit, quod quaereremus. Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant. Duo Reges: constructio interrete.', 'w1-h1')
        .item.col-lg-3.col-md-6.Risk.Accounting.Risk.Theory
          +portfolio04('images/cases-06.jpg', 'Investment in collectables', 'Investment', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hic nihil fuit, quod quaereremus. Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant. Duo Reges: constructio interrete.', 'w1-h1')
        .item.col-lg-3.col-md-6.Risk.Strategy.Accounting
          +portfolio04('images/cases-07.jpg', 'Tax and property sales', 'Tax', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hic nihil fuit, quod quaereremus. Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant. Duo Reges: constructio interrete.', 'w1-h1')
        .item.col-lg-3.col-md-6.Insurance.Accounting.Strategy
          +portfolio04('images/cases-08.jpg', 'Generating an income in retirement', 'Retirement', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hic nihil fuit, quod quaereremus. Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant. Duo Reges: constructio interrete.', 'w1-h1')
      .row
        .col-lg-12.text-center
          a(href="#").ts-btn.btn-lg.btn-color1
            | Load More
            i.ts-icon.la.la-refresh.pl-2.fs--18

  .home-01-cta.bg--whitesmoke.py-5
    +boxCta01

  +footer04

  +popupSearch

  +control
append plugins
  +lib
append script
  script(src='js/extention/isotope.pkgd.min.js')
  script(src="js/filter-portfolio.min.js")
  script(src="js/main.min.js")


