extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/footer/footer
include modules/control/control
append head
  title="Cases - Cases Detail"
  link(href="css/extention/photoswipe.min.css" rel="stylesheet")
  link(href="css/main.min.css" rel="stylesheet")
  //- replace your color below
  //- link(href="css/colors/colors.min.css" rel="stylesheet")
append header
  +headerHome04

append content
  .ts-sub-header-02.border-bottom
    .container
      .row
        .col-lg-12
          .sub-header-inner
            h2 Cases Detail
            nav(aria-label="breadcrumb")
              ol.ts-breadcrumb-01
                li.breadcrumb-item
                  a(href="index.html") Home
                li.breadcrumb-item.active(aria-current="page") Cases Detail

  section.bg--white.py-5.py-lg-7
    .container
      .row
        .col-lg-12
          .cases-detail
            .row.mb-5
              .col-lg-12.text-center
                h2 Temporibus autem quibusdam et aut officiis
                a.cases-detail__cat(href="#") 
                  i.las.la-minus.mr-1.fs--18
                  | Overview
                  i.las.la-minus.ml-1.fs--18
            .row.mb-5
              .col-lg-4.mb-5.mb-lg-0
                h5.mb-4 Abstract
                p.mb-4 Steel Authority of India Limited (SAIL), one of the world’s largest government-owned steel making companies and India’s largest, was incorporated on January 24, 1973. The Government of India held 75% of the stake in SAIL
                .widget-opening-hours.in-light.mb-4
                  ul
                    li 
                      span Industry :
                      span Manufacturing
                    li 
                      span Teaching Note :
                      span Available
                    li 
                      span Structured Assignment :
                      span Not Available
                    li
                      span Region :
                      span India
                .pt-lg-2
                  a(href="#").ts-btn.btn-color1.btn-lg.d-block
                    i.las.la-download.mr-2.fs--22
                    | Download Case
              .col-lg-8
                .pl-lg-5
                  .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src="https://docs.google.com/presentation/d/e/2PACX-1vRNjT8EfOUkwmYMC3y6BCwV4-Wm2x-LsnZ1GvZA6FACGLqIlNqZFIKleloTA78lJg/embed?start=false&loop=false&delayms=3000" width="960" height="569" allowfullscreen)
            .ts-divider-02.my-5
            .row
              .col-lg-6
                #myChart2.mb-6(style="width: 100%; height: 250px")
              .col-lg-6
                h5.mb-4 Pedagogical Objectives:
                p Duis nunc tortor, condimentum porta leo id, tempus mollis nulla. Suspendisse blandit congue rutrum. Proin nec porttitor arcu. Etiam a dictum odio. 
                ul.list-style-01.list-dot
                  li.mb-2 Understand the working capital situation in a steel manufacturing compan
                  li.mb-2 Analyze how the global market situation may impact a firm’s working capital.
                  li.mb-2 Identify the areas where business can take strategic decisions for optimizing the operating cycle.
                  li Understand the concept of Working Capital, Working Capital Gap, Gross Operating Cycle, Net Operating Cycle or Cash Cycle.
            .ts-divider-02.mb-5.mt-5.mt-lg-0
            .row
              .col-lg-12
                nav.nav.nav-tabs.ts-nav-tabs
                  a.nav-item.nav-link.active(data-toggle='tab', href='#Customer') Customer Profile
                  a.nav-item.nav-link(data-toggle='tab', href='#Business') Business Situation
                  a.nav-item.nav-link(data-toggle='tab', href='#Solutions') Solutions
                .tab-content.ts-tab-content
                  #Customer.tab-pane.fade.show.active
                    p The garment industry is a critical source of formal employment for millions of the world’s poor, and particularly for women who comprise the majority of this sector’s workforce. For these women, garment factory work provides an opportunity to earn a salaried wage and contribute to their household’s financial well-being.
                    p However, many low-income, wage-earning women lack financial literacy and access to formal financial services. As a result, they often rely on informal mechanisms such as saving cash at home, investing in riskier assets like jewelry or livestock, or relying on informal group-savings mechanisms. Women are also far less likely than men to make decisions about how their wages should be allocated. According to a 
                      a(href='#') BSR survey of 500 garment workers in Bangalore and Delhi, India
                      | , only 48 percent of female garment workers decide what to do with their monthly wages, compared to 90 percent of their male peers.
                    p Given that 
                        a(href='#') women tend to invest 90 percent of their earnings back into the health, nutrition, and education of their families
                        | , increasing women’s financial capabilities can lead to long-term prosperity for households, families, and communities. BSR’s 
                        a(href='#') HERfinance 
                        | program is working to increase the financial awareness and access to financial services among this population of women.
                  #Business.tab-pane.fade
                    p The results of the HERfinance pilot revealed significant improvements in workers’ financial knowledge, confidence, and behaviors, and also improvements in the workplace environment.
                    p Based on BSR surveys of 500 workers who had completed the HERfinance program, we found that there was a 39 percent decrease in women saying they couldn’t use an ATM, and a 23 percent increase in women saying they, not someone else, made decisions about what to do with their salaries. Of the men and women surveyed, 38 percent were more likely to save their salaries in a formal bank account, and 91 percent said their rates of savin                 g increased through better financial planning and budgeting.
                    p Among both men and women, there was a threefold increase in workers who said they felt they could meet their families’ needs with their existing salaries. This may have contributed to their job satisfaction, as 97 percent of workers said their perception of their employer improved because of the HERfinance program at their factory.
                    p After the pilot, BSR received a significant grant from the Bill & Melinda Gates Foundation to scale our work across South Asia and to introduce workers to the formal financial system by switching their employers’ payroll from a cash-based to an electronic system. We plan to hold a series of global roundtables to encourage more companies to partner with us, with a goal to empower 300,000 low-income workers over the next few years.
                  #Solutions.tab-pane.fade
                    p The HERfinance success indicates that the workplace is an efficient intervention point for programs that improve the lives of low-income workers. Not only can financial-education programs be delivered to large numbers of women workers cost effectively, the workplace can become a location to introduce women workers to critical products and services.
                    p Commitments to worker well-being from large global buyers are critical to scaling programs such as HERfinance, since these companies hold the business relationships with employers of large numbers of low-income women. These global buyers also can encourage their suppliers to better understand workers’ needs, and to make investments that improve both worker livelihoods and the factory business.

  .home-01-cta.py-5.bg--whitesmoke
    +boxCta01

  +footer04

  +popupSearch

  +control
append plugins  
  +lib
append script
  script(src="js/header-home-04.min.js")
  script(src="js/main.min.js")
  script(src="https://www.gstatic.com/charts/loader.js")
  script(src="js/chartjs04.min.js")
