extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/footer/footer
include modules/control/control
append head
  title="Contact - Contact 01"
  link(href="css/main.min.css" rel="stylesheet")
  //- replace your color below
  link(href="css/colors/colors.min.css" rel="stylesheet")
append header
  +headerHome04

append content
  .ts-sub-header-02.border-bottom
    .container
      .row
        .col-lg-12
          .sub-header-inner
            h2 Contact Us
            nav(aria-label="breadcrumb")
              ol.ts-breadcrumb-01
                li.breadcrumb-item
                  a(href="home_01.html") Home
                li.breadcrumb-item.active(aria-current="page") Contact Us

  section.bg--white.py-7
    .container
      .row
        .col-lg-8.mb-5.mb-lg-0.pr-lg-5
          h3.fs--20.mb-5 Send Us a Message
          .contact-01
            form(action="/contact_01.html")
              .row-g-20.mb-4
                .col-lg-4.mb-4.mb-lg-0
                  input.ts-input-03(type="text", placeholder="Your Name")
                .col-lg-4.mb-4.mb-lg-0
                  input.ts-input-03(type="email", placeholder="Your Email")
                .col-lg-4
                  input.ts-input-03(type="text", placeholder="Your Phone")
              .row.mb-4
                .col-lg-12
                  textarea.ts-input-03(rows="7")
              .row
                .col-lg-12
                  button.ts-btn.btn-color1.btn-lg Send Mail
        .col-lg-4
          h3.fs--20.mb-5 Contact & Working Hours
          p.mt-n1 Suspendisse ut interdum lectus. Integer ac neque faucibus, venenatis nisl quis, pellentesque lacus. Integer et ipsum sit amet dui ultrices hendrerit. 
          .widget-opening-hours.in-light
            ul
              li
                span Address :
                span 151 Hudson St, New York, NY
              li
                span Phone :
                span 
                  a(href="tel:18604193333")  1860-419-3331
              li
                span Mail :
                span
                  a(href="mailto:adam.forest3005@gmail.com") contact@bifirm.com
              li
                span Working Hours :
                span Mon-Fri 09:00 - 17:00

  section#js-map-canvas.map-01

  +footer04

  +popupSearch

  +control
append plugins
  +lib
append script
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAOvgMzMavm0loFdwqNrzzVh42X_-lDZ3w')
  script(src="js/google-map.min.js")
  script(src="js/header-home-04.min.js")
  script(src="js/main.min.js")
