extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/footer/footer
include modules/control/control
append head
  title="Contact - Contact 02"
  link(href="css/main.min.css" rel="stylesheet")
append header
  +headerHome04

append content
  .ts-sub-header-02.border-bottom
    .container
      .row
        .col-lg-12
          .sub-header-inner
            h2 Contact Us
            nav(aria-label="breadcrumb")
              ol.ts-breadcrumb-01
                li.breadcrumb-item
                  a(href="home_01.html") Home
                li.breadcrumb-item.active(aria-current="page") Contact Us

  section.bg--white.py-7
    .container
      .row
        .col-lg-8.offset-lg-2.text-center
          h3.fs--48.mb-4 CONTACT US
          p.mb-5.fs--18 Send us an email vulputate bibendum justo sed, tincidunt justo sed
            br
            | quisque dictum eget dolor vel justo sed justo sed maximus.
          .contact-01
            form(action="/contact_02.html")
              .row-g-20.mb-4
                .col-lg-4.mb-4.mb-lg-0
                  input.ts-input-03(type="text", placeholder="Your Name")
                .col-lg-4.mb-4.mb-lg-0
                  input.ts-input-03(type="email", placeholder="Your Email")
                .col-lg-4
                  input.ts-input-03(type="text", placeholder="Your Phone")
              .row.mb-4
                .col-lg-12
                  textarea.ts-input-03(rows="7")
              .row
                .col-lg-12
                  button.ts-btn.btn-color1.btn-lg Send Mail
  section#js-map-canvas.map-01

  +footer04

  +popupSearch

  +control
append plugins
  +lib
append script
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAOvgMzMavm0loFdwqNrzzVh42X_-lDZ3w')
  script(src="js/google-map.min.js")
  script(src="js/main.min.js")
