extends modules/layout/layout.pug
include modules/script/lib
include modules/control/control
append head
  title="Component - Counter"
  link(href="css/main.min.css" rel="stylesheet")
append header
append content
  .bg--gray60.py-7
    .container
      .card.mb-3.d-block.bg-light.border-0
        .card-body
          .row
            .d-flex.justify-content-center.mt-4.align-items-center
              .item.counter-up-01
                p.counter.js-counter-up.color--color20 30
                span.desc.color--fb06 Years of Experience
              .item.counter-up-01
                p.counter.js-counter-up.color--color20(data-unit="k") 128
                span.desc.color--fb06 Happy Customers
              .item.counter-up-01
                p.counter.js-counter-up.color--color20 192
                span.desc.color--fb06 Super Advisor
  
  +control
append plugins  
  +lib
append script
  script(src='js/extention/on-screen.min.js')
  script(src='js/counter-up.min.js')
  script(src="js/main.min.js")
