extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/control/control
append head
  title="Component - Header"
  link(href="css/main.min.css" rel="stylesheet")
append header
append content
  div(style="background-image: url('images/home-04-slider-08.jpg'); background-size: cover; background-attachment: fixed;")
    .mb-7
      .header-container.js-header-playground
        .ts-header.ts-header-01.bg--white
          .container
            .ts-header-01-inner
              .ts-header-01-left
                a.ts-header-logo-wrap(href="index.html")
                  img.header-logo(src="images/logo-dark.png" alt="logo")
              .ts-header-01-right.d-none.d-lg-flex
                nav.ts-main-menu
                  +navigation
              a(href="#js-mobile-menu-btn").ts-btn-mobile-menu
                i.ts-icon.la.la-bars

    .bg--whitesmoke.py-7.mb-7
      .container
        .row
          .col
            .form-group
              label(for="js-header-mode") Mode
              select#js-header-mode.form-control
                option(value='bg--white') Light Mode
                option(value='bg--transparent') Transparent
                option(value='bg--black') Dark Mode
                option(value='bg--color1') Theme Mode
          .col
            .form-group
              label(for="js-header-sub-color") Sub Color
              select#js-header-sub-color.form-control
                option(value='') Light Mode
                option(value='sub-dark') Dark Mode
                option(value='sub-color-theme') Theme Mode
          .col
            .form-group
              label(for="js-header-active-link") Active & Hover Link
              select#js-header-active-link.form-control
                option(value='active-link') Link
                option(value='active-line-bottom') Line Bottom
                option(value='active-line-top') Line Top
                option(value='active-line-bottom-top') Line Bottom & Top
                option(value='active-dot') Dot
                option(value='active-background') Background
                option(value='active-background-skewX') Background SkewX
                option(value='active-line-through') Line Through
          .col
            .form-group
              label(for="js-header-sub-icon") Sub Icon
              select#js-header-sub-icon.form-control
                option(value='') None
                option(value='sub-icon') Arrow
                option(value='sub-icon caret') Caret
                option(value='sub-icon plus') Plus
          .col
            .form-group
              label(for="js-header-divider") Divider Item
              select#js-header-divider.form-control
                option(value='') None
                option(value='divider') Slash
                option(value='divider line') Line
                option(value='divider dot') Dot
                option(value='divider dot-black') Dot Black
                option(value='divider square') Square
                option(value='divider square-black') Square Black
                option(value='divider diamond') Diamond
                option(value='divider diamond-black') Diamond Black
            .custom-control.custom-checkbox
              input#js-header-divider-color.custom-control-input(type="checkbox")
              label.custom-control-label(for="js-header-divider-color") Color ?
    
    .mb-7
      .header-container
        .ts-topbar.ts-topbar-01.in-dark.bg--color1
          .container
            .ts-topbar-01-inner
              .ts-topbar-01-left
                .item.ts-icon-box-info-01.in-dark
                  i.ts-icon.la.la-phone
                  a(href="tel:18604193333") 1860-419-3331
                .item.ts-icon-box-info-01.in-dark
                  i.ts-icon.la.la-envelope
                  a(href="mailto:contact@ananci.com") consultant@ananci.com
                .item.ts-icon-box-info-01.in-dark
                  i.ts-icon.la.la-clock
                  span Mon - Fri: 8am - 6pm
              .ts-topbar-01-right
                .item.topbar-social.pr-4
                  span.pr-3.follow-us Follow Us:
                  .ts-social-list-01.align-left.in-dark
                    +tsSocialList01
                .item.ts-language.in-dark.justify-content-end
                  +selectLanguage
        .ts-header.ts-header-01.bg--white
          .container
            .ts-header-01-inner
              .ts-header-01-left
                a.ts-header-logo-wrap(href="index.html")
                  img.header-logo(src="images/logo-dark.png" alt="logo")
              .ts-header-01-right.d-none.d-lg-flex
                nav.ts-main-menu
                  +navigation
                .header-01-control
                  .item.search-popup-btn.js-search-popup-btn
                    +popupSearch
                  .item.btn-cart.has-notify
                    +cart
              a(href="#js-mobile-menu-btn").ts-btn-mobile-menu
                i.ts-icon.la.la-bars

    .mb-7
      .header-container
        .ts-header.ts-header-02.bg--color1
          .ts-header-02-inner
            .ts-header-02-left.flex-grow-1
              a.ts-header-logo-wrap.d-inline-flex.pr-5.mr-5(href="index.html")
                img.header-logo(src="images/logo-light.png", alt="logo")
              nav.ts-main-menu.in-dark.d-none.d-lg-inline-flex
                +navigation
            .ts-header-02-right
              .ts-header-02-control
                .item.mr-4.ts-icon-box-info-02.in-dark
                  .ts-box-square-01
                    i.ts-icon.la.la-phone
                  .content
                    a(href="tel:0110-126-1111") 0110-126-1111
                .item
                  a(href='#').ts-btn.btn-success.btn-lg Get A Quote
            a(href="#js-mobile-menu-btn").ts-btn-mobile-menu.in-dark
              i.ts-icon.la.la-bars
    
    .mb-7
      .header-container
        .ts-topbar.ts-topbar-03.bg--color1
          .container
            .ts-topbar-03-inner.py-3
              .ts-topbar-03-left
                a(href="tel:18604193333").item.ts-icon-box-info-02.in-dark
                  .ts-box-square-01
                    i.ts-icon.la.la-phone
                  .content
                    span Call us now
                    span 1860-419-3331
                a(href="mailto:contact@ananci.com").item.ts-icon-box-info-02.in-dark
                  .ts-box-square-01
                    i.ts-icon.la.la-envelope
                  .content
                    span Email Us
                    span consultant@ananci.com
                .item.ts-icon-box-info-02.in-dark
                  .ts-box-square-01
                    i.ts-icon.la.la-map-marker
                  .content
                    span Find Us
                    span North cost, USA
              .ts-topbar-03-right
                .item.ts-language.in-dark.pr-3
                  +selectLanguage
                .item.pl-3
                  .ts-social-list-01.align-right.in-dark
                    +tsSocialList01
        .ts-header.ts-header-03.bg--white
          .container
            .ts-header-03-inner
              .ts-header-03-left
                a.ts-header-logo-wrap(href="index.html")
                  img.header-logo(src="images/logo-dark.png", alt="logo")
              .ts-header-03-right.d-none.d-lg-flex
                nav.ts-main-menu
                  +navigation
                .ts-header-03-control.pl-5
                  .item.search-popup-btn.js-search-popup-btn.in-light.mr-3
                    +popupSearch
                  .item.btn-cart.has-notify.in-light
                    +cart
              a(href="#js-mobile-menu-btn").ts-btn-mobile-menu
                i.ts-icon.la.la-bars

    .mb-7
      .header-container
        .ts-header.ts-header-04.bg--color1.in-dark
          .container
            .ts-header-04-inner
              .item
                a.ts-header-logo-wrap(href="index.html")
                  img.header-logo(src="images/logo-light.png", alt="logo")
              .item.flex-grow-1
                .ts-header-04-top
                  a(href="tel:18604193333").item.ts-icon-box-info-02.in-dark
                    .ts-box-square-01
                      i.ts-icon.la.la-phone
                    .content
                      span Call us now
                      span 1860-419-3331
                  a(href="mailto:contact@ananci.com").item.ts-icon-box-info-02.in-dark
                    .ts-box-square-01
                      i.ts-icon.la.la-envelope
                    .content
                      span Email Us
                      span consultant@ananci.com
                  .item
                    a(href="#").ts-btn.btn-success.btn-lg Get A Quote
                .ts-header-04-bottom
                  nav.ts-main-menu.in-dark
                    +navigation
              a(href="#js-mobile-menu-btn").ts-btn-mobile-menu
                i.ts-icon.la.la-bars
    
    .mb-7
      .header-container.ts-header-05-wrap
        .ts-topbar.ts-topbar-05.bg--color1.in-dark
          .container
            .ts-topbar-05-wrap-inner
              .ts-language.in-dark
                +selectLanguage
              .item
                span Follow Us:
                .ts-social-list-01.in-dark.align-right.pl-3
                  +tsSocialList01
        .ts-header-05-info.bg--white
          .container
            .ts-header-05-info-inner
              .header-05-left
                a.ts-header-logo-wrap(href="index.html")
                  img.header-logo(src="images/logo-dark.png", alt="logo")
              .header-05-right
                a(href="tel:18604193333").item.ts-icon-box-info-02.in-light
                  .ts-box-square-01
                    i.ts-icon.la.la-phone
                  .content
                    span Call us now
                    span 1860-419-3331
                a(href="mailto:contact@ananci.com").item.ts-icon-box-info-02.in-light
                  .ts-box-square-01
                    i.ts-icon.la.la-envelope
                  .content
                    span Email Us
                    span consultant@ananci.com
                .item.ts-icon-box-info-02.in-light
                  .ts-box-square-01
                    i.ts-icon.la.la-map-marker
                  .content
                    span Find Us
                    span North cost, USA
                .item
                  a(href="#").ts-btn.btn-success.btn-lg Get A Quote
              a(href="#js-mobile-menu-btn").ts-btn-mobile-menu
                i.ts-icon.la.la-bars
        .ts-header.ts-header-05.bg--gray98.d-none.d-lg-block
          .container
            .ts-header-05-inner
              .ts-header-05-left
                nav.ts-main-menu
                  +navigation
              .ts-header-05-right.pl-4
                .item.search-popup-btn.js-search-popup-btn.in-light
                  +popupSearch

    .mb-7
      .header-container
        .ts-header-06-info.bg--white
          .container
            .ts-header-06-info-inner
              .ts-header-06-info-left
                a.ts-header-logo-wrap(href="index.html")
                  img.header-logo(src="images/logo-dark.png", alt="logo")
              .ts-header-06-info-right
                .item.ts-icon-box-info-03.in-light
                  .icon.color--orange
                    i.ts-icon.la.la-map-marker
                  .content
                    span 1010 Avenue of the Moon
                    strong New York, NY 10018 US.
                .item.ts-icon-box-info-03.in-light
                  .icon.color--orange
                    i.ts-icon.la.la-clock
                  .content
                    span Mon - Sat 8.00 - 18.00
                    strong Sunday CLOSED
                a(href="tel:18604193333").item.ts-icon-box-info-03.in-light
                  .icon.color--orange
                    i.ts-icon.la.la-phone
                  .content
                    span Sales department
                    strong +321 123 456 7
              a(href="#js-mobile-menu-btn").ts-btn-mobile-menu
                i.ts-icon.la.la-bars
        .ts-header.ts-header-06.bg--color1.d-none.d-lg-block
          .container
            .ts-header-06-inner
              .ts-header-06-left
                nav.ts-main-menu.style-01.divider.line.divider-in-dark.sub-icon.caret
                  +navigation
              .ts-header-06-right.pl-4
                .item.search-popup-btn.js-search-popup-btn.in-dark
                  +popupSearch

    .mb-7
      .header-container.ts-header-07
        .ts-header-07-info
          .container
            .ts-header-07-info-inner
              .ts-header-07-info-left
                a.ts-header-logo-wrap(href="index.html")
                  img.header-logo(src="images/logo-light.png", alt="logo")
              .ts-header-07-info-right
                .item.ts-icon-box-info-03.in-light
                  .icon.color--orange
                    i.ts-icon.la.la-map-marker
                  .content
                    span 1010 Avenue of the Moon
                    span New York, NY 10018 US.
                .item.ts-icon-box-info-03.in-light
                  .icon.color--orange
                    i.ts-icon.la.la-clock
                  .content
                    span Mon - Sat 8.00 - 18.00
                    span Sunday CLOSED
                a(href="tel:18604193333").item.ts-icon-box-info-03.in-light
                  .icon.color--orange
                    i.ts-icon.la.la-phone
                  .content
                    strong.fs--14 212 386 5575
                    span Free call
              a(href="#js-mobile-menu-btn").ts-btn-mobile-menu
                i.ts-icon.la.la-bars
        .ts-header.ts-header-07.d-none.d-lg-block
          .container
            .ts-header-07-inner
              .ts-header-07-left
                nav.ts-main-menu.style-01.sub-icon.caret
                  +navigation
              .ts-header-07-right.pl-4
                .ts-social-list-01.in-dark.align-right.pl-3
                  +tsSocialList01

    .mb-7
      .header-container
        .ts-topbar.ts-topbar-06.in-dark.bg--color1
          .container
            .ts-topbar-06-inner
              .ts-topbar-06-left
                .item.ts-language.in-dark.justify-content-end
                  +selectLanguage
              .ts-topbar-06-right
                .item.ts-icon-box-info-01.in-dark
                  i.ts-icon.la.la-map-marker
                  span 1010 Avenue of the Moon
                .item.ts-icon-box-info-01.in-dark
                  i.ts-icon.la.la-clock
                  span Mon - Sat 8.00 - 18.00. Sunday CLOSED
                .item.ts-icon-box-info-01.in-dark
                  i.ts-icon.la.la-phone
                  a(href="tel:18604193333") +321 123 456 7
        .ts-header.ts-header-08.bg--white
          .container
            .ts-header-08-inner
              .ts-header-08-left
                a.ts-header-logo-wrap(href="index.html")
                  img.header-logo(src="images/logo-dark.png", alt="logo")
              .ts-header-08-right.d-none.d-lg-flex
                nav.ts-main-menu.mr-5.style-02.sub-icon.caret
                  +navigation
                .ts-header-08-control
                  .item.ts-social-list-01.align-right
                    a(href="#", data-toggle="tooltip", data-placement="bottom", data-original-title="facebook")
                      i.ts-icon.lab.la-facebook-square
                    a(href="#", data-toggle="tooltip", data-placement="bottom", data-original-title="twitter")
                      i.ts-icon.lab.la-twitter
                    a(href="#", data-toggle="tooltip", data-placement="bottom", data-original-title="instagram")
                      i.ts-icon.lab.la-instagram
                  .item.search-popup-btn.js-search-popup-btn
                    +popupSearch
                  .item.btn-cart.has-notify
                    +cart
              a(href="#js-mobile-menu-btn").ts-btn-mobile-menu
                i.ts-icon.la.la-bars
  
  nav#js-mobile-menu-btn
    +navigation

  +control
append plugins  
  +lib
append script
  script(src="js/main.min.js")
  script.
    const headerMode = $('#js-header-mode');
    const headerSubColor = $('#js-header-sub-color');
    const headerActiveLink = $('#js-header-active-link');
    const headerSubIcon = $('#js-header-sub-icon');
    const headerDivider = $('#js-header-divider');
    const headerDividerColor = $('#js-header-divider-color');
    
    const headerBackground = $('.js-header-playground .ts-header');
    const mainMenu = $('.js-header-playground .ts-main-menu');

    headerMode.on('change', function(e) {
      headerBackground.removeClass('bg--white bg--color1 bg--black bg-transparent');
      headerBackground.addClass(e.target.value);
      mainMenu.removeClass('in-dark color-theme');
      if(e.target.value !== 'bg--white') {
        mainMenu.addClass('in-dark');
      }
    })

    headerSubColor.on('change', function(e) {
      mainMenu.removeClass('sub-dark sub-color-theme');
      mainMenu.addClass(e.target.value);
    })

    headerActiveLink.on('change', function(e) {
      mainMenu.removeClass('active-link active-line-bottom active-line-top active-line-bottom-top active-dot active-background active-background-skewX active-line-through');
      mainMenu.addClass(e.target.value);
    })

    headerSubIcon.on('change', function(e) {
      mainMenu.removeClass('sub-icon caret plus');
      mainMenu.addClass(e.target.value);
    })

    headerDivider.on('change', function(e) {
      mainMenu.removeClass('divider line dot dot-black square square-black diamond diamond-black');
      mainMenu.addClass(e.target.value);
    })

    headerDividerColor.on('change', function(e) {
      if(headerDividerColor.is(':checked')) {
        mainMenu.addClass('divider-color');
      } else
      mainMenu.removeClass('divider-color');
    })

