extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/control/control
append head
  title="Component - Icon Boxes"
  link(href="css/main.min.css" rel="stylesheet")
append header
append content
  .bg--gray60.py-7
    .container
      .card.mb-3.d-block.bg-dark.border-0
        .card-body
          .row
            .col-lg-4
              .ts-icon-box-info-01.in-dark
                i.ts-icon.la.la-phone
                a(href="tel:18604193333") 1860-419-3331
            .col-lg-4
              .ts-icon-box-info-01.in-dark
                i.ts-icon.la.la-envelope
                a(href="mailto:contact@ananci.com") consultant@ananci.com
            .col-lg-4
              .ts-icon-box-info-01.in-dark
                i.ts-icon.la.la-clock-o
                span Mon - Fri: 8am - 6pm

      .card.mb-3.d-block.bg-dark.border-0
        .card-body
          .row
            .col-lg-4
              .ts-icon-box-info-02.in-dark
                .ts-box-square-01
                  i.ts-icon.la.la-phone
                .content
                  a(href="tel:0110-126-1111") 0110-126-1111
            .col-lg-4
              a(href="tel:18604193333").item.ts-icon-box-info-02.in-dark
                .ts-box-square-01
                  i.ts-icon.la.la-phone
                .content
                  span Call us now
                  span 1860-419-3331
            .col-lg-4
              .ts-icon-box-info-03.in-light
                .icon.color--orange
                  i.ts-icon.la.la-map-marker
                .content
                  span 1010 Avenue of the Moon
                  strong New York, NY 10018 US.

      .card.mb-3.d-block.bg-dark.border-0
        .card-body
          .row
            .col-lg-4
              .ts-icon-box-04.mb-4.in-dark
                .ts-box-square-01.color--color1.bg--white.bd--white
                  i.ts-icon.la.la-bar-chart
                .ts-icon-box-04-content
                  h5.ts-icon-box-04-content-title Icon Box 01
                  span.ts-icon-box-04-content-desc Donec malesuada urna porta tellus feugiat, Donec malesuada urna porta.

      .card.mb-3.d-block.bg--gainsboro.border-0
        .card-body
          .row
            .col-lg-4
              .ts-icon-box-02
                .ts-icon-box-02-icon.bg--color1
                  i.ts-icon.la.la-suitcase
                .ts-icon-box-02-content
                  h5.title Icon Box 02
                  p.desc Donec lacinia mi rutrum sagittis consequat. Donec sagittis, tellus sodales sollicitudin commodo, risus urna interdum massa
      
      .card.mb-3.d-block.bg--gainsboro.border-0
        .card-body
          .row
            .col-lg-4
              .ts-icon-box-01
                i.ts-icon.la.la-suitcase
                .ts-icon-box-02-content
                  h5.title Icon Box 01
                  p.desc Donec lacinia mi rutrum sagittis consequat. Donec sagittis, tellus sodales sollicitudin commodo, risus urna interdum massa

      .card.mb-3.d-block.bg--gainsboro.border-0
        .card-body
          .row
            .col-lg-6
              .ts-icon-box-03
                .ts-icon-box-03-icon
                  i.ts-icon.la.la-suitcase
                .ts-icon-box-03-content
                  h5.title Icon Box 03
                  p.desc Donec lacinia mi rutrum sagittis consequat. Donec sagittis, tellus sodales sollicitudin commodo, risus urna interdum massa
                  a(href="#").ts-btn.btn-outline-color4 Learn More
      
      .card.mb-3.d-block.bg--white.border-0
        .card-body
          .row
            .col-lg-4
              .ts-icon-box-05
                svg.ts-icon-box-05-layer(viewbox="0 0 221 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                  g(stroke="none" fill-rule="evenodd")
                    polygon.layer-01(points="0 0 174 0 0 47")
                    polygon.layer-02(points="221 0 0 0 221 47")
                .ts-icon-box-05-inner
                  i.ts-icon.la.la-pie-chart
                  .ts-icon-box-05-content
                    h3.title Icon Box 05
                    h5.sub-title Lorem Ipsum dore si amnet
                    p.desc Donec lacinia mi rutrum sagittis consequat. Donec sagittis, tellus sodales sollicitudin commodo, risus urna interdum massa
                    a(href="#").ts-btn.btn-outline-color1 Learn More

  +control
append plugins  
  +lib
append script
  script(src="js/main.min.js")
  
  
    

    


  
