

extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/team/team
include modules/portfolio/portfolio
include modules/services/services
include modules/footer/footer
include modules/control/control
append head
  title="Index - Demo"
  link(href="css/main.min.css" rel="stylesheet")
append header
  +headerHome03

append content
  .hero
    img(src='images/demo.jpg', alt='cover')
    .container
      .row
        .inner
          .content
            h2 BIFIRM
            h4.mb-4 An awesome site template for FINANCE & BUSINESS
            p BiFirm best suited for corporate website like Financial Advisor, Accountant, Consulting Firms, insurance, loan, tax help, Investment firm etc... BIFIRM will be the greate choice.
            p.mb-4 Thank for your time!
            a.ts-btn.btn-color1.btn-lg.px-4(href="home_01.html") DISCOVER MORE

append plugins  
  +lib
append script
  script(src="js/main.min.js")
