extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/services/services
include modules/footer/footer
include modules/control/control
append head
  title="Services - Services 04"
  link(href="css/main.min.css" rel="stylesheet")
  //- replace your color below
  //- link(href="css/colors/colors.min.css" rel="stylesheet")
append header
  +headerHome04

append content
  .ts-sub-header-02.border-bottom
    .container
      .row
        .col-lg-12
          .sub-header-inner
            h2 Services
            nav(aria-label="breadcrumb")
              ol.ts-breadcrumb-01
                li.breadcrumb-item
                  a(href="home_01.html") Home
                li.breadcrumb-item.active(aria-current="page") Our Services

  .home-02-services.py-lg-7.py-5
    .container
      .row
        .col-lg-12.mb-5
          .ts-section-heading-01.align-center.mb-4
            h2 Managing Your Present And Future Finances
          p.text-center.heading-desc We're supporting the finance industry with an extensive range of solutions to meet ever-increasing digital and customer expectations and regulatory demand. These challenges, alongside the need to lower the cost base, optimise multi-channel usage and explore new technologies, mean more organisations are partnering with us.
      .row-g-40.services-wrap
        .col-lg-6.mb-40
          +services10('bifirm-icon-coin', 'Insurance Consulting', 'We here to help', 'We help leading insurers across the globe meet their strategic and operational goals.')
        .col-lg-6.mb-40
          +services10('bifirm-icon-bar-chart', 'Financial Planning', 'Help you achieve your goals in life', "Financial Planning is an ongoing process to help you make sensible decisions about money that can help you achieve your goals in life; it's not just about buying products like a pension or an ISA. ... It's about getting organised; being in control of your finances rather than letting your finances control you.")
        .col-lg-6.mb-lg-0.mb-40
          +services10('bifirm-icon-sprout', 'Investments Management', 'Get solutions that fit your goals', 'Investing in a managed portfolio means getting the help you need to pursue your financial goals. Just answer a series of questions and TD Ameritrade Investment Management, LLC will recommend a portfolio to fit your needs.')
        .col-lg-6
          +services10('bifirm-icon-home', 'Retirement Planning', 'Confidence in the future', 'Plan your retirement with effective protection and savings solutions for a wonderful independent retirement.')

  .container
    .ts-divider-02

  .home-05-why-us.bg--white.py-5.py-lg-7
    .container
      .row
        .col-lg-8.pr-lg-5.mb-5.mb-lg-0
          .ts-section-heading-01
            h2 Why You Should Choose Us?
          p.mb-lg-5 The highest levels of service and technical expertise from experts all over the world. Together we understand the challenges you face and the importance of firm decisions... We will help you to find the right solutions, quickly and effectively.
          .d-md-flex.align-items-center
            .left.mr-md-4.my-md-0.my-4
              img.thumb(src='images/mockup-blanka-03.png', alt='demo')
            .right
              ul.list-style-01.list-square.color.mb-lg-4
                li FULLY RESPONSIVE
                li CLEAN DESIGN
                li PORTFOLIO COLUMNS
                li DEEP RESEARCH
                li 07 HOME PAGES
                li AND MANY MORE...
              a(href="about_01.html").ts-btn.btn-color1 More About Us
                i.ts-icon.la.la-angle-right.pl-3

        .col-lg-4.pl-lg-0
          .ts-section-heading-01.pl-lg-5
            h2 Get A CallBack
          form.call-back-form-05.border-lg-left.pl-lg-5
            .row
              .col-lg-12.consultant-select-wrap.mb-4
                p How can we help:
                +selectDiscuss('line')
              .col-lg-12.mb-4
                input.ts-input-line(type="text" placeholder="Your Name")
              .col-lg-12.mb-4
                input.ts-input-line(type="text" placeholder="Your Phone")
              .col-lg-12.pt-2
                a(href="#").ts-btn.btn-color1 Submit

  .home-01-cta.py-5.bg--whitesmoke
      +boxCta01

  +footer04

  +popupSearch

  +control
append plugins
  +lib
append script
  script(src="js/header-home-04.min.js")
  script(src="js/main.min.js")


