extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/services/services
include modules/footer/footer
include modules/control/control
append head
  title="Services - Services 04"
  link(href="css/main.min.css" rel="stylesheet")
append header
  +headerHome04

append content
  .ts-sub-header-02.border-bottom
    .container
      .row
        .col-lg-12
          .sub-header-inner
            h2 Services
            nav(aria-label="breadcrumb")
              ol.ts-breadcrumb-01
                li.breadcrumb-item
                  a(href="home_01.html") Home
                li.breadcrumb-item.active(aria-current="page") Our Services

  .home-05-services.py-lg-7.py-5
    .container
      .row
        .col-lg-12.mb-lg-5
          .ts-section-heading-01.align-center
            h2 Choose Dotted Template For Your Purpose
          p.font-italic.text-center Phasellus id lacus neque. Proin vestibulum leo at turpis rhoncus, sed lacinia sem mollis. Etiam cursus bibendum dictum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam auctor eu nunc nec facilisis. Duis in felis eget eros tristique ornare. Maecenas volutpat, nisi id pretium imperdiet, odio neque pellentesque erat.
      .row-g-40
        .col-lg-4.mb-40
          +services13('bifirm-icon-employees', 'Accounting Advisory', 'Support for accounting challenges', 'Designed to deliver more timely and accurate reporting, accounting change standards pose significant challenges.')
        .col-lg-4.mb-40
          +services13('bifirm-icon-settings', 'Finance Operations', 'Unlock productivity, Empower workforce', 'Finance Operations Management provides seamless cross collaboration through intelligent work management and digital workflows that help to unlock productivity, empower workforce and deliver predictable outcomes for your finance processes.')
        .col-lg-4.mb-40
          +services13('bifirm-icon-sprout', 'Investments Management', 'Get solutions that fit your goals', 'Investing in a managed portfolio means getting the help you need to pursue your financial goals. Just answer a series of questions and TD Ameritrade Investment Management, LLC will recommend a portfolio to fit your needs.')
        .col-lg-4
          +services13('bifirm-icon-home', 'Retirement Planning', 'Confidence in the future', 'Plan your retirement with effective protection and savings solutions for a wonderful independent retirement.')
        .col-lg-4
          +services13('bifirm-icon-coin', 'Insurance Consulting', 'We here to help', 'We help leading insurers across the globe meet their strategic and operational goals.')
        .col-lg-4
          +services13('bifirm-icon-bar-chart', 'Financial Planning', "Financial Planning is an ongoing process to help you make sensible decisions about money that can help you achieve your goals in life; it's not just about buying products like a pension or an ISA. ... It's about getting organised; being in control of your finances rather than letting your finances control you.")

  .bg--color8.py-3
    .container
      .row
        .col-lg-12
          .ts-box-cta-01.in-dark
            .left.pr-lg-4
              h3.box-cta-title Quisque hendrerit sed lorem nec ornare. Proin sed turpis at odio molestie cursus.
              p.box-cta-desc Fusce nec velit elementum arcu tincidunt venenatis blandit id lorem. Cras commodo risus massa, at volutpat neque hendrerit a. Ut sed auctor nisl. Quisque pulvinar urna nec diam congue, quis accumsan arcu dapibus.
            .right
              a(href="/").ts-btn.btn-color1.btn-lg PURCHASE NOW 
                i.ts-icon.la.la-arrow-circle-right

  .bg--white.py-lg-7.py-5
    .container
      .row
        .col-lg-12
          .ts-section-heading-01.align-center
            h2 Our Great Partners
      .row-g-40
        .col-lg-3.mb-40
          .border
            img(src="images/partner-logo-01.svg", alt='cover')
        .col-lg-3.mb-40
          .border
            img(src="images/partner-logo-02.svg", alt='cover')
        .col-lg-3.mb-40
          .border
            img(src="images/partner-logo-03.svg", alt='cover')
        .col-lg-3.mb-40
          .border
            img(src="images/partner-logo-04.svg", alt='cover')
        .col-lg-3
          .border
            img(src="images/partner-logo-05.svg", alt='cover')
        .col-lg-3
          .border
            img(src="images/partner-logo-06.svg", alt='cover')
        .col-lg-3
          .border
            img(src="images/partner-logo-07.svg", alt='cover')
        .col-lg-3
          .border
            img(src="images/partner-logo-04.svg", alt='cover')

  +footer04

  +popupSearch

  +control
append plugins  
  +lib
append script
  script(defer src="js/main.min.js")
  

