extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/services/services
include modules/footer/footer
include modules/control/control
append head
  title="Services - Services 01"
  link(href="css/main.min.css" rel="stylesheet")
  //- replace your color below
  link(href="css/colors/colors.min.css" rel="stylesheet")
append header
  +headerHome04

append content
  .ts-sub-header-02.border-bottom
    .container
      .row
        .col-lg-12
          .sub-header-inner
            h2 Services
            nav(aria-label="breadcrumb")
              ol.ts-breadcrumb-01
                li.breadcrumb-item
                  a(href="home_01.html") Home
                li.breadcrumb-item.active(aria-current="page") Our Services

  .home-03-services.bg--white.py-lg-7.py-5
    .container
      .row-g-45
        .col-lg-4.mb-g-45
          +services11('images/services-cover-06.jpg', 'Accounting Advisory', 'Designed to deliver more timely and accurate reporting, accounting change standards pose significant challenges.')

        .col-lg-4.mb-g-45
          +services11('images/services-cover-01.jpg', 'Funds Management', 'Finance Operations Management provides seamless cross collaboration through intelligent work management and digital workflows that help to unlock productivity, empower workforce and deliver predictable outcomes for your finance processes.')

        .col-lg-4.mb-g-45
          +services11('images/services-cover-02.jpg', 'Investments Management', 'Investing in a managed portfolio means getting the help you need to pursue your financial goals. Just answer a series of questions and TD Ameritrade Investment Management, LLC will recommend a portfolio to fit your needs.')

        .col-lg-4
          +services11('images/services-cover-04.jpg', 'Retirement Planning', 'Plan your retirement with effective protection and savings solutions for a wonderful independent retirement.')

        .col-lg-4
          +services11('images/services-cover-03.jpg', 'Insurance Consulting', 'We help leading insurers across the globe meet their strategic and operational goals.')

        .col-lg-4
          +services11('images/services-cover-05.jpg', 'Financial Planning', "Financial Planning is an ongoing process to help you make sensible decisions about money that can help you achieve your goals in life; it's not just about buying products like a pension or an ISA. ... It's about getting organised; being in control of your finances rather than letting your finances control you.")

  .home-01-cta.bg--whitesmoke.py-5
    +boxCta01

  +footer04

  +popupSearch

  +control
append plugins
  +lib
append script
  script(src="js/header-home-04.min.js")
  script(src="js/main.min.js")


