extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/product/product
include modules/footer/footer
include modules/control/control
append head
  title="Shop - Shop SideBar"
  link(href="css/main.min.css" rel="stylesheet")
  //- replace your color below
  //- link(href="css/colors/colors.min.css" rel="stylesheet")
append header
  +headerHome04
append content
  .ts-sub-header-02.border-bottom
    .container
      .row
        .col-lg-12
          .sub-header-inner
            h2 Shop SideBar
            nav(aria-label="breadcrumb")
              ol.ts-breadcrumb-01
                li.breadcrumb-item
                  a(href="index.html") Home
                li.breadcrumb-item.active(aria-current="page") Shop SideBar

  section.bg--white.py-5.py-lg-7
    .container
      .row.vertical-divider-lg
        .col-lg-9.pr-lg-30.mb-lg-0.mb-4
          .shop-grid
            .shop-filter.mb-5
              p.woocommerce-result-count Showing 1–9 of 14 results
              form.woocommerce-ordering(method="get")
                select.js-select.border-select(name="orderby")
                  option(selected="selected" value="menu_order") Default sorting
                  option(value="popularity") Sort by popularity
                  option(value="rating") Sort by average rating
                  option(value="date") Sort by newness
                  option(value="price") Sort by price: low to high
                  option(value="price-desc") Sort by price: high to low
            .products.row.mb-4
              .col-lg-4.mb-40
                +product01('https://picsum.photos/300/300?random=10')
              .col-lg-4.mb-40
                +product01('https://picsum.photos/300/300?random=11')
              .col-lg-4.mb-40
                +product01('https://picsum.photos/300/300?random=12')
              .col-lg-4.mb-40
                +product01('https://picsum.photos/300/300?random=13')
              .col-lg-4.mb-40
                +product01('https://picsum.photos/300/300?random=14')
              .col-lg-4.mb-40
                +product01('https://picsum.photos/300/300?random=15')
              .col-lg-4.mb-40
                +product01('https://picsum.photos/300/300?random=16')
              .col-lg-4
                +product01('https://picsum.photos/300/300?random=17')
            .row.mb-4.mb-lg-0
              .col-lg-12
                nav.ts-pagination-01(aria-label="Page navigation example")
                  ul.pagination
                    li.page-item
                      a.page-link(href="#")
                        i.ts-icon.la.la-angle-double-left
                    li.page-item.active
                      a.page-link(href="#") 1
                    li.page-item
                      a.page-link(href="#") 2
                    li.page-item
                      a.page-link(href="#") 3
                    li.page-item
                      a.page-link(href="#") ...
                    li.page-item
                      a.page-link(href="#") 25
                    li.page-item
                      a.page-link(href="#")
                        i.ts-icon.la.la-angle-double-right

        .col-lg-3.pl-lg-30
          .main-sidebar
            aside.widget.widget_search
              form.form-inline(action="POST" method="get" role="search")
                .input-group.w-100
                  input.ts-input-grey.border-right-0(type="search" name="s" value="" placeholder="Search …")
                  .input-group-append
                    button.ts-btn.btn-color1(type="submit")
                      i.ts-icon.la.la-search.fs--18
            aside.widget.widget-catalog
              h3.widget-title
                | Categories
              ul
                li.cat-item
                  a(href="#") Business Market
                  |  (5)
                li.cat-item
                  a(href="#") Socials Network
                  |  (12)
                li.cat-item
                  a(href="#") Team Work
                  |  (10)
                li.cat-item
                  a(href="#") Product Services
                  |  (9)
                li.cat-item
                  a(href="#") Socials Ecommerce
                  |  (6)
            aside.widget.widget-text
              .ts-box-contact.bg--whitesmoke.p-4
                h4.mb-4 How can we help you?
                p Contact us at the Consulting WP office nearest to you or submit a business inquiry online.
                a(href="#").ts-btn.btn-color1.px-4
                  i.las.la-phone-volume.fs--18.mr-3
                  | Contact
            aside.widget.widget-tags
              h3.widget-title
                | Tags
              ul
                li
                  a(href="#") audio
                li
                  a(href="#") gallery
                li
                  a(href="#") image
                li
                  a(href="#") music
                li
                  a(href="#") photo
                li
                  a(href="#") quote
                li
                  a(href="#") text
                li
                  a(href="#") video
                li
                  a(href="#") vimeo
                li
                  a(href="#") youtube
            aside.widget.widget-product-list
              h3.widget-title Top Rate Product
              ul
                li
                  +product02('https://picsum.photos/150/150?random=10')
                li
                  +product02('https://picsum.photos/150/150?random=12')
                li
                  +product02('https://picsum.photos/150/150?random=14')

  +footer04

  +popupSearch

  +control
append plugins
  +lib
append script
  script(src="js/header-home-04.min.js")
  script(src="js/main.min.js")


