extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/team/team
include modules/blog/blog
include modules/portfolio/portfolio
include modules/services/services
include modules/testimonial/testimonial
include modules/footer/footer
include modules/control/control
append head
  title="Team Page - 01"
  link(href="css/main.min.css" rel="stylesheet")
append header
  +headerHome04

append content

  .ts-sub-header-02.border-bottom
    .container
      .row
        .col-lg-12
          .sub-header-inner
            h2 Our Team
            nav(aria-label="breadcrumb")
              ol.ts-breadcrumb-01
                li.breadcrumb-item
                  a(href="home_01.html") Home
                li.breadcrumb-item.active(aria-current="page") Our Team

  .py-lg-7.py-5.bg--whitesmoke.team-01
    .container
      .row.mb-5
        .col-lg-12.text-center
          h2.mb-3 Find experts and executives in finance with BiFirm
          p.w-75.mx-auto At BiFirm, we provide our advisors with the independent research and other resources needed so they can give you objective advice — and you, in turn, can make informed decisions as you pursue your financial goals.
      .row-g-40
        each item in teams.data
          .col-lg-4.col-md-6
            +team07(item.cover, item.name, item.title, 'Ullamco minim in enim consectetur labore voluptate et non non. Officia dolor qui cupidatat tempor qui ex labore veniam dolore.')

  .team-01-hr.py-7
    .ts-overlay
    .container
      .row
        .col-lg-12
          .ts-box-cta-01.in-dark
            .left.pr-md-4
              h3.box-cta-title Our business is built on a foundation of thoughtful client relationships.
              p.box-cta-desc Our aim is to provide the highest quality service to you and your business. We are transparent about all our costs and services, and will guide you through every step of the process.
            .right
              a(href="/").ts-btn.btn-color1.btn-lg PURCHASE NOW
                i.ts-icon.la.la-arrow-circle-right

  +footer04

  +popupSearch

  +control
append plugins
  +lib
append script
  script(src="js/main.min.js")

