extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/team/team
include modules/control/control
append head
  title="Component - Project Card"
  link(href="css/main.min.css" rel="stylesheet")
append header
append content
  .bg--gray60.py-7
    .container
      .card.mb-3.d-block.bg-light.border-0
        .card-body
          .row
            .col-lg-7
              +team06("https://i.pravatar.cc/600?img=1", 'Team Card 01', 'Operations Manager')
      
      .card.mb-3.d-block.bg-light.border-0
        .card-body
          .row
            .col-lg-7
              +team05("https://i.pravatar.cc/600?img=2", 'Team Card 02', 'Operations Manager')
      
      .card.mb-3.d-block.bg-light.border-0
        .card-body
          .row
            .col-lg-4
              .ts-team-card-02
                .card-cover
                  img.card-img(src='https://i.pravatar.cc/600?img=11', alt="avatar")
                .card-body
                  h4.team-card-name Adam Larson
                  p.team-card-title Financial Consultant
                  p.team-card-desc Ullamco minim in enim consectetur labore voluptate et non non. Officia dolor qui cupidatat tempor qui ex labore veniam dolore.
                .card-footer
                  a(href="#").hcl--facebook
                    i.ts-icon.la.la-facebook-square
                  a(href="#").hcl--twitter
                    i.ts-icon.la.la-twitter
                  a(href="#").hcl--instagram
                    i.ts-icon.la.la-instagram
                  a(href="team_detail.html").read-more
                    i.ts-icon.la.la-angle-right
      
      .card.mb-3.d-block.bg-light.border-0
        .card-body
          .row
            .col-lg-4
              .ts-team-card-03
                .card-cover
                  svg.ts-team-card-03-layer(viewbox="1 1 240 120" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                    g(stroke="none" fill-rule="evenodd")
                      //- path.layer-01(d="M244,1 L1,1 L1,105 C13.947828,76.9985587 32.5389132,57.0267296 56.7732557,45.0845126 C81.0075982,33.1422956 143.416513,18.4474581 244,1 Z")
                      path.layer-01(d="M241,1 L1,1 L1,121 C22.4335969,80.1669811 45.1179719,52.8607311 69.053125,39.08125 C92.9882781,25.3017689 150.303903,12.6080189 241,1 Z")
                  img.card-img(src='https://i.pravatar.cc/600?img=11', alt="avatar")
                  .team-card-info
                    h4.team-card-name Adam Larson
                    p.team-card-title Financial Consultant 
                .card-body
                  p.team-card-desc Ullamco minim in enim consectetur labore voluptate et non non. Officia dolor qui cupidatat tempor qui ex labore veniam dolore.
                .card-footer
                  a(href="#").hcl--facebook
                    i.ts-icon.la.la-facebook-square
                  a(href="#").hcl--twitter
                    i.ts-icon.la.la-twitter
                  a(href="#").hcl--instagram
                    i.ts-icon.la.la-instagram
                  a(href="team_detail.html").read-more
                    i.ts-icon.la.la-angle-right
      
      svg.ts-team-card-04-layer(height="0" width="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
        defs
          clippath#ts-team-card-04-clip(clipPathUnits="objectBoundingBox")
            path.layer-01(transform="scale(0.0012345, 0.00098814)" d="M0.523749826,0.5 C0.507918786,2.82739485 0.5,5.1557469 0.5,7.48502994 C0.5,555.361288 438.60968,999.5 979.041916,999.5 C985.869691,999.5 992.689294,999.429109 999.5,999.287507 L999.5,0.5 L0.523749826,0.5 Z" stroke="#979797" fill="#D8D8D8")
      .card.mb-3.d-block.bg-light.border-0
        .card-body
          .row
            .col-lg-4
              .ts-team-card-04
                .card-cover
                  .team-card-info
                    h4.team-card-name Adam Larson
                    p.team-card-title Financial Consultant
                  img.card-img(src='https://i.pravatar.cc/600?img=11', alt='cover')
                .card-body
                  p.team-card-desc Ullamco minim in enim consectetur labore voluptate et non non. Officia dolor qui cupidatat tempor qui ex labore veniam dolore.
                .card-footer
                  a(href="#").hcl--facebook
                    i.ts-icon.la.la-facebook-square
                  a(href="#").hcl--twitter
                    i.ts-icon.la.la-twitter
                  a(href="#").hcl--instagram
                    i.ts-icon.la.la-instagram
                  a(href="team_detail.html").read-more
                    i.ts-icon.la.la-angle-right
      
  +control
append plugins  
  +lib
append script
  script(src="js/main.min.js")
