extends modules/layout/layout.pug
include modules/script/lib
include modules/header_mixin/header_mixin
include modules/team/team
include modules/blog/blog
include modules/portfolio/portfolio
include modules/services/services
include modules/testimonial/testimonial
include modules/footer/footer
include modules/control/control
append head
  title="Team Page - 01"
  link(href="css/main.min.css" rel="stylesheet")
append header
  +headerHome04
  
append content

  .ts-sub-header-02.border-bottom
    .container
      .row
        .col-lg-12
          .sub-header-inner
            h2 Our Team
            nav(aria-label="breadcrumb")
              ol.ts-breadcrumb-01
                li.breadcrumb-item
                  a(href="home_01.html") Home
                li.breadcrumb-item.active(aria-current="page") Our Team
  
  .py-lg-7.py-5.bg--whitesmoke.team-01
    .container
      .row.mb-5
        .col-lg-12.text-center
          h2.mb-3 WE ARE BIFIRM
          h5 We’re help your vulputate bibendum justo sed, tincidunt quisque dictum eget dolor vel maximus.
      .row-g-40
        - for(var i = 1; i < 7; i ++) {
          .col-lg-4.col-md-6
            +team06('https://i.pravatar.cc/600?img=' + i, 'Adam Larson', 'Financial Consultant', 'Ullamco minim in enim consectetur labore voluptate et non non. Officia dolor qui cupidatat tempor qui ex labore veniam dolore. Officia dolor qui cupidatat tempor qui ex labore veniam dolore.')
        - }

  .team-01-hr.py-7
    .ts-overlay
    .container
      .row
        .col-lg-12
          .ts-box-cta-01.in-dark
            .left.pr-lg-4
              h3.box-cta-title Quisque hendrerit sed lorem nec ornare. Proin sed turpis at odio molestie cursus.
              p.box-cta-desc Fusce nec velit elementum arcu tincidunt venenatis blandit id lorem. Cras commodo risus massa, at volutpat neque hendrerit a. Ut sed auctor nisl. Quisque pulvinar urna nec diam congue, quis accumsan arcu dapibus.
            .right
              a(href="/").ts-btn.btn-color1.btn-lg WE ARE HIRING
                i.ts-icon.la.la-arrow-circle-right

  +footer04

  +popupSearch

  +control
append plugins  
  +lib
append script
  script(src="js/main.min.js")
  script.
    
